@import 'src/style/modules';

/*
  Inline Label Editor
  ------------------------------------------------------------------------------
*/

$inline-label-editor--tooltip: 12px;

.inline-label-editor {
  min-height: 18px;
  position: relative;
  display: flex;
  align-items: center;
}

.inline-label-editor--tooltip {
  position: absolute;
  top: calc(100% + #{$inline-label-editor--tooltip});
  left: 9px;
  transform: translateX(-50%);
  width: 320px;
  background-color: $g5-pepper;
  padding: $ix-marg-c;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: $radius;
  @extend %drop-shadow;
  z-index: 1000;

  &:after {
    content: '';
    border: $inline-label-editor--tooltip solid transparent;
    border-bottom-color: $g5-pepper;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
  }
}

.inline-label-editor--heading {
  margin-top: 0;
  user-select: none;
  text-align: center;
  color: $g13-mist;
  margin-bottom: $ix-marg-c;
}

.inline-label-editor--menu-container {
  background-color: $g3-castle;
  height: 250px;
  border-radius: $radius;
  overflow: hidden;
  margin-top: $ix-marg-a;
}

.inline-label-editor--menu-container .fancy-scroll--track-h {
  display: none;
}

.inline-label-editor--menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
}

.inline-label-editor--menu-item {
  display: flex;
  align-items: flex-start;
  padding: $ix-marg-a $ix-marg-b;
  transition: background-color 0.25s ease;

  &.active {
    background-color: $g6-smoke;
  }

  &.active,
  &:hover {
    cursor: pointer;
  }
}

.inline-label-editor--create-new {
  min-height: 26px;
  font-size: 13px;
  font-weight: 500;
  color: $g11-sidewalk;
  transition: background-color 0.25s ease, color 0.25s ease;

  strong {
    font-weight: 900;
    color: $g15-platinum;
  }

  &.active {
    color: $g15-platinum;

    strong {
      color: $g18-cloud;
    }
  }
}

.inline-label-editor--empty {
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $g9-mountain;
  font-style: italic;
  min-height: 30px;
  line-height: 30px;

  &:first-child {
    margin-bottom: $ix-marg-b - ($ix-border / 2);
  }
}

.inline-label-editor--selection {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: $ix-marg-c;
}

.inline-label-editor--remove-all {
  margin-top: $ix-marg-b;
  margin-left: $ix-marg-b;
}

.inline-label-editor--selected,
.inline-label-editor--none-selected {
  flex: 1 0 0;
  margin-top: $ix-marg-b;
}

.inline-label-editor--none-selected {
  font-size: 13px;
  color: $g10-wolf;
  font-weight: 500;
  font-style: italic;
  user-select: none;
}
