@import 'src/style/modules';

/*
  Resource Labels
  ------------------------------------------------------------------------------
*/

$label-margin: $ix-border / 2;

.resource-labels {
  width: 100%;
}

.resource-labels--margin {
  width: calc(100% + #{$label-margin * 2});
  position: relative;
  left: $label-margin * -2;
  display: flex;
  flex-wrap: wrap;
  padding: $label-margin;

  > .label {
    margin: $label-margin;
  }
}

.resource-labels--empty {
  color: $g9-mountain;
  font-style: italic;
  font-size: $form-xs-font;
  font-weight: 500;
  font-family: $ix-text-font;
}
