/*
  Onboarding Styles
  ------------------------------------------------------------------------------
*/

/* First & Last Steps */
.wizard--bookend-step {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .button {
    position: relative;
    white-space: nowrap;
    margin: 0 $ix-marg-a;
  }
}

.splash-logo {
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  flex: .5;

  &.primary {
    background-image: url('../../assets/images/cubo_doodle.svg');
  }

  &.secondary {
    background-image: url('../../assets/images/cubo_doodle_green.svg');
  }
  &.secondary + h3 {
    margin-top: $ix-marg-d;
  }
}

/* General */
.wizard-contents {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  border-radius: $radius;
  background-color: $g2-kevlar;
  margin: $ix-marg-d;
  margin-top: $ix-marg-a;
  flex-grow: 1;
  width: 100%;
}

.wizard-step--container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $g3-castle;
  border-radius: $radius;
  padding: $ix-marg-c;
  padding-bottom: 0;
  flex: 1 0 100%;
}

.side-bar.show + .wizard-step--container {
  flex: 1 0 calc(100% - 240px);
}

.wizard-step--group {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.onboarding-step {
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.wizard-step--scroll-area {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: calc(100% - 102px);
  border: $ix-border solid $g5-pepper;
  border-radius: $ix-radius;
}

.buttonless {
  .wizard-step--scroll-area {
    height: calc(100% - 16px);
  }
}

.wizard--skippable {
  .wizard-step--scroll-area {
    height: calc(100% - 147px);
  }
}

.wizard-step--scroll-content {
  width: 100%;
  max-width: 90%;
  min-height: 100%;
  margin: o auto $ix-marg-d auto;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.wizard-step--grid-container {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.wizard-step--filter {
  align-self: flex-end;
  margin: 20px;
}

/* Buttons */
.wizard--button-container {
  position: absolute;
  bottom: $ix-marg-d;
  left: 0;
  right: 0;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  
  .wizard--skip-container {
    width: 100%;
    display: inline-flex;
    justify-content: center;
      
    .button {
      margin: $ix-marg-b 0 0 0;
    }
  }
}

.wizard--button-bar {
  display: inline-flex;
  flex-shrink: 0;
  position: relative;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-wrap: nowrap;
  flex: 2;

  .button {
    position: relative;
    white-space: nowrap;
    margin: 0 $ix-marg-a;
  }
}

.wizard-step--footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: $radius;
  height: 50px;
  width: 100%;
  margin-top: 10px;
  background-color: $g6-smoke;
  text-align: center;

  > label {
    font-size: small;
    color: $g11-sidewalk;
    margin: 10px;
  }

  &.dropdown {
    justify-content: left;
    align-items: left;
    text-align: left;
  }
}

/* Titles */
.wizard-step--title {
  font-size: 32px;
  font-weight: 300;
  color: $g15-platinum;
  margin-bottom: $ix-marg-b;
  @include no-user-select();
}

.wizard-step--sub-title {
  margin-top: $ix-marg-b;
  margin-bottom: $ix-marg-d;
  font-size: 16px;
  font-weight: 400;
  color: $g11-sidewalk;
  @include no-user-select();

  a {
    color: $c-pool;
  }
}

/* Streaming */
.wizard-step--body,
.wizard-step--body-streaming {
  background-color: $g2-kevlar;
  color: $g20-white;
  padding: 25px;
  width: 100%;
  text-align: left;
  border-radius: $radius;

  > h6 {
    color: $g15-platinum;
  }

  > p {
    color: $g11-sidewalk;
    padding-bottom: 10px;
  }
}

.wizard-step--body-streaming {
  text-align: center;
  margin-top: $ix-marg-a;
}

.wizard-step--text-state {
  text-align: center;

  &.loading {
    color: $c-star;
  }
  &.success {
    color: $c-rainforest;
  }
  &.error {
    color: $c-curacao;
  }
}

.wizard-step--body-snippet {
  background-color: $g3-castle;
  border-radius: $radius;
  margin: $ix-marg-a 0;
  padding: $ix-marg-b;
  font-family: 'RobotoMono', monospace;
}

.wizard-step--body-copybutton{
  margin-left: 10px;
}

/* Line Protocol */
.wizard-step--lp-body {
  height: 280px;
  flex-shrink: 1;
  width: 100%;
  margin: $ix-marg-c auto 0 auto;
}

.wizard-step--top-container {
  width: 100%;
  padding: 40px;
  border-radius: $radius;
  background-color: $g2-kevlar;
  transition: background-color 0.25s ease, border-color 0.25s ease;
}

.wizard-step--sparkle-container {
  width: 100%;
  height: 250px;
}

.wizard-step--retry-button {
  margin-top: 20px;
}

/* Completion */

.wizard-completion--options {
  font-size: 16px;

  .wizard-completion--option {
    margin: $ix-marg-c 0;
  }

  dt {
    margin: $ix-marg-c 0;
    font-weight: 700;
    color: $g15-platinum;
  }

  dd {
    font-weight: 400;
    color: $g11-sidewalk;
  }
}

@media screen and (min-width: $grid--breakpoint-md) {
  .wizard-step--container {
    padding: $ix-marg-d;
    padding-bottom: 0;
  }

  .wizard--skippable {
    .wizard-step--scroll-area {
      height: calc(100% - 102px);
    }

    .wizard--button-container::before {
      content: "";
      flex: 1;
      visibility: hidden;
    }
  }

  .wizard--button-container {
    .wizard--skip-container {
      width: auto;
      flex: 1;
      justify-content: flex-end;
      
      .button {
        margin: 0 0 0 $ix-marg-a;
      }
    }
  }

  .onboarding-step {
    max-width: 60vw;
  }


  .buttonless {
    .wizard-step--scroll-area {
      height: calc(100% - 32px);
    }
  }

  .wizard--bookend-step {
    width: 70%;
  }
}
