/*
  Onboarding Styles
  ------------------------------------------------------------------------------
*/

.wizard-contents {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  border-radius: $radius;
  background-color: $g2-kevlar;
  margin: $ix-marg-d;
  margin-top: $ix-marg-a;
  flex-grow: 1;
  width: 100%;
}

.wizard-step--container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $g3-castle;
  border-radius: $radius;
  padding: 20px;
  flex: 1 0 100%;
  transition: flex 0.4s ease;
  transform: translate3d(0, 0, 0);
}

.side-bar.show + .wizard-step--container {
  flex: 1 0 calc(100% - 240px);
}

.wizard--button-container {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  
  .wizard--skip-button {
    position: absolute;
    right: 0;
  }
}

.wizard--button-bar {
  display: inline-flex;
  flex-shrink: 0;
  position: relative;
  min-width: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-wrap: nowrap;

  .button {
    position: relative;
    white-space: nowrap;
    margin: 0 $ix-marg-a;
  }
}

.splash-logo {
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 170px;
  margin: auto auto;

  &.primary {
    background-image: url('../../assets/images/cubo_doodle.svg');
  }

  &.secondary {
    background-image: url('../../assets/images/cubo_doodle_green.svg');
  }
}

.wizard-step--title {
  font-size: 32px;
  font-weight: 300;
  color: $g15-platinum;
  margin-top: 32px;
  margin-bottom: $ix-marg-b;
  @include no-user-select();
}

.wizard-step--sub-title {
  margin-top: $ix-marg-b;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  color: $g11-sidewalk;
  @include no-user-select();
}

.wizard-step--body,
.wizard-step--body-streaming {
  background-color: $g5-pepper;
  color: $g20-white;
  padding: 25px;
  width: 100%;
  text-align: left;
  border-radius: $radius;

  > h6 {
    color: $g15-platinum;
  }

  > p {
    color: $g11-sidewalk;
    padding-bottom: 10px;
  }
}

.wizard-step--body-streaming {
  text-align: center;
  margin-top: 30px;
}

.wizard-step--text-state {
  text-align: center;

  &.loading {
    color: $c-star;
  }
  &.success {
    color: $c-rainforest;
  }
  &.error {
    color: $c-curacao;
  }
}

.wizard-step--body-snippet {
  background-color: $g3-castle;
  border-radius: $radius;
  margin: $ix-marg-a 0;
  padding: $ix-marg-b;
  overflow-x: auto;
  font-family: 'RobotoMono', monospace;
}

.wizard-step--body-copybutton{
 margin-left:10px;
}

.wizard-step--lp-body {
  height: 280px;
  width: 750px;
  margin: 10px auto 0px auto;
}

.wizard-step--top-container {
  width: 100%;
  padding: 40px;
  max-width: 750px;
  margin: 10px auto 0 auto;
  border-radius: $radius;
  background-color: #202028;
  transition: background-color 0.25s ease, border-color 0.25s ease;
}

.wizard-step--sparkle-container {
  width: 100%;
  height: 250px;
}

.wizard-step--retry-button {
  margin-top: 20px;
}

.wizard-step--footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: $radius;
  height: 50px;
  width: 100%;
  max-width: 750px;
  margin-top: 10px;
  background-color: $g6-smoke;
  text-align: center;

  > label {
    font-size: small;
    color: $g11-sidewalk;
    margin: 10px;
  }

  &.dropdown {
    justify-content: left;
    align-items: left;
    text-align: left;
  }
}

.onboarding-step {
  width: 100%;
  max-width: 60vw;
  max-height: calc(100% - 68px);
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto 60px auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.wizard-step--grid-container {
  width: 90%;
  display: block;
  margin: 0 auto;
}