/*
    Dark Theme Styles
    ----------------------------------------------
    This stylesheet has overrides for the theme, so you are
    going to see al ot of !important =(

    This is design debt. One day the theme will not have to be overrided
*/


/*
    Dark Panel Styles
    ----------------------------------------------
*/
.row:only-child .panel,
.row:last-child .panel {
  margin-bottom: 0;
}
.panel hr {
  background-color: $g5-pepper;
}
.panel-title,
.panel-title a {
  @include no-user-select();
}
.panel-minimal {
  border: 0;

  .panel-title {
    color: $g12-forge !important;
    font-size: 19px;
    font-weight: 400 !important;
  }
  .panel-body {
    padding: 30px;
    background-color: $g3-castle;
    border: 0;
    color: $g13-mist;

    > *:first-child {
      margin-top: 0;
    }
    > *:last-child {
      margin-bottom: 0;
    }
  }
}
.panel.panel-info {
  background-color: $g3-castle;
  border: 0;

  .panel-body,
  .panel-heading {
    background-color: transparent;
  }
  .panel-body {
    padding: 0px 30px 30px 30px;
  }
  .panel-heading {
    padding: 0 30px;
    height: 60px;
    border: 0px;
    .panel-title { color: $g14-chromium;}
  }
}
.panel .panel-body table {
  margin: 0;
}

table thead th {
  @include no-user-select();
}


/*
    Dark Buttons
    ----------------------------------------------
*/
.btn {
  border: 0;
  transition:
    background-color 0.25s ease,
    color 0.25s ease,
    box-shadow 0.25s ease;
}
.btn.btn-sm {
  font-size: 13px;
  line-height: 30px !important;
  height: 30px !important;
  padding: 0 9px !important;
}
a.btn.btn-sm > span.icon,
div.btn.btn-sm > span.icon,
button.btn.btn-sm > span.icon {
  font-size: 16px;
  margin: 0 6px 0 0 ;
}
.btn.btn-xs > .icon {
  position: relative;
  top: -1px;
}

.btn.disabled,
.btn[disabled="true"],
.btn[disabled] {
  &.btn-success,
  &.btn-success:hover,
  &.btn-success:focus,
  &.btn-success:active,
  &.btn-success:hover:active,
  &.btn-success:hover:focus,
  &.btn-success:focus:active,
  &.btn-success:focus:active:hover {
    border-color: $c-emerald;
    background-color: $c-emerald;
    color: $g2-kevlar !important;
  }
  &.btn-primary,
  &.btn-primary:hover,
  &.btn-primary:focus,
  &.btn-primary:active,
  &.btn-primary:hover:active,
  &.btn-primary:hover:focus,
  &.btn-primary:focus:active,
  &.btn-primary:focus:active:hover {
    border-color: $c-sapphire;
    background-color: $c-sapphire;
    color: $g2-kevlar !important;
  }
  &.btn-info,
  &.btn-info:hover,
  &.btn-info:focus,
  &.btn-info:active,
  &.btn-info:hover:active,
  &.btn-info:hover:focus,
  &.btn-info:focus:active,
  &.btn-info:focus:active:hover {
    border-color: $g5-pepper;
    background-color: $g5-pepper;
    color: $g8-storm !important;
  }
  &.btn-danger,
  &.btn-danger:hover,
  &.btn-danger:focus,
  &.btn-danger:active,
  &.btn-danger:hover:active,
  &.btn-danger:hover:focus,
  &.btn-danger:focus:active,
  &.btn-danger:focus:active:hover {
    border-color: $c-ruby;
    background-color: $c-ruby;
    color: $g2-kevlar !important;
  }
  &.btn-warning,
  &.btn-warning:hover,
  &.btn-warning:focus,
  &.btn-warning:active,
  &.btn-warning:hover:active,
  &.btn-warning:hover:focus,
  &.btn-warning:focus:active,
  &.btn-warning:focus:active:hover {
    border-color: $c-star;
    background-color: $c-star;
    color: $g2-kevlar !important;
  }
}

/* Active state for buttons */
.btn-info.active {
  &, &:hover, &:active, &:focus {
    background-color: $g7-graphite;
    color: $g20-white;
  }
}



/*
    Dark Inputs
    ----------------------------------------------
*/
.form-group {
  margin-bottom: 9px;
}
.form-group label {
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  margin-bottom: 4px;
  padding: 0 13px;
  @include no-user-select();
}
.form-control {
  padding: 0 13px;
  background-color: $g2-kevlar !important;
  border-color: $g5-pepper !important;
  color: $g15-platinum !important;

  &:hover {
    border-color: $g6-smoke !important;
  }

  &:focus {
    border-color: $c-pool !important;
    box-shadow: 0 0 6px 0px $c-pool !important;
    color: $g20-white !important;
  }

  &--green:focus {
    border-color: $c-rainforest !important;
    box-shadow: 0 0 6px 0px $c-rainforest !important;
  }
}
.form-helper {
  margin: 4px 0 !important;
  font-weight: 400 !important;
  font-style: italic;
  line-height: 16px !important;
}
.form-group-submit {
  margin-top: 30px;
}

/* Placeholder Text */
.form-control,
textarea,
input {
  &::-webkit-input-placeholder { color: $g9-mountain; font-weight: 500 !important; }
  &::-moz-placeholder { color: $g9-mountain; font-weight: 500 !important; }
  &:-ms-input-placeholder { color: $g9-mountain; font-weight: 500 !important; }
  &:-moz-placeholder { color: $g9-mountain; font-weight: 500 !important; }
}

/* Text Selection Styling */
::selection {
  background-color: $c-pool !important;
  color: $g20-white !important;
}
::-moz-selection {
  background-color: $c-pool !important;
  color: $g20-white !important;
}

/* Green (Kapacitor) themed inputs */
.form-control--green {
  color: $c-rainforest !important;
  &:focus {color: $g20-white !important;}

  &::selection {
    background-color: $c-rainforest !important;
    color: $g20-white !important;
  }
  &::-moz-selection {
    background-color: $c-rainforest !important;
    color: $g20-white !important;
  }
}


/*
    Dark Code Samples
    ----------------------------------------------
*/
code, pre {
  font-family: 'RobotoMono', monospace !important;
}
code {
  display: inline-block;
  background-color: $g2-kevlar;
  color: $c-comet;
  border: 0 !important;
  border-radius: 2px;
  padding: 2.5px 5px 2.5px 4px;
  margin: 0 1px 0 2px;
  line-height: 11px;
}


/*
    Dark Modals
    ----------------------------------------------
*/

.modal-backdrop {
  background: $c-pool;
  background: -moz-linear-gradient(-45deg,  $c-pool 0%, $c-comet 100%);
  background: -webkit-linear-gradient(-45deg,  $c-pool 0%,$c-comet 100%);
  background: linear-gradient(135deg,  $c-pool 0%,$c-comet 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$c-pool', endColorstr='$c-comet',GradientType=1 );
}

.modal-content {
  background-color: $g3-castle;
}
.modal-header,
.modal-body,
.modal-footer {
  background-color: transparent;
  color: $g13-mist;
  padding-left: ($sidebar-width / 2);
  padding-right: ($sidebar-width / 2);
}
.modal-body {
  padding-top: 0;
  padding-bottom: 0;
}
.modal-title {
  color: $g18-cloud !important;
}
.modal-header .close {
  transition: none;
  outline: none;

  &:before,
  &:after {
    display: block;
    content: '';
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background-color: $g7-graphite;
    transition: background-color 0.25s ease;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  &:before { transform: translate(-50%,-50%) rotate(45deg); }
  &:after { transform: translate(-50%,-50%) rotate(-45deg); }

  &:hover {
    cursor: pointer;

    &:before,
    &:after {
      background-color: $g13-mist;
    }
  }
  span {
    display: none;
  }
}

/*
    Dark Toggles
    ----------------------------------------------
*/
$toggle-height-sm: 30px;
$toggle-font-sm: 13px;
$toggle-padding-sm: 9px;

$toggle-height-md: 30px;
$toggle-font-md: 13px;
$toggle-padding-md: 9px;

$toggle-border: 2px;

.toggle {
  display: inline-block;
  margin: 0;
  width: auto;
  padding: $toggle-border;
  border-radius: 3px;
  background-color: $g5-pepper;
  font-size: 0;
  white-space: nowrap;
  @include no-user-select();
}
.toggle-btn {
  border: 0;
  border-radius: 1px;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  background-color: $g3-castle;
  color: $g11-sidewalk;
  transition:
    background-color 0.25s,
    color 0.25s;

  &:hover {
    cursor: pointer;
    color: $g14-chromium;
    background-color: $g4-onyx;
  }
  &.active {
    background-color: $g5-pepper;
    color: $g18-cloud;
  }
}
.toggle-sm {
  height: $toggle-height-sm;

  .toggle-btn {
    height: ($toggle-height-sm - ($toggle-border * 2));
    line-height: ($toggle-height-sm - ($toggle-border * 2));
    padding: 0 16px;
    font-size: $toggle-font-sm;
    font-weight: 600;
  }
}


/*
    Static Form Controls
    ----------------------------------------------
*/
$form-static-checkbox-size: 16px;
.form-control-static {
  border: 2px solid $g5-pepper;
  height: auto;
  border-radius: 4px;
  padding: 7px 12px;
  position: relative;

  input[type="checkbox"] {
    position: relative;
    left: -9999px;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;

    // Faux Checkbox
    & + label {
      font-size: 14px !important;
      line-height: 16px;
      color: $g11-sidewalk;
      font-weight: 500;
      transition: color 0.25s ease;
      margin: 0;
      padding: 0 0 0 (12px + $form-static-checkbox-size) !important;
      user-select: none;
      -ms-user-select: none;
      -moz-user-selct: none;
      -webkit-user-select: none;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        width: $form-static-checkbox-size;
        height: $form-static-checkbox-size;
        background-color: $g2-kevlar;
        border: 2px solid $g5-pepper;
        border-radius: 3px;
        z-index: 2;
        transition:
          border-color 0.25s ease;
      }
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: (12px + ($form-static-checkbox-size / 2));
        transform: translate(-50%,-50%) scale(2,2);
        opacity: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $c-pool;
        z-index: 3;
        transition:
          opacity 0.25s ease,
          transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      &:hover {
        cursor: pointer;
        color: $g20-white;

        &:before {
          border-color: $g6-smoke;
        }
      }
    }
    // Faux Checkbox (Checked)
    &:checked + label {
      color: $g20-white;

      &:after {
        opacity: 1;
        transform: translate(-50%,-50%) scale(1,1);
      }
    }
  }
}

.form-control-static .radio {
  margin: 0;

  input[type="radio"] {
    position: relative;
    left: -9999px;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;

    // Faux Checkbox
    & + label {
      font-size: 14px !important;
      line-height: 16px;
      color: $g11-sidewalk;
      font-weight: 500;
      transition: color 0.25s ease;
      margin: 0;
      padding: 0 0 0 (12px + $form-static-checkbox-size) !important;
      user-select: none;
      -ms-user-select: none;
      -moz-user-selct: none;
      -webkit-user-select: none;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: $form-static-checkbox-size;
        height: $form-static-checkbox-size;
        background-color: $g2-kevlar;
        border: 2px solid $g5-pepper;
        border-radius: 50%;
        z-index: 2;
        transition:
          border-color 0.25s ease;
      }
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: ($form-static-checkbox-size / 2);
        transform: translate(-50%,-50%) scale(2,2);
        opacity: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $c-pool;
        z-index: 3;
        transition:
          opacity 0.25s ease,
          transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      &:hover {
        cursor: pointer;
        color: $g20-white;

        &:before {
          border-color: $g6-smoke;
        }
      }
    }
    // Faux Checkbox (Checked)
    &:checked + label {
      color: $g20-white;

      &:after {
        opacity: 1;
        transform: translate(-50%,-50%) scale(1,1);
      }
    }
  }
}

.dark-checkbox {
  input {
    position: absolute;
    left: -9999px;
    visibility: hidden;
  }
  label {
    display: inline-block;
    width: $form-static-checkbox-size;
    height: $form-static-checkbox-size;
    background-color: $g1-raven;
    border-radius: $radius-small;
    position: relative;
    vertical-align: middle;
    margin: 0;
    transition: background-color 0.25s ease;
  }
  label:hover {
    cursor: pointer;
    background-color: $g2-kevlar;
  }
  label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background-color: $c-pool;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(2,2);
    opacity: 0;
    z-index: 3;
    transition:
      opacity 0.25s ease,
      transform 0.25s ease;
  }
  input:checked + label:after {
    opacity: 1;
    transform: translate(-50%,-50%) scale(1,1);
  }
}

br {
  @include no-user-select();
}
