.clockface--app-wrapper.sign-up--page {
  .cf-funnel-page {
    background-image: url('../../assets/images/influxLogoBg.svg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
  }
}

.create-account--button {
  margin: 15px 0;
}

.github-logo {
  width: $icon-size-md;
  height: $icon-size-md;
  fill: $g20-white;
}

.google-logo {
  height: $icon-size-md;
  width: $icon-size-md;

  .google-logo--blue {
    fill: #3e82f1;
  }

  .google-logo--green {
    fill: #32a753;
  }

  .google-logo--red {
    fill: #e74133;
  }

  .google-logo--yellow {
    fill: #f9bb00;
  }
}

.heading--margins {
  margin-bottom: $ix-marg-c;
}

.login--forgot-password {
  color: $c-pool;
  line-height: 15px;
  text-align: left;
  cursor: pointer;
  margin-left: $ix-marg-b;
  font-size: 0.85em; // TODO(ariel): remove when clockface font resolves HeadingElement.H6 styling
}

.sign-up--form {
  min-width: 330px;
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .sign-up--form-padded-row {
    padding-top: $ix-marg-d;
  }
}

.sign-up--form-panel {
  max-width: 500px;
  width: 400px;
  height: 100%;
}

@media screen and (min-width: $cf-grid--breakpoint-md) {
  .sign-up--form-panel {
    max-width: 100%;
  }
}

.sign-up--social-button-group {
  position: relative;

  .signup-text {
    position: relative;
    right: $ix-marg-c;
  }

  .signup-icon {
    width: $form-sm-height;
    height: $form-sm-height;
    background: transparent;
    position: relative;
    float: left;
    top: $icon-margin;
  }
}
