/*
  Progress Bar Styles
  ------------------------------------------------------------------------------
*/

.wizard-overlay {
  height: calc(100vh - 206px);
  width: 100%;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  >.wizard-contents {
    width: 100%;
    min-width: 100%;
    flex-grow: 1;
    margin: 0;
  }
}

.wizard--progress-bar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  flex-shrink: 0;
}

.wizard--progress-icon {
  position: relative;
  font-size: 0;
  height: 0;
  width: 0;
  border-radius: 13px;
  background-color: $g2-kevlar;
  opacity: 0;
  display: inline-flex;
  margin-right: 0;
  flex-shrink: 0;
  color: $g7-graphite;
  transition: opacity .4s ease-in-out, width .4s ease-in-out, height .4s ease-in-out;

  > .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.wizard--progress-icon.circle-thick {
  color: $g7-graphite;
}

.wizard--progress-icon.checkmark {
  color: $c-rainforest;
}

.wizard--progress-icon.current {
  color: $c-pool;
}

.wizard--progress-icon.remove {
  color: $c-curacao;
}

.wizard--progress-title {
  font-weight: 700;
  color: $g7-graphite;
  font-size: $ix-text-base;
  transition: color .4s ease-in-out, font-size .4s ease-in-out;
}

.wizard--progress-title.checkmark {
  color: $c-rainforest;
}

.wizard--progress-title.circle-thick {
  color: $g7-graphite;
}

.wizard--progress-title.current {
  color: $g18-cloud;
}

.wizard--progress-title.remove {
  color: $c-curacao;
}

.wizard--progress-button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin: 0 $ix-marg-a;
  flex-shrink: 1;
  text-align: center;
}

.wizard--progress-button:hover {
  .wizard--progress-title {
    color: $g18-cloud;
  }
}

.unclickable {
  cursor: default;
}

.wizard--progress-connector {
  min-width: 20px;
  width: 100%;
  max-width: 70px;
  margin: 0 $ix-marg-a;
  height: 2px;
  background-color: $g7-graphite;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.wizard--progress-connector:after {
  content: '\A';
  position: absolute;
  background-color: $c-rainforest;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  border-radius: 2px;
  transition: all 0.5s;
}

.wizard--progress-connector--none:after {
  width: 0;
}

.wizard--progress-connector--some:after {
  width: 50%;
}

.wizard--progress-connector--full:after {
  width: 100%;
}

@media screen and (min-width: $grid--breakpoint-md) {
  .wizard--progress-title {
    font-size: $ix-text-base-1;
  }

  .wizard--progress-button {
    flex-shrink: 0;
  }

  .wizard--progress-icon {
    font-size: $ix-text-base;
    height: 26px;
    width: 26px;
    opacity: 1;
    margin-right: $ix-marg-b;
  }
}