/*
  Wizard Progress Header Styles
  ------------------------------------------------------------------------------
*/

.wizard--progress-header {
  position: relative;
  background-color: $g0-obsidian;
  width: 100%;
  height: 60px;
  flex-shrink: 0;
  padding: 0 $ix-marg-c;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: $radius;
  transition: height .4s ease-in-out;
}

.wizard--progress-header.hidden {
  visibility: hidden;
}

@media screen and (min-width: $grid--breakpoint-sm) {
  .wizard--progress-header {
    height: 50px;
  }
}