/*
  Wizard Overlay Styles
*/

.wizard-overlay {
  .wizard-contents {
    background-color: transparent;
    border-radius: 0;
    margin: 0;
  }
  
  .wizard-step--container {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
  
  .wizard-step--scroll-content {
    max-width: 100%;
    justify-content: flex-start;
    min-height: 0;
  }

  .wizard-step--grid-container {
    width: 90%;
  }

  .wizard-step--scroll-area {
    border: 0;
    border-radius: 0;
  }

  .responsive-grid-sizer {
    margin-top: $ix-marg-d;
  }
}


