/*
  Full Screen Wizard Styles
  ------------------------------------------------------------------------------
*/

.wizard--full-screen {
  min-width: 100%;
  min-height: 100%;
  padding: $ix-marg-d $ix-marg-e;
  z-index: 50;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wizard--credits {
  font-size: 13px;
  color: $g10-wolf;
  display: inline-flex;
  align-items: center;
  @extend %no-user-select;

  span {
    margin: 0 5px;
  }
}
