/**
 * Page-wide layout specific styles.
 */
.public_fixedDataTable_main {
  width: 100% !important;
}

.data-explorer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &__header {
    margin-bottom: 0;
    background-color: $g0-obsidian;
    color: $g15-platinum;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: $explorer-page-padding;
    padding-right: $explorer-page-padding;
    justify-content: space-between;
  }

  &-container {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .controls {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Sessions Dropdown Styles */
  .enterprise-header__left {
    flex-direction: row;
    align-items: center;
  }
  .dropdown-title {
    white-space: nowrap;
  }
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: absolute;
  left: 0;
  top: $enterprise-page-header-height;
  height: calc(100% - #{$enterprise-page-header-height});
  width: 100%;
}

.panels {
  padding: $explorer-page-padding;
  // overflow-x: hidden;
  overflow: scroll;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 100%;
  min-width: 388px;
  background: $g2-kevlar;
  background: -moz-linear-gradient(top,  $g2-kevlar 0%, $g0-obsidian 100%);
  background: -webkit-linear-gradient(top,  $g2-kevlar 0%,$g0-obsidian 100%);
  background: linear-gradient(to bottom,  $g2-kevlar 0%,$g0-obsidian 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$g2-kevlar', endColorstr='$g0-obsidian',GradientType=0 );

  &::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    border-left: 2px solid $g2-kevlar;

    &-button {
      background-color: $g0-obsidian;
    }
    &-track {
      background-color: $g0-obsidian;
    }
    &-track-piece {
      width: 10px;
      background: $g0-obsidian;
    }
    &-thumb {
      background-color: $c-pool;
      border: 6px solid $g0-obsidian;
      border-radius: 7px;
    }
    &-corner {
      background-color: $g0-obsidian;
    }
    &-resizer {
      background-color: #00f;
    }
  }
}
