/**
 * Page-wide layout specific styles.
 */
.public_fixedDataTable_main {
  width: 100% !important;
}

.data-explorer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $g1-raven;

  .page-header {
    padding-left: $explorer-page-padding;
    padding-right: ($explorer-page-padding + $scrollbar-width);
  }
  .page-header__container {
    max-width: 100%;
  }
}

.resize-container.page-contents {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.panels {
  padding: $explorer-page-padding;
  overflow: auto;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 100%;
  @include gradient-v($g2-kevlar,$g0-obsidian);
  @include custom-scrollbar($g2-kevlar,$c-pool);
}
