/**
 * Page-wide layout specific styles.
 */
.public_fixedDataTable_main {
  width: 100% !important;
}

.data-explorer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $g1-raven;

  &__header {
    margin-bottom: 0;
    background-color: $g0-obsidian;
    color: $g15-platinum;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: $explorer-page-padding;
    padding-right: $explorer-page-padding;
    justify-content: space-between;
  }

  &-container {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .controls {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Sessions Dropdown Styles */
  .enterprise-header__left {
    flex-direction: row;
    align-items: center;
  }
  .dropdown-title {
    white-space: nowrap;
  }
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: absolute;
  left: 0;
  top: $enterprise-page-header-height;
  height: calc(100% - #{$enterprise-page-header-height});
  width: 100%;
}

.panels {
  padding: $explorer-page-padding;
  overflow: auto;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 100%;
  @include gradient-v($g2-kevlar,$g0-obsidian);
  @include custom-scrollbar($g2-kevlar,$c-pool);
}
