/*
   User Page Styles
   -----------------------------------------------------------------------------
*/

@import "../../style/modules";

.recent-dashboards {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 1.25em;
}

.recent-dashboards--item {
  margin-bottom: $cf-marg-b;
  white-space: pre-wrap;
  word-break: break-all;
  padding-right: $cf-marg-c;
}

.recent-dashboards--filter {
  margin-bottom: $cf-marg-b;
}

.link-list {
  padding: 0;
  list-style: none;

  > li {
    padding: 0;
  }
}

.link-list.tutorials > li {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: $g2-kevlar;
  border-radius: $radius;
  padding: 0 $ix-marg-c;
  margin-bottom: $ix-marg-a;
}
