# This file allows teams or people to be assigned as
# automatic code-reviewers for files or directories.
#
# Here is information about how to configure this file:
# https://help.github.com/en/articles/about-code-owners

# monitoring team will help to review swagger.yml changes.
#
http/swagger.yml @influxdata/monitoring-team

# dev tools
/pkger/ @influxdata/tools-team

# Storage code
/storage/ @influxdata/storage-team
/tsdb/ @influxdata/storage-team
