{
  "AdminHttpPort":  8083,
  "AdminAssetsDir": "./admin/",
  "ApiHttpPort":    8086,
  "RaftServerPort": 8090,
  "SeedServers":    [],
  "DataDir":        "/tmp/influxdb/development/db",
  "RaftDir":        "/tmp/influxdb/development/raft",
  "ProtobufPort":   8099
}
