package reads

import (
	"context"
	"testing"
	"time"

	"github.com/google/go-cmp/cmp"
	"github.com/influxdata/influxdb/v2/storage/reads/datatypes"
	"github.com/influxdata/influxdb/v2/tsdb/cursors"
)

{{range .}}
{{$ColType := .Name}}
{{$colType := .name}}

type Mock{{$ColType}}ArrayCursor struct {
	CloseFunc func()
	ErrFunc   func() error
	StatsFunc func() cursors.CursorStats
	NextFunc  func() *cursors.{{$ColType}}Array
}

func (c *Mock{{$ColType}}ArrayCursor) Close()                      { c.CloseFunc() }
func (c *Mock{{$ColType}}ArrayCursor) Err() error                  { return c.ErrFunc() }
func (c *Mock{{$ColType}}ArrayCursor) Stats() cursors.CursorStats  { return c.StatsFunc() }
func (c *Mock{{$ColType}}ArrayCursor) Next() *cursors.{{$ColType}}Array { return c.NextFunc() }

func TestNewAggregateArrayCursor_{{$ColType}}(t *testing.T) {
{{range .Aggs}}
{{$Agg := .Name}}
	t.Run("{{$Agg}}", func(t *testing.T) {
		want := &{{$colType}}Window{{$Agg}}ArrayCursor{
			{{$ColType}}ArrayCursor: &Mock{{$ColType}}ArrayCursor{},
			res:                cursors.New{{.AccTypeName}}ArrayLen(1),
			tmp:                &cursors.{{$ColType}}Array{},
		}

		agg := &datatypes.Aggregate{
			Type: datatypes.AggregateType{{$Agg}},
		}

		got := newAggregateArrayCursor(context.Background(), agg, &Mock{{$ColType}}ArrayCursor{})

		if diff := cmp.Diff(got, want, cmp.AllowUnexported({{$colType}}Window{{$Agg}}ArrayCursor{})); diff != "" {
			t.Fatalf("did not get expected cursor; -got/+want:\n%v", diff)
		}
	})
{{end}}
}

func TestNewWindowAggregateArrayCursor_{{$ColType}}(t *testing.T) {
{{range .Aggs}}
{{$Agg := .Name}}
	t.Run("{{$Agg}}", func(t *testing.T) {
		want := &{{$colType}}Window{{$Agg}}ArrayCursor{
			{{$ColType}}ArrayCursor: &Mock{{$ColType}}ArrayCursor{},
			every:              int64(time.Hour),
			res:                cursors.New{{.AccTypeName}}ArrayLen(MaxPointsPerBlock),
			tmp:                &cursors.{{$ColType}}Array{},
		}

		agg := &datatypes.Aggregate{
			Type: datatypes.AggregateType{{$Agg}},
		}

		got := newWindowAggregateArrayCursor(context.Background(), agg, int64(time.Hour), &Mock{{$ColType}}ArrayCursor{})

		if diff := cmp.Diff(got, want, cmp.AllowUnexported({{$colType}}Window{{$Agg}}ArrayCursor{})); diff != "" {
			t.Fatalf("did not get expected cursor; -got/+want:\n%v", diff)
		}
	})
{{end}}
}
{{end}}{{/* range over each supported field type */}}
