/*
  Threshold Controls
  ------------------------------------------------------------------------------
  Used primarily within the View Editor Overlay for Single Stat, Gauge,
  and Table type cells
*/

.threshold-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
  
.threshold-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: $form-sm-height;
  margin-top: $ix-marg-b;

  > * {
    margin-left: $ix-marg-a;

    &:first-child {
      margin-left: 0;
    }
  }
}

.threshold-item--label {
  flex: 0 0 106px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $form-sm-height;
  font-weight: 600;
  font-size: $form-xs-font;
  padding-left: $ix-marg-b;
  padding-right: $ix-marg-a;
  border-radius: $radius;
  @include no-user-select();
  background-color: $g4-onyx;
  color: $g9-mountain;

  &.threshold-item--label__editable  {
    color: $g13-mist;
  }
}

.threshold-item--input {
  flex: 1 1 0;
}
