/*
  Time Format Styles
  ------------------------------------------------------------------------------
*/

@import 'src/style/modules';

.time-format--helper {
  color: $g11-sidewalk;
  margin: 0;
  font-size: 13px;
}
