/*
  Dashboards Card Grid Styles
  ------------------------------------------------------------------------------
*/

.dashboards-index__page-contents {
  .cf-dapper-scrollbars--content {
    height: 100% !important;
  }
  .cf-page-contents__fixed {
    height: 100%;
  }
  .cf-resource-list {
    height: 100%;
  }
}

.dashboards-card-grid {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 150px 150px 150px;
   grid-column-gap: $ix-marg-a;
   grid-row-gap: $ix-marg-a;
   height: 100%;

   .cf-resource-card {
      margin-bottom: 0;
   }

   .cf-resource-description {
      height: 60px;
      overflow: hidden;
   }
}

@media screen and (min-width: $cf-grid--breakpoint-sm) {
  .dashboards-card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: $cf-grid--breakpoint-md) {
  .dashboards-card-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: $cf-grid--breakpoint-lg) {
  .dashboards-card-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
