/*
  Dashboards Card Grid Styles
  ------------------------------------------------------------------------------
*/

.dashboards-index__page-contents {
  .cf-dapper-scrollbars--content {
    height: 100% !important;
  }
  .cf-page-contents__fixed {
    height: 100%;
  }
  .cf-resource-list {
    height: 100%;
  }
}

.dashboards-card-grid {
  padding-bottom: $cf-marg-d;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 152px;
  grid-column-gap: $cf-marg-a;
  grid-row-gap: $cf-marg-a;
  height: 100%;

  .cf-resource-card {
    margin-bottom: 0;
  }

  .cf-resource-description {
    height: 60px;
    overflow: hidden;
  }
}

@media screen and (min-width: $cf-grid--breakpoint-sm) {
  .dashboards-card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: $cf-grid--breakpoint-md) {
  .dashboards-card-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: $cf-grid--breakpoint-lg) {
  .dashboards-card-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
