@import "src/style/modules";

.note-editor {
  display: flex;
  flex-direction: column;
}

.note-editor--body {
  flex: 1 1 40vh;
  position: relative;
}

.note-editor--body .react-codemirror2,
.note-editor--preview {
  position: absolute;
  width: 100%;
  height: 100%;
}

.note-editor--body .react-codemirror2 {
  z-index: 1;
}

.note-editor--preview {
  background-color: $g3-castle;
  z-index: 2;
  border-width: $ix-border;
  border-style: solid;
  border-radius: $ix-radius;
  border-color: $g4-onyx;
}

.note-editor--preview-scroll {
  position: absolute !important;
}

.note-editor--markdown-container {
  padding: $ix-marg-c;
}

.note-editor--controls {
  margin-bottom: $ix-marg-c;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.centered {
    justify-content: center;
  }
}

.note-editor--radio {
  width: 220px;
}

.note-editor--footer {
  font-size: $form-sm-font;
  font-weight: 600;
  color: $g11-sidewalk;
  margin-top: $ix-marg-b;
}
