/*
  View Editor Overlay Styles
  ------------------------------------------------------------------------------
*/

.veo {
  width: calc(100vw - #{$cf-marg-e});
  height: calc(100vh - #{$cf-marg-d});
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 0 0 $cf-radius $cf-radius;
  background-color: $cf-page--background;

  .cf-page-header--fluid,
  .veo-contents {
    padding-left: $cf-marg-d;
    padding-right: $cf-marg-d;
  }
}

.veo-contents {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex: 1 0 0;
  padding-bottom: $cf-marg-c;
}

.veo-overlay {
  .overlay--transition {
    height: 100%;
  }
}
