/*
  View Editor Overlay Styles
  ------------------------------------------------------------------------------
*/

@import 'src/style/modules';

.veo {
  width: calc(100% - #{$ix-marg-e});
  height: calc(100% - #{$ix-marg-d});
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @include gradient-v($g2-kevlar, $g0-obsidian);
  border-radius: 0 0 $radius $radius;

  .page-header--container,
  .veo-contents {
    padding-left: $ix-marg-d;
    padding-right: $ix-marg-d;
  }
}

.veo-contents {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex: 0 0 calc(100% - #{$page-header-size}); 
  padding-bottom: $ix-marg-c;
}
