/*
   ExpandableMessage
   -----------------------------------------------------------------------------
*/

@import 'src/style/modules/influx-colors';
@import 'src/style/modules/mixins';
@import 'src/style/modules/variables';

.expandable--message {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  align-items: center;
  cursor: pointer;
  
  .expandable--text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    pointer-events: none;
  }
}

.collapsed--message {
  display: none;
}

.expanded--message { 
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: -($ix-marg-b - 1px);
  left: -($ix-marg-b - 4px);
  white-space: pre-wrap;
  padding: $ix-marg-b;
  width: calc(100% + #{$ix-marg-b});
  max-height: 300px;
  overflow-y: auto;
  background-color: $g5-pepper;
  z-index: 100;
  @extend %drop-shadow;
  color: $g19-ghost;
  border-radius: $radius;
  cursor: text;
}
