.bucket-selectors {
  height: 30vh;
}


.bucket-selectors--buttons {
  padding: $ix-marg-b;
}

.button {
  &.bucket-selectors--button {
    background-color: $g6-smoke;
  }
}

.title {
  align-content: center;
  text-align: center;
  color: $g10-wolf;
}