/* A. Colors */

$primary:							#7A65F2; /* Star */
$primary-light:						#9394FF; /* Comet */
$primary-ultra-light:				#E6E2FD; /* Creme de Violette */
$primary-dark:						#513CC6; /* Planet */
$primary-darker:					#311F94; /* Void */
$primary-disabled:					#675F96;

$positive:							#25B394;
$positive-light:					#3AC69A;
$positive-disabled:					#588A7F;

$negative:							#BF3D5E;
$negative-light:					#EC2F5D;
$negative-disabled:					#855460;

$warning:							#ed7514;
$warning-light:						#ff8620;
$warning-disabled:					#986b46;

/* B. Neutrals */

$blue-light:						#528fcc;
$blue:								#2e69aa;
$red:								#c6574b;
$purple-void:						#311F94;

$deep-space:						#1C1C22;
$space:								#23232C;
$hud-grey:							#31313E;
$bay-grey:							#3E3E4D;
$steel:								#5E5E70;
$astronaut:							#7B7B8F;
$apollo-13:							#9494A8;
$moon:								#EDEDF2;
$white:								#ffffff;

/*
+=====================================================+
|													  |
|	Theme											  |
|	(No Hexcodes, only color variables)	  			  |
|													  |
+=====================================================+
 */


/* App Nav */

$nav-bar-bg-color:					$moon;
$nav-bar-text-color:				$primary-darker;
$nav-bar-hover-bg-color:			$white;
$nav-bar-hover-text-color:			$primary;

/* Cards */

$card-bg-color:						$space;
$card-context-hover-bg-color:		$hud-grey;

/* Dashboard */

$dash-card-bg-color:				$space;

/* Page */

$page-bg-color:       				$deep-space;
$default-text-color:  				$moon;

/* Settings */

$settings-panel-bg-color:			$deep-space;
$settings-form-bg-color:			$deep-space;
$settings-form-border-color:		$bay-grey;

/* Buttons */

$button__focus:              		$primary;
$button__disabled__text:			$deep-space;

$button__primary__bg:           	$primary;
$button__primary__text:         	$white;
$button__primary__bg-hover:    		$primary-light;
$button__primary__text-hover:  		$white;
$button__primary__bg-disabled:  	$primary-disabled;

$button__positive__bg:          	$positive;
$button__positive__text:        	$white;
$button__positive__bg-hover:   		$positive-light;
$button__positive__text-hover: 		$white;
$button__positive__bg-disabled: 	$positive-disabled;

$button__negative__bg:          	$negative;
$button__negative__text:        	$white;
$button__negative__bg-hover:   		$negative-light;
$button__negative__text-hover: 		$white;
$button__negative__bg-disabled: 	$negative-disabled;

$button__dark__bg:              	$hud-grey;
$button__dark__text:            	$moon;
$button__dark__bg-hover:   			$bay-grey;
$button__dark__text-hover: 			$white;
$button__dark__bg-disabled:  		$hud-grey;

$button__light__bg:             	$bay-grey;
$button__light__text:           	$moon;
$button__light__bg-hover:   		$steel;
$button__light__text-hover: 		$white;
$button__light__bg-disabled:  		$bay-grey;

/* Boxes */

$box-bg-color:                  	$space;

/* Modals */

$modal-backdrop-color:          	rgba(124, 127, 132, 0.7);
$modal-bg-color:                	$deep-space;
$modal-text-color:              	$white;

/* Dropdowns */

$dropdown-bg-color:               	$hud-grey;
$dropdown-hover-bg-color:         	$bay-grey;
$dropdown-border-color:           	$bay-grey;
$dropdown-text-color:             	$moon;
$dropdown-hover-text-color:       	$white;

/* Combo Boxes */

$combo-input-bg-color:            	$space;
$combo-input-temp-var-icon-color:   #7A6AEF;
$combo-input-temp-var-text-color:   #9ACD32;
$combo-input-light-bg-color:      	$space;
$combo-border-color:              	$hud-grey;
$combo-focus-border-color:        	$primary;

$combo-button-bg-color:           	$deep-space;
$combo-button-light-bg-color:     	$grey-dark;
$combo-button-hover-bg-color:     	$grey;
$combo-button-text-color:         	$button__light__text;
$combo-button-hover-text-color:   	$button__light__text-hover;

$combo-dropdown-bg-color:         	$deep-space;
$combo-dropdown-hover-bg-color:   	$hud-grey;
$combo-dropdown-text-color:       	$moon;
$combo-dropdown-hover-text-color: 	$white;

/* Text Inputs & <textarea> */

$input__bg:                		$space;
$input__border:					$hud-grey;
$input__border-hover:			$bay-grey;
$input__focus:             		$primary;
$input__text:              		$moon;
$input__text-hover:        		$white;
$input__text-placeholder:       $apollo-13;
$input__error:					$negative;
$input__valid:					$positive;

/* Checkboxes */

$checkbox__bg:             		$hud-grey;
$checkbox__bg-hover:       		$steel;
$checkbox__text:           		$apollo-13;
$checkbox__text-hover:     		$moon;
$checkbox__input-bg:       		$space;
$checkbox__checked:          	$primary;

/* Slider Toggle */

$slider-bg-color:               $button__light__bg;
$slider-border-color:           $hud-grey;
$slider-label-color:            $button__light__text;
$slider-knob-color:             $button__light__bg;
$slider-off-color:              $hud-grey;
$slider-on-color:               $primary;

/* Graph */

$graph-axis-label:              $steel;
$graph-bg-color:                $space;
$graph-marker-color:            $bay-grey;

$graph-legend-bg-color:         $hud-grey;
$graph-legend-text-color:       $moon;

$graph-helper-bg-color:			rgba(27,29,30,0.5);
$graph-helper-text-color:		$moon;
$graph-helper-icon-color:		$positive;

/* Query Builder */

$query-error-color:             $negative;
$query-error-text-color:        $white;

/* Custom Time Range */

$cts-bg-color:                  $deep-space;
$cts-border-color:              $hud-grey;

$cts-title-month-color:         $moon;
$cts-table-head-color:          $moon;
$cts-prev-month-color:          $deep-space;
$cts-current-month-color:       $bay-grey;
$cts-next-month-color:          $deep-space;

$cts-selected-day-text-color:   $white;
$cts-selected-day-bg-color:     $primary;

$cts-dropdown-bg-color:         $deep-space;
$cts-dropdown-hover-bg-color:   $hud-grey;
$cts-dropdown-border-color:     $hud-grey;
$cts-dropdown-text-color:       $moon;
$cts-dropdown-hover-text-color: $white;

/* Expanded Query Editor */

$expanded-modifier-color:       $moon;

/* Tutorial */

$tutorial-bg:					$deep-space;
$tutorial__text:				$moon;
$tutorial__accent:				$primary-light;


