$radius:		4px;
$radius-small:	3px;

// Sidebar
$sidebar-width: 60px;
$page-wrapper-padding: 58px;
$page-wrapper-max-width: 1300px;
$current-user-height: 56px;
$cluster-switcher-height: 56px;
$enterprise-page-header-height: 60px;
$sidebar-tier1-height:  56px;

// Data Explorer
$explorer-page-padding: 18px;

// Mixins
@mixin gradient-v($startColor, $endColor) {
	background: $startColor;
	background: -moz-linear-gradient(top,  $startColor 0%, $endColor 100%);
	background: -webkit-linear-gradient(top,  $startColor 0%,$endColor 100%);
	background: linear-gradient(to bottom,  $startColor 0%,$endColor 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr='$endColor',GradientType=0 );
}
@mixin gradient-h($startColor, $endColor) {
	background: $startColor;
	background: -moz-linear-gradient(left,  $startColor 0%, $endColor 100%);
	background: -webkit-linear-gradient(left,  $startColor 0%,$endColor 100%);
	background: linear-gradient(to right,  $startColor 0%,$endColor 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr='$endColor',GradientType=1 );
}
$scrollbar-width: 16px;
@mixin custom-scrollbar($trackColor, $handleColor) {
	&::-webkit-scrollbar {
		width: $scrollbar-width;
		border-bottom-right-radius: $radius;

		&-button {
			background-color: $trackColor;
		}
		&-track {
			background-color: $trackColor;
			border-bottom-right-radius: $radius;
		}
		&-track-piece {
			background-color: $trackColor;
			border: ($scrollbar-width / 4) solid $trackColor;
			border-radius: ($scrollbar-width / 2);
		}
		&-thumb {
			background-color: $handleColor;
			border: ($scrollbar-width / 4) solid $trackColor;
			border-radius: ($scrollbar-width / 2);
		}
		&-corner {
			background-color: $trackColor;
		}
	}
	&::-webkit-resizer {
	background-color: $trackColor;
	}
}