/*
    Custom Mouse Cursors
    ----------------------------------------------
*/

$cc-default: url(assets/images/cursor-default.cur), auto !important;
$cc-invert: url(assets/images/cursor-invert.cur) 4 4, auto !important;
$cc-pointer: url(assets/images/cursor-pointer.cur) 6 0, auto !important;
$cc-text: url(assets/images/cursor-text.cur) 6 10, auto !important;
$cc-move: url(assets/images/cursor-move.cur) 13 13, auto !important;
$cc-resize-ns: url(assets/images/cursor-ns-resize.cur) 6 12, auto !important;
$cc-resize-ew: url(assets/images/cursor-ew-resize.cur) 12 5, auto !important;
$cc-resize-nwse: url(assets/images/cursor-nwse-resize.cur) 9 9, auto !important;
$cc-resize-nesw: url(assets/images/cursor-nesw-resize.cur) 9 9, auto !important;


// Resetting defaults
body {
  cursor: $cc-default;
}
a:link,
a:visited,
a:hover,
a:active {
  cursor: $cc-pointer;
}

input[type="text"],
input[type="password"],
textarea,
code,
pre {
  cursor: $cc-text;
}