/*
   Helpers
   -----------------------------------------------------------------------------
   So handy, much dandy
*/

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
