$radius:		4px;
$radius-small:	3px;

// Sidebar
$sidebar-width: 60px;
$page-wrapper-padding: 58px;
$page-wrapper-max-width: 1300px;
$current-user-height: 56px;
$cluster-switcher-height: 56px;
$chronograf-page-header-height: 60px;
$sidebar-tier1-height:  56px;

// Data Explorer
$explorer-page-padding: $page-wrapper-padding;
