@import '@influxdata/clockface/dist/variables.scss';

.write-data--item.cf-selectable-card.cf-selectable-card__xs
  .cf-selectable-card--label {
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 11px;
}

.write-data--item-thumb {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 90%;
  height: 90%;

  img {
    max-width: 100%;
    max-height: 80px;
  }
}

.write-data--item.cf-selectable-card .cf-selectable-card--children {
  position: relative;
}
