.sessions-dropdown {
  margin: 0 0 0 4px;

  .dropdown-toggle {
    width: 227px;
    border-radius: 3px 0 0 3px;
  }
}
.sessions-dropdown__btn {
  margin: 0;
  border-radius: 0 3px 3px 0;
}
.group-by-time-dropdown .dropdown-toggle {
  width: $group-by-time-dropdown-width;
}
.source-indicator {
  padding: 3px 9px;
  border: 2px solid $g5-pepper;
  background-color: $g5-pepper;
  color: $g13-mist;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  margin-right: 16px;

  > .icon {
    display: inline-block;
    font-size: 16px;
    margin: 0 4px 0 -2px;
  }
}