.panel-builder {
  width: 399px;
  overflow-x: hidden;
  background: $g1-raven;
  @include gradient-v($g2-kevlar,$g0-obsidian);
  @include custom-scrollbar($g2-kevlar,$c-pool);
}
.panel-builder__item {
  margin-bottom: 6px;
}