.panel-builder {
  overflow-x: hidden;
  min-width: 371px;
	background: $g1-raven;
	background: -moz-linear-gradient(top,  $g5-pepper 0%, $g1-raven 100%);
	background: -webkit-linear-gradient(top,  $g5-pepper 0%,$g1-raven 100%);
	background: linear-gradient(to bottom,  $g5-pepper 0%,$g1-raven 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$g5-pepper', endColorstr='$g1-raven',GradientType=0 );

	&__tabs {
		display: flex;
		text-align: center;
		padding: $explorer-page-padding $explorer-page-padding 0 $explorer-page-padding;
		background: $g3-castle;
	}
	&__tab {
		padding: 18px 0 9px 0px;
		flex: 1;
		background: $g3-castle;
		cursor: pointer;
		font-weight: 400;
		font-size: 20px;
		color: $g12-forge;
		line-height: calc(60px - $explorer-page-padding - 2px);
		border-radius: 4px 4px 0 0;
		transition: color 0.25s ease;

		&:hover {
			color: $g20-white;
		}

		&.active {
			background-color: $g5-pepper;
			color: $g20-white;
		}
	}
	&__tab-content {
		padding: $explorer-page-padding;
	}
	&__item {
		margin-bottom: 6px;
	}
}
