$query-editor-gutter: 16px;
$query-editor-tab-inactive: $g2-kevlar;
$query-editor-tab-active: $g3-castle;
$query-editor-height: 300px;

.query-editor {
  padding: 6px;
  background-color: $g7-graphite;
  border-radius: 0 0 $radius $radius;
}
.query-editor__code {
  position: relative;

  pre {
    padding: 9px;
    white-space: pre-wrap;
    border: 0;
    background-color: $query-editor-tab-inactive;
    font-weight: 600;
    color: $c-comet;
    border-radius: $radius-small $radius-small 0 0;
    border-bottom: 2px solid $g6-smoke;
    margin-bottom: 0;
    overflow: auto;
    min-height: 3.25em;
    @include custom-scrollbar($query-editor-tab-inactive, $c-pool);

    code {
      white-space: pre-wrap;
      line-height: 1.5em;
    }

    &.rq-mode {
      color: $c-rainforest;
      @include custom-scrollbar($query-editor-tab-inactive, $c-rainforest);
    }
  }
}
// Tabs for switching between queries
.query-editor__tabs {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 8px 9px 0 9px;
  background-color: $query-editor-tab-inactive;
  flex-wrap: wrap;

  &-heading {
    flex-basis: 100%;
    width: 100%;
    font-size: 12px;
    color: $g9-mountain;
    font-weight: 500;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }
}
.query-editor__tab {
  text-align: center;
  background-color: $query-editor-tab-inactive;
  color: $g13-mist;
  height: 28px;
  padding: 0 9px;
  line-height: 28px;
  font-size: 12px;
  font-weight: 600;
  border-radius: $radius-small $radius-small 0 0;
  margin-right: 2px;
  transition:
    color 0.25s ease,
    background-color 0.25s ease;

  &:hover {
    cursor: pointer;
    color: $g20-white;
  }
  &.active {
    background-color: $query-editor-tab-active;
    color: $g20-white;
  }
}

// List of options
.query-editor__list {
  margin: 0;
  padding: 9.5px 0 0 0;
  background-color: $query-editor-tab-active;
  border-radius: 0 0 $radius-small $radius-small;
  min-height: $query-editor-height;

  &-item {
    color: $g11-sidewalk;
    list-style-type: none;
    margin: 0;
    font-size: 12px;
    padding: 4px 9.5px 4px 19px;
    transition:
      color 0.25s ease,
      background-color 0.25s ease;

    &:hover {
      background-color: $g5-pepper;
      color: $g17-whisper;
      cursor: pointer;
    }
  }
  &-radio {
    &.active {
      color: $g20-white;
      background-color: $g5-pepper;
      font-weight: 600;
    }
  }
  &-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.checked {
      color: $g20-white;
      font-weight: 600;

      // Animate checked state
      .query-editor__list-checkbox__checkbox {
        &:before {
          opacity: 1;
          transform: translate(-50%,-50%) scale(0.4,0.4);
        }
      }
      // Fade in & out dropdowns when checked
      .query-editor__hidden-dropdown {
        visibility: visible;

        .dropdown {
          opacity: 1;
        }
      }
    }

    .dropdown {
      .btn.dropdown-toggle {
        text-align: left;
        background-color: $g5-pepper;
        border-color: $g5-pepper;
        color: $g13-mist !important;

        &:hover {
          background-color: $g6-smoke;
          border-color: $g6-smoke;
          color: $g20-white !important;
        }
        &:active,
        &:active:hover,
        &:active:focus,
        &.active {
          color: $g20-white !important;
          background-color: $g7-graphite;
          border-color: $g6-smoke;
        }
      }
      .dropdown-menu {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        background-color: $g5-pepper;

        li {
          margin-bottom: 2px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        li > a {
          font-size: 13px;
          padding-left: 31px;
          position: relative;

          &:hover {
            background-color: $g6-smoke;
          }
          // Checkbox background
          &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            background-color: $g4-onyx;
            border-radius: 2px;
            width: 16px;
            height: 16px;
            z-index: 1;
            transition: background-color 0.25s ease;
          }
          // Checkbox check
          &:before {
            opacity: 0;
            content: '';
            position: absolute;
            top: 50%;
            left: 13px;
            transform: translate(-50%,-50%);
            background-color: $c-pool;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            z-index: 2;
            transition: all 0.25s ease;
          }

        }
        li.active > a {
          background: none;
          background-color: $g7-graphite;

          // Checkbox background
          &:after {
            background-color: $g6-smoke;
          }
          // Checkbox check
          &:before {
            opacity: 1;
            transform: translate(-50%,-50%) scale(0.4,0.4);
          }
        }
      }
    }

    &__checkbox {
      position: relative;
      padding-left: 24px;

      &:before {
        z-index: 2;
        content: '';
        position: absolute;
        top: 50%;
        left: 8px;
        transform: translate(-50%,-50%);
        width: 20px;
        height: 20px;
        opacity: 0;
        background-color: $c-pool;
        border-radius: 50%;
        transition:
          transform 0.25s ease,
          opacity 0.25s ease;
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background-color: $g5-pepper;
        border-radius: 3px;
        z-index: 1;
      }
    }
  }
  &-header {
    position: relative;
    background-color: $query-editor-tab-active;
      padding: 8px 18px 0px 18px;
  }
}

// List empty state
.query-editor__empty {
  text-align: center;
  color: $g10-wolf;
  display: inline-block;
  width: 100%;
  padding: 18px 0;
  height: $query-editor-height;
  background-color: $query-editor-tab-active;
  border-radius: 0 0 $radius $radius;
}

// Hidden dropdowns
.query-editor__hidden-dropdown {
  visibility: hidden;
  transition: all 0.3s all;

  .dropdown {
    transition: opacity 0.3s ease;
    opacity: 0;
  }
}

// Filter list results
.query-editor__filter {
  position: relative;
  width: 100%;
  display: block;
  background-color: $g3-castle;
  border: 2px solid $g6-smoke;
  color: $g13-mist;
  height: 30px;
  border-radius: 15px;
  font-size: 13px;
  padding-left: 38px;
  outline: none;
  color: $g20-white;
  font-weight: 700;
  transition:
    border-color 0.25s ease,
    color 0.25s ease,
    background-color 0.25s ease;

  &:focus {
    border-color: $c-pool;
    & + .icon {
      color: $g20-white;

    }
  }
  &::-webkit-input-placeholder {
    color: $g10-wolf;
    font-weight: 500;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $g10-wolf;
    font-weight: 500;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
    color: $g10-wolf;
    font-weight: 500;
  }
  &:-ms-input-placeholder {
    color: $g10-wolf;
    font-weight: 500;
  }
  + .icon {
    position: absolute;
    top: calc(50% + 5px);
    left: calc(19px * 2);
    transform: translateY(-50%);
    color: $g10-wolf;
    transition: color 0.25s ease;
    font-size: 12px;
    z-index: 2;
  }
}

// Warning for converting to raw query
.query-editor__warning {
  opacity: 0;
  transition: opacity 0.35s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(56,56,70,0.8);
  z-index: 999;
  border-radius: $radius-small $radius-small 0 0;
  border-bottom: 2px solid $g6-smoke;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 1;
  }
}

.field {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.active {
    background-color: gainsboro !important;
  }
}

.group-by-time {
  display: flex;
  align-items: baseline;
}

.group-by-time-dropdown {
  width: $group-by-time-dropdown-width;

  .caret {
    position: absolute;
    top: calc(50% + 1px);
    right: 13px;
    transform: translateY(-50%);
  }

  .dropdown-toggle {
    text-align: left;
    width: 100%;
    background-color: $g5-pepper;
    border-color: $g5-pepper;
    color: $g13-mist !important;

    &:hover {
      color: $g20-white !important;
      background-color: $g7-graphite;
      border-color: $g6-smoke;
    }
    &:active,
    &:active:hover,
    &:active:focus,
    &.active {
      color: $g20-white !important;
      background-color: $g7-graphite;
      border-color: $g6-smoke;
    }
  }

  .dropdown-menu {
    width: $group-by-time-dropdown-width;
    min-width: 2em; // Override bootstrap min-width
  }
}

.group-by-time-dropdown-label {
  color: $g13-mist;
  margin-right: 4px;
}

.query-editor-empty-state {
  color: $g17-whisper;

  .icon {
    font-size: 1em;
  }
}
