/*
    Question Mark Tooltip
    ----------------------------------------------
*/
$qmark-tooltip-size: 16px;

.question-mark-tooltip {
  display: inline-block;
}

.question-mark-tooltip--children {
  display: flex;
  align-items: center
}

.question-mark-tooltip--icon {
  width: $qmark-tooltip-size;
  height: $qmark-tooltip-size;
  border-radius: 50%;
  background-color: $g8-storm;
  color: $g0-obsidian;
  transition: background-color 0.25s ease;
  text-align: center;
  font-size: 13px;
  line-height: ($qmark-tooltip-size + 1px);

  &:after {
    content: '?';
    display: inline-block;
    font-weight: 900;
  }

  &__adjacent {
    margin-left: 5px;
    flex: 0 0 $qmark-tooltip-size;
  }
}

.question-mark-tooltip--contents {
  padding: $ix-marg-c;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $g12-forge;

  strong {
    color: $g18-cloud;
  }

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.question-mark-tooltip:hover .question-mark-tooltip--icon {
  background-color: $c-pool;
}

