.telegraf-collectors--header {
  min-width: 530px;
  @media screen and (max-width: 680px) {
    // willing to take suggestions about removing this
    display: block !important;

    > .cf-input {
      width: 100%;
      margin: 0 auto;
    }
  }
}

.telegraf-collectors-button-wrap {
  display: flex;
  box-sizing: border-box;
  text-align: right;
  @media screen and (max-width: 680px) {
    margin: 8px auto 0;
  }
}
