/*
   Create Variable Overlay Styles
   -----------------------------------------------------------------------------
*/

.overlay-flux-editor {
    position: relative;
    height: 300px;
}

.overlay-flux-editor--spacing { 
    margin-bottom: $ix-marg-c;
}
