.variable-dropdown {
  display: flex;
  flex-direction: row;
  height: $form-sm-height;
  position: relative;
  border-radius: $radius;
  transition: opacity 0.25s ease;
  border-radius: $radius;
  background-color: $g3-castle;

  &__dragging {
    opacity: 0;
    cursor: grab !important;
  }
}

.variable-dropdown--label {
  user-select: none;
  line-height: $form-sm-height;
  font-size: $form-sm-font;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  background-attachment: fixed;
  display: flex;

  > span {
    display: inline-block;
    padding: 0 $form-sm-padding;
    padding-left: $form-sm-padding - $ix-border;
    color: $c-comet;
  }
}

.variable-dropdown--placeholder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: $form-sm-height;
  border-radius: $radius;
  @include gradient-diag-down($c-pool, $c-comet);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;

  .variable-dropdown__dragging + & {
    opacity: 0.3;
  }
}

.variable-dropdown--drag {
  display: inline-block;
  width: ceil($form-sm-height * 0.66);
  height: $form-sm-height;
  position: relative;
  opacity: 0.4;
  transition: opacity 0.25s ease;

  .hamburger {
    width: 10px;
    height: 2px;
    border-radius: 1px;
    position: absolute;
    top: 50%;
    right: 0;
    background-color: $c-comet;
    transform: translate(0, -50%);

    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $c-comet;
      border-radius: 1px;
      left: 0;
    }
    &:before {
      top: -4px;
    }
    &:after {
      top: 4px;
    }
  }

  .variable-dropdown__dragging &,
  &:hover {
    opacity: 1;
    cursor: grab !important;
  }
}

.variable-dropdown--item {
  font-family: $cf-code-font;
}
