/*
    Error Pages
    ----------------------------------------------
*/
.panel-error {
  margin-top: $page-wrapper-padding;
  margin-bottom: $page-wrapper-padding;
}
table.table.error-table {
  margin-bottom: 0;
  .label {
    padding: 4px 7px;
    font-size: 14px;
    font-weight: 700;
  }
  tbody {
    td {
      border: none;
    }
  }
  tbody tr:nth-child(odd) {
    background-color: $g19-ghost;
    td:last-child {
      background-color: $g5-pepper;
    }
  }
  tbody tr:nth-child(even) {
    background-color: $g18-cloud;
    td:last-child {
      background-color: $g4-onyx;
    }
  }
  pre {
    border: none;
    background-color: transparent;
    color: $c-moonstone;
    font-weight: 600;
    border-radius: 0;
    padding: 4px;
  }
}