/*
    Styles for Log Viewer Page
    ----------------------------------------------------------------------------
*/

$logs-viewer-graph-height: 170px;
$logs-viewer-search-height: 46px; 
$logs-viewer-filter-height: 42px;
$logs-viewer-results-text-indent: 33px;
$logs-viewer-gutter: 60px;

.logs-viewer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;
}

.logs-viewer--graph-container {
  padding: 22px $logs-viewer-gutter 10px $logs-viewer-gutter;
  height: $logs-viewer-graph-height;
  @include gradient-v($g2-kevlar, $g0-obsidian);
  display: flex;
}

.logs-viewer--search-bar {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  padding: 0 $logs-viewer-gutter;
  height: $logs-viewer-search-height;
  background-color: $g3-castle;
}

.logs-viewer--table-container {
  padding: 0 $logs-viewer-gutter 30px $logs-viewer-gutter;
  height: calc(
    100% - #{$logs-viewer-graph-height + $logs-viewer-search-height +
      $logs-viewer-filter-height}
  );
  background-color: $g3-castle;
}

// Search Bar
.logs-viewer--search-input {
  flex: 1 0 0;
  margin-right: 8px;
  position: relative;

  > span.icon.search {
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: $g8-storm;
    transition: color 0.25s ease;
  }

  > input.form-control.input-sm {
    padding-left: 30px;
  }

  > input.form-control.input-sm:focus + span.icon.search {
    color: $c-pool;
  }
}

// Filters Bar
.logs-viewer--filter-bar {
  display: flex;
  align-items: center;
  @include no-user-select();
  padding: 0 $logs-viewer-gutter;
  height: $logs-viewer-filter-height;
  background-color: $g3-castle;
  position: relative;
}

.logs-viewer--results-text {
  margin: 0 12px 0 $logs-viewer-results-text-indent;
  padding: 0;
  font-size: 13px;
  line-height: 13px;
  font-weight: 600;
  color: $g9-mountain;
  transition: color 0.25s ease;
  min-width: 180px;

  strong {
    color: $g15-platinum;
    font-weight: 900;
  }
}

@keyframes resultsSpinner {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

.logs-viewer--results-spinner {
  position: absolute;
  top: 50%;
  left: $logs-viewer-gutter + 8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid $c-pool;
  border-bottom-color: transparent;
  animation: resultsSpinner 0.75s linear infinite;

  & + .logs-viewer--results-text {
    color: $c-pool;
  }
}

.logs-viewer--filters {
  flex: 1 0 0;
  display: flex;
  align-items: center;
}

.logs-viewer--filter {
  position: relative;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 0 2px 0 8px;
  height: 26px;
  border-radius: 4px;
  background-color: $g5-pepper;
  color: $g13-mist;
  font-weight: 500;
  font-family: $code-font;
  margin: 1px;

  &.active,
  &:hover {
    background-color: $g6-smoke;
    color: $g17-whisper;
  }
  &:hover {
    cursor: pointer;
  }
}

.logs-viewer--filter-remove {
  outline: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 0;
  position: relative;

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: $g8-storm;
    transition: background-color 0.25s ease;
    content: '';
  }

  &:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:hover {
    cursor: pointer;

    &:before,
    &:after {
      background-color: $c-dreamsicle;
    }
  }
}

.logs-viewer--operator,
.logs-viewer--value,
.logs-viewer--filter-label {
  margin-right: 2px;

  &.form-control.input-xs {
    padding: 0 5px;
    font-weight: 500;
    height: 24px;
    border-radius: 3px;
    border-color: $g6-smoke;

    &:focus {
      border-color: $c-pool;
    }
  }
}

.logs-viewer--operator {
  width: 30px;
}
.logs-viewer--value {
  width: 170px;
}

// Table Dots
.logs-viewer--dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  background-color: $g0-obsidian;
  border: 2px solid $g3-castle;
  margin-left: 2px;
}
.logs-viewer--severity-text {
  padding: 2px;
  padding-left: 5px;
}

// Play & Pause Toggle in Header
.radio-buttons.logs-viewer--mode-toggle {
  margin-right: 10px;
}

// Table Cell Styles
.logs-viewer--cell {
  font-size: 12px;
  padding: 0 4px;
  color: $g11-sidewalk;
  display: flex;
  align-content: center;
  align-items: center;
  font-family: $code-font;

  &.highlight {
    color: $g20-white;
  }
}
.logs-viewer--cell-header {
  font-weight: 600;
  color: $g15-platinum;
  border-bottom: 2px solid $g5-pepper;
}

// Clickable Cells
.logs-viewer--clickable {
  display: inline-flex;
  align-items: center;
  padding: 0px 3px;
  border-radius: 3px;
  @include no-user-select();

  &:hover {
    background-color: $c-pool;
    color: $g20-white;
    cursor: pointer;
  }

  &:active,
  &:active:hover {
    background-color: $c-laser;
  }
}
