/*
    Styles for Flux Builder aka TIME MACHINE aka DELOREAN
    ----------------------------------------------------------------------------
*/

@import '../components/time-machine/flux-overlay';
@import '../components/time-machine/flux-editor';
@import '../components/time-machine/flux-builder';
@import '../components/time-machine/flux-explorer';
@import '../components/time-machine/visualization';
@import '../components/time-machine/add-func-button';

// Flux Page Empty state
.flux-empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    > p {
        color: $g11-sidewalk;
        font-size: 16px;
        @include no-user-select();
    }
}