/*
    Page Layout
    ----------------------------------------------------------------------------
*/

$dygraph-legend-z: 500;
$dash-ceo-z: $dygraph-legend-z + 10;

/* Presentation Mode */
.page-contents.presentation-mode {
  top: 0;
  height: 100% !important;

  .container-fluid {padding: 8px !important;}
}