@import '@influxdata/clockface/dist/variables.scss';
@import '~src/notebooks/NotebookVariables.scss';

.notebook-divider {
  height: 16px;
  margin: 0 $notebook-panel--gutter;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: ($notebook-panel--node-gap / 2) - ($cf-border / 2);
    background-color: $g5-pepper;
    width: $cf-border;
    z-index: 0;
  }

  &:hover {
    cursor: pointer;
  }

  &:last-of-type {
    &:after {
      bottom: 50%;
    }

    margin-bottom: 25vh;
  }
}

.notebook-divider:hover:after,
.notebook-divider__popped:after {
  background-color: $c-star;
}

.notebook-divider--button {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: $notebook-panel--node-gap / 2;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;

  &:after {
    border-radius: 50%;
  }

  .notebook-divider:hover &,
  .notebook-divider__popped &,
  .notebook-divider__popped:hover & {
    opacity: 1;
  }
}

.insert-cell-menu {
  padding: $cf-marg-b;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.insert-cell-menu--title {
  text-align: center;
  font-weight: $cf-font-weight--medium;
  margin-top: 0;
  margin-bottom: $cf-marg-b !important;
  user-select: none;
}
