{
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-lodash",
    ["babel-plugin-module-resolver", {
      "root": ["./src"],
      "alias": {
        "src": "./src",
	"shared": "./src/shared",
	"style": "./src/style",
	"utils": "./src/utils"
      }
    }]
  ],
  "presets": ["@babel/preset-env", "@babel/preset-react"]
}
