{
  "plugins": [
    "syntax-trailing-function-commas",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-runtime",
    "lodash"
  ],
  "presets": ["env", "react", "stage-0"],
  "env": {
    "development": {
      "plugins": ["transform-decorators-legacy"]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-decorators-legacy"
      ]
    }
  }
}
