{
  "plugins": [
    "syntax-trailing-function-commas",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-runtime",
    "lodash",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "src": "./src",
	"shared": "./src/shared",
	"style": "./src/style",
	"utils": "./src/utils"
      }
    }]
  ],
  "presets": ["env", "react", "stage-0"],
  "env": {
    "development": {
      "plugins": ["transform-decorators-legacy"]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-decorators-legacy"
      ]
    }
  }
}
