.panel-builder {
  width: 399px;
  overflow-x: hidden;
  background: $g1-raven;
  padding: $explorer-page-padding;
  @include gradient-v($g2-kevlar,$g0-obsidian);

  &::-webkit-scrollbar { 
    display: none; 
  }

  > .btn {
    margin-bottom: 6px;
  }
}