.query-builder {
  position: absolute;
  width: calc(100% - #{($explorer-page-padding * 2)});
  left: $explorer-page-padding;
  height: calc(40% - 16px);
  top: 60%;
  background-color: $g3-castle;
  border-radius: $radius;
  border: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

// Tabs
.query-builder--tabs {
  display: flex;
  width: 190px;
  flex-direction: column;
  align-items: stretch;
  background-color: $g4-onyx;
  border-radius: $radius 0 0 $radius;
}
.query-builder--tab {
  width: 100%;
  display: flex;
  align-items: center;
  color: $g11-sidewalk;
  background: $g5-pepper;
  height: 28px;
  margin-right: 2px;
  border-radius: $radius $radius 0 0;
  cursor: pointer;
  padding: 0 8px 0 8px;
  transition:
      color 0.25s ease,
      background-color 0.25s ease;

  &:hover {
    color: $g18-cloud;
    background-color: $g6-smoke;
  }
  &.active {
    background: $g6-smoke;
    color: $g15-platinum;
  }

  &-delete {
    margin: 0 -4px 0 1px;
    width: 16px;
    height: 16px;
    background-color: transparent;
    display: inline-block;
    vertical-align: text-top;
    position: relative;

    &:before,
    &:after {
      display: block;
      content: '';
      width: 8px;
      height: 2px;
      background-color: $g8-storm;
      transition:
        background-color 0.25s ease;
      position: absolute;
      top: 50%;
      left: 50%;
    }
    &:before {
      transform: translate(-50%,-50%) rotate(45deg);
    }
    &:after {
      transform: translate(-50%,-50%) rotate(-45deg);
    }

    &:hover {
      &:before,
      &:after {
        background-color: $c-dreamsicle;
      }
    }
  }
}
.panel--tab-new {
  > .dropdown-toggle {
    height: 28px !important;
    border-radius: $radius $radius 0 0;

    > .icon {
      margin: 0;
      font-size: 12px;
      position: relative;
      top: -1px;
    }
  }
  > .dropdown-menu {
    width: 108px !important;
    min-width: 108px !important;
    max-width: 108px !important;
  }
}
.query-builder--tab-label {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  max-width: 177px;
  text-overflow: ellipsis;
}

/*
  Tab Contents
  -------------------------------------------
*/
.query-builder--tab-contents {
  width: 100%;
  background-color: $g6-smoke;
  border-radius: 0 $radius $radius 0;
  overflow: hidden;
  position: relative;
}
.query-builder--columns {
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  top: 60px;
}
.query-builder--column-heading {
  width: 100%;
  height: 30px;
  position: absolute;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  top: 0;

  & > div {
    width: 25%;
    height: 30px;
    color: #f00;
  }
}
.query-builder--column {
  position: absolute;
  width: 25%;
  height: calc(100% - 30px);
  top: 30px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  @include custom-scrollbar($g6-smoke,$c-pool);
}
.query-builder--column:nth-of-type(1) { left: 0; }
.query-builder--column:nth-of-type(2) { left: 25%; }
.query-builder--column:nth-of-type(3) { left: 50%; }
.query-builder--column:nth-of-type(4) { left: 75%; }

/* Time Range Selector */
.time-range-dropdown {
  display: inline-block;

  .dropdown-toggle {
    width: 160px;
  }
}

.alert.alert-rawquery {
  border-color: $g5-pepper;
  border-color: $g6-smoke;
  color: $g12-forge;
}
