/*
  Dropping the metaphorical CSS nuke here,
  was experiencing some weird typographic jank
  between builder / raw tabs
*/
.raw-text--field,
.query-builder--query-preview pre,
.query-builder--query-preview pre code {
  font-style: normal !important;
  letter-spacing: 0 !important;
  font-size: 12px !important;
  font-variant: normal !important;
  line-height: 14px !important;
  font-family: $code-font !important;
  font-weight: 600 !important;
  word-wrap: break-word !important;
  word-break: break-all !important;
  white-space: pre-wrap !important;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  text-size-adjust: 100% !important;
  text-shadow: none !important;
}

$raw-text-color: $c-pool;
$raw-text-height: 42px;

.raw-text--field {
  @include custom-scrollbar($g2-kevlar, $raw-text-color);
  display: block;
  width: 100%;
  height: $raw-text-height;
  background-color: $g2-kevlar;
  border: 2px solid $g2-kevlar;
  border-bottom: 0;
  color: $raw-text-color;
  padding: 7px;
  border-radius: $radius $radius 0 0;
  margin: 0;
  transition:
    color 0.25s ease,
    background-color 0.25s ease,
    border-color 0.25s ease;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $g8-storm;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $g8-storm;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $g8-storm;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $g8-storm;
  }
  &:hover,
  &:hover + .raw-text--status {
    border-color: $g5-pepper;
  }
  &:focus {
    outline: none;
    color: $raw-text-color !important;
    border-color: $c-pool;
  }
  &:focus + .raw-text--status {
    border-color: $c-pool;
  }
}
.raw-text--status {
  width: 100%;
  height: ($query-builder--preview-height - $raw-text-height);
  line-height: 12px;
  font-size: 12px;
  background-color: $g2-kevlar;
  border: 2px solid $g2-kevlar;
  padding: 0 7px;
  border-radius: 0 0 $radius $radius;
  border-top: 0;
  color: $g11-sidewalk;
  font-family: $code-font;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition:
    color 0.25s ease,
    background-color 0.25s ease,
    border-color 0.25s ease;

  span.icon {
    margin-right: 5px;
  }

  /* Error State */
  &.raw-text--error {
    color: $c-dreamsicle;
  }

  /* Warning State */
  &.raw-text--warning {
    color: $c-comet;
  }

  /* Success State */
  &.raw-text--success {
    color: $c-rainforest;
  }
}

.dropdown.query-template {
  position: absolute;
  top: 8px;
  right: 7px;
  .dropdown-toggle {
    width: 135px;
  }
}
