/*
  Variables
  -------------------------------------
*/

$raw-text-color: $c-pool;
$raw-text-height: 52px;
$raw-status-height: 34px;
/* ^ These 2 should total to 86px */
$query-template-dropdown-width: 135px;
$query-template-dropdown-height: 22px;
$query-template-dropdown-offset: 6px;
$query-template-dropdown-menu-width: 200px;


/*
  Dropping the metaphorical CSS nuke here,
  was experiencing some weird typographic jank
  between builder / raw tabs
*/
.raw-text--field,
.query-builder--query-preview pre,
.query-builder--query-preview pre code {
  font-style: normal !important;
  letter-spacing: 0 !important;
  font-size: 12px !important;
  font-variant: normal !important;
  line-height: 14px !important;
  font-family: $code-font !important;
  font-weight: 600 !important;
  word-wrap: break-word !important;
  word-break: break-all !important;
  white-space: pre-wrap !important;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  text-size-adjust: 100% !important;
  text-shadow: none !important;
}


.raw-text--field {
  @include custom-scrollbar($g2-kevlar, $raw-text-color);
  display: block;
  width: 100%;
  height: $raw-text-height;
  background-color: $g2-kevlar;
  border: 2px solid $g2-kevlar;
  border-bottom: 0;
  color: $raw-text-color;
  padding: 12px 10px 0 10px;
  border-radius: $radius $radius 0 0;
  margin: 0;
  transition:
    color 0.25s ease,
    background-color 0.25s ease,
    border-color 0.25s ease;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $g8-storm;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $g8-storm;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $g8-storm;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $g8-storm;
  }
  &:hover,
  &:hover + .raw-text--status {
    border-color: $g5-pepper;
  }
  &:focus {
    outline: none;
    color: $raw-text-color !important;
    border-color: $c-pool;
  }
  &:focus + .raw-text--status {
    border-color: $c-pool;
  }
}
.raw-text--status {
  position: relative;
  width: 100%;
  height: $raw-status-height;
  line-height: $raw-status-height;
  font-size: 12px;
  background-color: $g2-kevlar;
  border: 2px solid $g2-kevlar;
  padding: 0 10px;
  padding-right: ($query-template-dropdown-width + ($query-template-dropdown-offset * 2)) !important;
  border-radius: 0 0 $radius $radius;
  border-top: 0;
  color: $g11-sidewalk;
  font-family: $code-font;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition:
    color 0.25s ease,
    background-color 0.25s ease,
    border-color 0.25s ease;

  span.icon {
    margin-right: 5px;
  }

  /* Error State */
  &.raw-text--error {
    color: $c-dreamsicle;
  }

  /* Warning State */
  &.raw-text--warning {
    color: $c-comet;
  }

  /* Success State */
  &.raw-text--success {
    color: $c-rainforest;
  }

  /* Loading State */
  .loading-dots {
    top: calc(50% + 2px);
    left: 14px;
    transform: translateY(-50%);
  }
}

.dropdown.query-template {
  position: absolute;
  top: ($raw-text-height + (($raw-status-height - $query-template-dropdown-height) / 2));
  right: $query-template-dropdown-offset;

  div.dropdown-toggle.btn.btn-sm {
    width: $query-template-dropdown-width;
    padding: 0 9px !important;
    height: $query-template-dropdown-height !important;
    line-height: $query-template-dropdown-height !important;
    font-size: 12px;
    border-radius: $radius-small;
  }

  .dropdown-menu {
    left: initial;
    right: 0;
    width: $query-template-dropdown-menu-width;
    min-width: $query-template-dropdown-menu-width;
    max-width: $query-template-dropdown-menu-width;
  }
}
