.tag-list {

  &__item {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover .tag-list__group-by {
      display: flex;
    }

    &.open {
      font-weight: 600;
      color: $g20-white;

      .tag-list__caret .icon {
        transform: translateY(-50%) rotate(90deg);
      }
    }
  }
  &__title {
    display: flex;
    align-items:center;
    justify-content: flex-start;

    .badge {
      background-color: $g2-kevlar;
      color: $c-pool;
      margin-left: 5px;
    }
  }
  &__caret {
    width: 16px;
    position: relative;

    .icon {
      font-size: 10px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%) rotate(0deg);
      transition: transform 0.25s ease;
    }
  }
}

.tag-value-list {
  padding: 0;

  &__checkbox {
    width: 16px;
    height: 16px;
    background-color: $g2-kevlar;
    border-radius: 3px;
    position: relative;
    margin-right: 8px;

    &:after {
      z-index: 2;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 20px;
      height: 20px;
      opacity: 0;
      background-color: $c-pool;
      border-radius: 50%;
      transition:
        transform 0.25s ease,
        opacity 0.25s ease;
    }
  }

  &__item {
    padding-left: 35px;
    position: relative;
    display: flex;
    align-items: center;

    &.active {
      background: $g4-onyx;
      color: $g20-white;
      font-weight: 600;

      .tag-value-list__checkbox:after {
        transform: translate(-50%,-50%) scale(0.4,0.4);
        opacity: 1;
      }
    }
  }
  &__filter {
    position: relative;
    width: 100%;
    display: block;
    background-color: $g3-castle;
    border: 2px solid $g5-pepper;
    color: $g13-mist;
    height: 30px;
    border-radius: 15px;
    font-size: 13px;
    padding-left: 25px;
    outline: none;
    color: $g20-white;
    font-weight: 700;
    transition:
      border-color 0.25s ease,
      color 0.25s ease,
      background-color 0.25s ease;

    &:focus {
      border-color: $c-pool;
      & + .icon {
        color: $g20-white;

      }
    }
    &::-webkit-input-placeholder {
      color: $g10-wolf;
      font-weight: 500;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $g10-wolf;
      font-weight: 500;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
      color: $g10-wolf;
      font-weight: 500;
    }
    &:-ms-input-placeholder {
      color: $g10-wolf;
      font-weight: 500;
    }

    + .icon {
      position: absolute;
      top: 50%;
      left: 39px;
      transform: translateY(-50%);
      color: $g10-wolf;
      transition: color 0.25s ease;
      font-size: 12px;
      z-index: 2;
    }

    &-container {
      padding: 8px 9.5px 8px 31px;
      position: relative;
    }
  }
}

.tag-list__group-by {
  display: none;
  background-color: $g5-pepper;
  border-color: $g5-pepper;
  color: $g13-mist !important;

  &:hover {
    background-color: $g6-smoke;
    border-color: $g6-smoke;
    color: $g20-white !important;
  }
  &:active,
  &:active:hover,
  &:active:focus {
    color: $g20-white !important;
    background-color: $g7-graphite;
    border-color: $g6-smoke;
  }
  &.active {
    display: flex;
    background: $c-pool;
    border-color: $c-pool;

    &:hover {
      background: $c-laser;
      border-color: $c-laser;
    }
  }
}
