$graph-bg-color: $g3-castle;
$graph-active-color: $g4-onyx;
$graph-radius: 4px;

$dygraphs-legend-offset: 32px;

.graph {
  position: absolute;;
  margin-bottom: 18px;
  width: 100%;
  padding: 0 $explorer-page-padding;
  top:0;
  height: 40%;
}
.graph-heading {
  background-color: $graph-bg-color;
  border-radius: $graph-radius $graph-radius 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  padding: 0 16px;
  transition:
    background-color 0.25s ease;

  .toggle {
    margin: 0;
  }
}
.graph-title {
  font-size: 14px;
  color: $g13-mist;
  font-weight: 600;
  margin-right: 16px;
  transition:
    color 0.25s ease;
}
.graph-actions {
  display: flex;
  align-items: center;
}
.graph-container {
  background-color: $graph-bg-color;
  border-radius: 0 0 $graph-radius $graph-radius;
  padding: 8px 16px;
  position: relative;
  height: 316px;
  transition:
    background-color 0.25s ease;
}


/* Active State */
.graph.active {
  .graph-heading,
  .graph-container {
    background-color: $graph-active-color;
  }
  .graph-title {
    color: $g20-white;
  }
}

.graph-empty {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  > p {
    font-size: 28px;
    font-weight: 300;
    margin: 0;
    text-align: center;
    color: $g8-storm;
  }
}
.graph-fetching {
  width: 100%;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.graph-spinner {
  width: 121px;
  height: 121px;
  background-image: url(assets/images/laser-spinner.png);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  animation: graph-panel-spinner 1s infinite linear;
}
.graph-spinner--small {
  width: 58px;
  height: 58px;
  background-image: url(assets/images/laser-spinner.png);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  animation: graph-panel-spinner 1s infinite linear;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto;
}

@keyframes graph-panel-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.multi-table__tabs {
  display: flex;
}
.multi-table__tab {
  white-space: nowrap;
  color: $g10-wolf;
  background: $g5-pepper;
  height: 30px;
  line-height: 30px;
  margin-right: 2px;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  padding: 0 10px;
  transition:
    color 0.25s ease,
    background-color 0.25s ease;

  &:hover {
    color: $g20-white;
    background-color: $g6-smoke;
  }
  &.active {
    font-weight: 700;
    background-color: $g6-smoke;
    color: $g14-chromium;
  }
}
