.graph {
  position: absolute;
  top: 0;
  width: calc(100% - #{($explorer-page-padding * 2)});
  left: $explorer-page-padding;
}
.graph-heading {
  position: relative;
  top: $de-vertical-margin;
  background-color: $graph-bg-color;
  border-radius: $graph-radius $graph-radius 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $de-graph-heading-height;
  padding: 0 16px;
  transition:
    background-color 0.25s ease;

  .toggle {
    margin: 0;
  }
}
.graph-title {
  font-size: 14px;
  color: $g13-mist;
  font-weight: 600;
  margin-right: 16px;
  @include no-user-select();
  transition:
    color 0.25s ease;
}
.graph-actions {
  display: flex;
  align-items: center;
}
.table-container {
  background-color: $graph-bg-color;
  border-radius: 0 0 $graph-radius $graph-radius;
  padding: 8px 16px;
  position: relative;
  top: $de-vertical-margin;
  height: calc(100% - #{$de-graph-heading-height} - #{($de-vertical-margin * 2)});

  & > div {
    position: absolute;
    width: calc(100% - #{($de-vertical-margin * 2)});
    height: calc(100% - #{$de-vertical-margin});
    top: ($de-vertical-margin/2);
    left: $de-vertical-margin;;
  }
  & > div .multi-table__tabs {
    position: absolute;
    height: 30px;
    width: 100%;
  }
  & > div > div:last-child {
    position: absolute;
    top: 30px;
    height: calc(100% - 30px) !important;
    width: 100%;
  }
  .fixedDataTableLayout_main {
    height: 100% !important;
  }
  .generic-empty-state {
    background-color: $g6-smoke;
    padding: 50px 0;
    height: 100%;
  }
}
.graph-container {
  @include no-user-select();
  background-color: $graph-bg-color;
  border-radius: 0 0 $graph-radius $graph-radius;
  padding: 8px 16px;
  position: relative;
  height: 316px;
  transition:
    background-color 0.25s ease;
}
.data-explorer .graph-container {
  top: $de-vertical-margin;
  height: calc(100% - #{$de-graph-heading-height} - #{($de-vertical-margin * 2)});
  padding: 0;

  & > div {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  & > div > div {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    // width: calc(100% - #{($de-vertical-margin * 2)});
    // height: calc(100% - #{$de-vertical-margin});
    // top: ($de-vertical-margin / 2);
    // left: $de-vertical-margin;
  }
  & > div > div > div:first-child {
    height: 100% !important;
  }
}


/* Active State */
.graph.active {
  .graph-heading,
  .graph-container {
    background-color: $graph-active-color;
  }
  .graph-title {
    color: $g20-white;
  }
}

.graph-empty {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  > p {
    font-size: 28px;
    font-weight: 300;
    margin: 0;
    text-align: center;
    color: $g8-storm;
  }
}
.graph-fetching {
  width: 100%;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.graph-spinner {
  width: 121px;
  height: 121px;
  background-image: url(assets/images/laser-spinner.png);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  animation: graph-panel-spinner 1s infinite linear;
}
.graph-spinner--small {
  width: 58px;
  height: 58px;
  background-image: url(assets/images/laser-spinner.png);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  animation: graph-panel-spinner 1s infinite linear;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto;
}

@keyframes graph-panel-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.multi-table__tabs {
  display: flex;
}
.multi-table__tab {
  white-space: nowrap;
  color: $g10-wolf;
  background: $g5-pepper;
  height: 30px;
  line-height: 30px;
  margin-right: 2px;
  border-radius: 4px 4px 0 0;
  cursor: $cc-pointer;
  padding: 0 10px;
  transition:
    color 0.25s ease,
    background-color 0.25s ease;

  &:hover {
    color: $g20-white;
    background-color: $g6-smoke;
  }
  &.active {
    font-weight: 700;
    background-color: $g6-smoke;
    color: $g14-chromium;
  }
}
