@import '@influxdata/clockface/dist/variables.scss';

.notebook-visualization {
  background-color: $g2-kevlar;
  border-radius: $cf-radius;
  display: flex;
  align-items: stretch;
  height: 100%;
}

.notebook-visualization--header {
  width: 47px;
  flex: 0 0 47px;
}

.notebook-visualization--view {
  width: 100%;
  border-radius: $cf-radius-sm;
  background-color: $g0-obsidian;
  padding: $cf-marg-b + $cf-marg-a;

  .empty-graph-error {
    height: 200px;
  }

  .time-machine-tables {
    height: 200px;
  }
}
