// TODO: Fix this in clockface
.alert-history-page .cf-page-contents.full-height .cf-page-contents--padding {
  width: 100%;
  height: 100%;
  padding: 0 54px 54px 54px;
}

.alert-history {
  width: 100%;
  height: 100%;
  padding-top: $cf-marg-c;
  overflow: hidden;
}
