.alerting-index,
.alerting-index > .cf-grid--row,
.alerting-index > .cf-grid--row > .cf-grid--column {
  height: 100%;
}

.alerting-index--column {
  height: calc(100% - #{$ix-marg-d});
  overflow: hidden;
}

.alert-column--empty {
  min-height: 160px;
  justify-content: center;
}

.alerting-index--column-body {
  flex: 1 0 0;
  position: relative;
  height: 90%;
  padding-bottom: $ix-marg-d;
}

.alerting-index--list,
.alerting-index--search {
  padding: 18px;
  padding-top: 0;
}

/*
  First time widget
  ------------------------------------------------------------------------------
*/

.alerting-first-time {
  border: $ix-border solid $c-sapphire;

  h1,
  h5 {
    user-select: none;
    color: $c-neutrino;
  }
  h1 {
    letter-spacing: 0;
    margin-top: 0;
  }

  h5 {
    line-height: 1.5em;
    font-weight: 500;
    margin-bottom: 0.25em;

    strong {
      font-weight: 900;
      color: $g20-white;
    }
  }

  .cf-button {
    margin-bottom: $ix-marg-c;
    margin-right: $ix-marg-b;
  }
}

/*
  Check creation popover
  ------------------------------------------------------------------------------
*/

.query-checklist--popover {
  width: 300px;
  padding: 16px;
  user-select: none;

  p,
  li {
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 500;
    color: $g15-platinum;
  }
  p {
    margin-top: 0;
  }
}

.query-checklist--list {
  margin-bottom: 0;
  padding: 0;
}

.query-checklist--item {
  margin: 0;
  padding-left: 0;
  list-style: none;

  .cf-icon {
    display: inline-block;
    margin-right: 5px;
    width: 16px;
  }

  &.error {
    color: $c-dreamsicle;
  }

  &.valid {
    color: $c-rainforest;
  }
}
