/*
  Small Screen Layout
  ------------------------------------------------------------------------------
*/

.alerting-index .cf-page-contents__fluid {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.alerting-index--selector {
  width: 100%;
  margin-bottom: $cf-marg-b;
}

.alerting-index--columns {
  display: flex;
  align-items: stretch;
  flex: 1 0 0;
}

.alerting-index--column {
  display: none;
  flex-direction: column;
  flex: 1 0 0;
  overflow: hidden;
  margin-bottom: $cf-marg-c;
}

.alerting-index__checks .alerting-index--checks,
.alerting-index__endpoints .alerting-index--notification-endpoints,
.alerting-index__rules .alerting-index--notification-rules {
  display: flex;
}

.alerting-index--column-body {
  flex: 1 0 0;
}

.alerting-index--list,
.alerting-index--search {
  padding: 20px;
  padding-top: 0;
}

/*
  Large Screen Layout
  ------------------------------------------------------------------------------
*/

@media screen and (min-width: $cf-grid--breakpoint-lg) {
  .alerting-index--selector {
    display: none;
  }

  .alerting-index--column {
    display: flex;
    margin-bottom: $cf-marg-d;
    margin-right: $cf-marg-b;

    &:last-child {
      margin-right: 0;
    }
  }
}

/*
  First time widget
  ------------------------------------------------------------------------------
*/

.alerting-first-time {
  border: $ix-border solid $c-sapphire;

  h1,
  h5 {
    user-select: none;
    color: $c-neutrino;
  }
  h1 {
    letter-spacing: 0;
    margin-top: 0;
  }

  h5 {
    line-height: 1.5em;
    font-weight: 500;
    margin-bottom: 0.25em;

    strong {
      font-weight: 900;
      color: $g20-white;
    }
  }

  .cf-button {
    margin-bottom: $ix-marg-c;
    margin-right: $ix-marg-b;
  }
}

/*
  Check creation popover
  ------------------------------------------------------------------------------
*/

.query-checklist--popover {
  width: 300px;
  padding: 16px;
  user-select: none;

  p,
  li {
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 500;
    color: $g15-platinum;
  }
  p {
    margin-top: 0;
  }
}

.query-checklist--list {
  margin-bottom: 0;
  padding: 0;
}

.query-checklist--item {
  margin: 0;
  padding-left: 0;
  list-style: none;

  .cf-icon {
    display: inline-block;
    margin-right: 5px;
    width: 16px;
  }

  &.error {
    color: $c-dreamsicle;
  }

  &.valid {
    color: $c-rainforest;
  }
}
