.level-table-field {
  font-weight: 600;
}

.level-table-field--crit {
  color: $c-fire;
}

.level-table-field--warn {
  color: $c-tiger;
}

.level-table-field--ok {
  color: $c-rainforest;
}

.level-table-field--info {
  color: $c-pool;
}

.level-table-field--unknown {
  color: $c-amethyst;
}

