/*
    Confirm Button
    ----------------------------------------------------------------------------
    This button requires a second click to confirm the action
*/

.confirm-button {
  .confirm-button--tooltip {
    visibility: hidden;
    transition: all;
    position: absolute;
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}
.confirm-button--confirmation {
  white-space: pre;
  max-width: 200px;
  border-radius: 3px;
  background-color: $c-curacao;
  opacity: 0;
  padding: 0 7px;
  color: $g20-white;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  transition:
    opacity 0.25s ease,
    background-color 0.25s ease;

  &:after {
    content: '';
    border: 8px solid transparent;
    border-bottom-color: $c-curacao;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: border-color 0.25s ease;
    z-index: 100;
  }

  &:hover {
    background-color: $c-dreamsicle;
    cursor: pointer;
  }
  &:hover:after {
    border-bottom-color: $c-dreamsicle;
  }
}
.confirm-button.expanded {
  .confirm-button--tooltip {
    visibility: visible;
  }
  .confirm-button--confirmation {
    opacity: 1;
  }
}
