/*
  Styles for the Create Organization Overlay
  ------------------------------------------------------
  Accessed via Chronograf Admin
*/

$create-org--form-z: 2;
$create-org--max-width: 550px;
$create-org--gutter: 30px;
$create-org--margin: 18px;

.create-org-form {
  max-width: $create-org--max-width;
  margin: 0 auto;
  position: relative;
  z-index: $create-org--form-z;
}
.create-org-form--header {
  height: $chronograf-page-header-height;
  background: $g0-obsidian;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $create-org--gutter;

  .page-header__right span.page-header__dismiss {
    margin-right: -10px !important;
  }
}
.create-org-form--body {
  padding: $create-org--margin $create-org--gutter;
  border-radius: 0 0 $radius $radius;
  @include gradient-v($g2-kevlar,$g0-obsidian);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-org-form--input {
  width: 100%;
  margin: 30px 0;
}
.create-org-form--footer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: $create-org--margin;

  > .btn {
    margin: 0 4px;
    width: 80px;
    text-align: center;
  }
}
