/*
  Crosshairs
  ------------------------------------------------------------------------------
*/
.crosshair {
  position: absolute;
  z-index: 0;
  top: 8px;
  width: calc(100% - 32px);
  height: calc(100% - 16px);
  cursor: pointer;
  opacity: 1;
}

.crosshair--crosshair {
  opacity: 1;
  position: absolute;
  top: 0;
  height: calc(100% - 20px);
  width: 0.5px;
  background: linear-gradient(to bottom, $c-dreamsicle 0%, $c-dreamsicle 100%);
  transition: opacity 0.4s ease;
  z-index: 5;
  cursor: pointer;
}

.crosshair--crosshair.hidden {
  visibility: hidden;
}
