/*
    Dropdowns
    ----------------------------------------------
    Note: Some of these styles are intended to
    override styles from bootstrap-theme
*/

$dropdown-menu-default-width: 100%;
$dropdown-menu-max-height: 270px;

/*
    Generic width modifiers
    Use instead of creating new classes if possible
*/
.dropdown .dropdown-toggle,
.dropdown .dropdown-autocomplete {
  width: 120px; /* Default width */
}
@for $i from 8 through 30 {
  &-#{$i * 10} .dropdown-toggle,
  &-#{$i * 10} .dropdown-autocomplete { width: #{$i * 10}px; }
}

.dropdown-toggle {
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;

  .caret {
    position: absolute;
    top: calc(50% + 1px);
    right: 8px;
    transform: translateY(-50%);
  }
  > .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
  }
  .dropdown-selected {
    display: inline-block;
    flex: 1 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 15px;
  }
}
.dropdown .dropdown-toggle.btn-xs {
  height: 22px !important;
  line-height: 22px !important;
  padding: 0 9px;
}

/*
    AutoComplete Field
    ----------------------------------------------
*/
.dropdown-autocomplete {
  position: relative;
  padding: 0 !important;

  &.btn-xs {height: 22px;}
  &.btn-sm {height: 30px;}
  &.btn-md {height: 36px;}
  &.btn-lg {height: 50px;}
}
.dropdown-autocomplete--input {
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  border: 0;
  color: $g20-white;
  padding: 0;
  font-weight: 500;

  .btn-xs & {padding: 0 18px 0 9px; font-size: 12px;}
  .btn-sm & {padding: 0 18px 0 9px; font-size: 13px;}
  .btn-md & {padding: 0 34px 0 17px; font-size: 14px;}
  .btn-lg & {padding: 0 48px 0 24px; font-size: 18px;}

  &::-webkit-input-placeholder { color: rgba(255,255,255,0.5); font-weight: 500 !important; }
  &::-moz-placeholder { color: rgba(255,255,255,0.5); font-weight: 500 !important; }
  &:-ms-input-placeholder { color: rgba(255,255,255,0.5); font-weight: 500 !important; }
  &:-moz-placeholder { color: rgba(255,255,255,0.5); font-weight: 500 !important; }

  &:focus {
    color: $g20-white;
  }
}
.dropdown-empty {
  padding: 7px 9px;
  font-size: 13px;
  color: rgba(255,255,255,0.4);
  font-weight: 500;
  line-height: 15px;
  @include no-user-select();
}

/*
    Dropdown Menu
    ----------------------------------------------
*/
.dropdown-menu {
  width: $dropdown-menu-default-width;
  min-width: initial;
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-height: $dropdown-menu-max-height;
  @include gradient-h($c-ocean, $c-pool);
  box-shadow: 0 2px 5px 0.6px fade-out($g0-obsidian, 0.8);

  li.dropdown-item {
    position: relative;
    width: 100%;

    &.active {
      @include gradient-h($c-sapphire, $c-pool);
    }
    &:hover {
      @include gradient-h($c-laser, $c-pool);
    }
  }
  li.dropdown-item > a {
    position: relative;
    @include no-user-select();
    width: 100%;
    border-radius: 0 !important;
    display: inline-block;
    padding: 7px 9px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 500 !important;
    color: $c-yeti !important;
    background-color: transparent;
    transition:
      color 0.25s ease;

    &:hover {
      cursor: pointer;
      background-color: transparent;
      color: $g20-white !important;
    }
    &:active,
    &:active:focus {
      @include gradient-h($c-sapphire, $c-pool);
    }
    &:focus {
      @include gradient-h($c-ocean, $c-pool);
    }
  }
  li.dropdown-item.highlight {
    &, &:hover {
      @include gradient-h($c-laser, $c-pool);
    }
    > a {
      background: none;
      background-color: transparent;
      color: $g20-white;
    }
  }
}
.dropdown.dropdown-kapacitor .dropdown-toggle {
  color: $c-rainforest !important;
  &:hover {color: $c-honeydew !important;}
}
.dropdown.dropdown-kapacitor .dropdown-menu,
.rule-builder .dropdown .dropdown-menu {
  @include custom-scrollbar($c-rainforest, $c-honeydew);
  @include gradient-h($c-pool, $c-rainforest);

  li.dropdown-item:hover {
    @include gradient-h($c-laser, $c-rainforest);
  }
  li.dropdown-item > a {
    color: $c-mint !important;
    &:hover {
      color: $g20-white !important;
    }
  }
  li.dropdown-item.highlight {
    &, &:hover {
      @include gradient-h($c-laser, $c-rainforest);
    }
    > a {
      background: none;
      background-color: transparent;
      color: $g20-white;
    }
  }
}
.dropdown.dropdown-chronograf .dropdown-menu {
  @include custom-scrollbar($c-comet, $c-potassium);
  @include gradient-h($c-ocean, $c-comet);

  li.dropdown-item:hover {
    @include gradient-h($c-laser, $c-comet);
  }
  li.dropdown-item > a {
    color: $c-twilight !important;
    &:hover {
      color: $g20-white !important;
    }
  }
  li.dropdown-item.highlight {
    &, &:hover {
      @include gradient-h($c-laser, $c-comet);
    }
    > a {
      background: none;
      background-color: transparent;
      color: $g20-white;
    }
  }
}

/*
    Dropdown Menu (only js highlighting, works with autocomplete feature)
    ----------------------------------------------
*/
.dropdown-menu.dropdown-menu--no-highlight {
  li.dropdown-item {

    &:hover {
      background: none;
      background-color: transparent;
    }
  }
  li.dropdown-item.highlight {
    &, &:hover {
      @include gradient-h($c-laser, $c-pool);
    }
  }
}
/*
    Dropdown Header
    ----------------------------------------------
*/
.dropdown-header {
  height: 32px;
  line-height: 30px;
  padding: 0 9px;
  white-space: nowrap;
  font-size: 14px !important;
  font-weight: 900;
  color: $c-neutrino !important;
  text-transform: none !important;
  border-bottom: 2px solid $c-pool;
  background-color: $c-ocean;

  &:hover {
    background-image: none !important;
    background-color: $c-ocean !important;
    cursor: default;
  }
}

/*
    Dropdown Actions
    ----------------------------------------------
*/
.dropdown-item__actions {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 3px;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.dropdown-item__action {
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background-color: transparent;
  border: none !important;
  font-size: 13px;
  transition:
    text-shadow 0.25s ease,
    color 0.25s ease;
  color: $c-sapphire;

  &[data-target="#deleteExplorerModal"] .icon {
    position: relative;
    right: -1px;
  }

  &:hover {
    color: $g20-white;
    text-shadow:
      0 0 2px $c-hydrogen,
      0 0 3px $c-laser,
      0 0 6px $c-ocean;
    background-color: transparent;
  }
}

/*
    Group By Time Dropdown
    ----------------------------------------------
*/
.group-by-time-dropdown {
  .dropdown-toggle {
    width: 120px;
    height: 28px !important;
    line-height: 28px !important;
    font-size: 12px;
    text-transform: none;
    border-radius: $radius;
    display: block;
  }
  .dropdown-menu > li.dropdown-item > a {display: block;}
}
.data-explorer .group-by-time-dropdown .dropdown-toggle {
  font-weight: 600;
  background-color: $g2-kevlar;
  line-height: 24px !important;
  border: 2px solid $g6-smoke;
  transition:
    border-color 0.25s ease,
    color 0.25s ease,
    box-shadow 0.25s ease;
  color: $g10-wolf;

  &:hover {
    border-color: $g7-graphite;
    color: $g18-cloud;
  }
}
.data-explorer .group-by-time-dropdown.open .dropdown-toggle {
  background-color: $g2-kevlar !important;
  border-color: $c-pool !important;
  box-shadow: 0 0 6px 0px $c-pool !important
}
