/*
  Fancy Scrollbars
  ------------------------------------------------------
*/

$scrollbar-track-size: 12px;
$scrollbar-thumb-size: 6px;

/* Horizontal Scrollbar Styles */
.fancy-scroll--track-h {
  padding: ($scrollbar-track-size - $scrollbar-thumb-size) / 2;
  width: 100%;
  height: $scrollbar-track-size !important;
  bottom: 0;
  left: 0;
}
.fancy-scroll--thumb-h {
  height: $scrollbar-thumb-size !important;
  border-radius: ($scrollbar-thumb-size / 2);
  @include gradient-h($c-pool,$c-comet);
}
/* Vertical Scrollbar Styles */
.fancy-scroll--track-v {
  padding: ($scrollbar-track-size - $scrollbar-thumb-size) / 2;
  width: $scrollbar-track-size !important;
  height: 100%;
  top: 0;
  right: 0;
}
.fancy-scroll--thumb-v {
  width: $scrollbar-thumb-size !important;
  border-radius: ($scrollbar-thumb-size / 2);
  @include gradient-v($c-pool,$c-comet);
}