/*
  Fill Query
  ------------------------------------------------------------------------------
  Small widget for supplying a fill() value in a query
*/

.fill-query {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
}
.fill-query > label {
  white-space: nowrap;
  margin: 0;
  @include no-user-select();
  color: $g11-sidewalk;
}
.fill-query--dropdown .dropdown-toggle {
  font-family: $code-font;
}
.fill-query--dropdown .dropdown-menu .dropdown-item a {
  font-family: $code-font;
}
.fill-query--input {
  margin-left: 4px;
  font-weight: 600;
}
// Size modifiers
.fill-query--xs {
  .fill-query--dropdown .dropdown-toggle { width: 90px; }
  .fill-query--input {width: 70px;}
  & > label {
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    padding: 0 8px;
  }
}
.fill-query--sm {
  .fill-query--dropdown .dropdown-toggle { width: 110px; }
  .fill-query--input {width: 90px;}
  & > label {
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    padding: 0 11px;
  }
}

// Prevent component from being flush to edge when used in Query Editor
.query-editor--status .fill-query {
  margin-right: 4px;
}
