/*
  Fill Query
  ------------------------------------------------------------------------------
  Small widget for supplying a fill() value in a query
*/

.fill-query {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 8px; // Assumes it is to the right of GROUP BY TIME
}
.fill-query--dropdown .dropdown-toggle {
  font-family: $code-font;
}
.fill-query--dropdown .dropdown-menu .dropdown-item a {
  font-family: $code-font;
}
.fill-query--input {
  margin-left: 4px;
  font-weight: 600;
}
// Size modifiers
.fill-query--xs {
  .fill-query--dropdown .dropdown-toggle {
    width: 90px;
  }
  .fill-query--input {
    width: 70px;
  }
}
.fill-query--sm {
  .fill-query--input {
    width: 90px;
  }
}
