.func-node-container {
  display: inline-flex;
  flex-direction: column;
}

.func-node {
  background: #252b35;
  border-radius: $radius-small;
  padding: 10px;
  width: auto;
  display: flex;
  flex-direction: column;
  color: $ix-text-default;
  text-transform: uppercase;
  margin: $ix-marg-a;
  font-family: $ix-text-font;
  font-weight: 500;
  cursor: pointer;
}
