/*
  Variables
  ---------------------------------------------
*/
$graph-heading-height: 44px;
$graph-gutter: 16px;

/*
  Graph Styles
  ---------------------------------------------
*/
.graph,
.graph-heading,
.graph-container,
.graph > .table-container {
  position: relative;
}
.graph {
  margin: 0 $page-wrapper-padding;
  height: 100%;
}
.graph-heading {
  background-color: $g3-castle;
  border-radius: $radius $radius 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $graph-heading-height;
  top: $graph-gutter;
  padding: 0 7px;
  transition:
    background-color 0.25s ease;

  .toggle-btn {
    text-transform: capitalize;
  }
}
.graph-heading > input[type="text"].form-control,
.graph-name {
  font-weight: 600;
  font-size: 14px;
  padding: 0 11px;
}
.graph-name {
  width: 100%;
  height: 30px;
  line-height: 26px;
  background-color: transparent;
  color: $g13-mist;
  border-radius: 4px;
  border: 2px solid transparent;
  transition:
    background-color 0.25s ease,
    border-color 0.25s ease,
    color 0.25s ease;

  &:hover {
    cursor: text;
    background-color: $g5-pepper;
    color: $g20-white;
  }
}
.graph-name__untitled {
  font-style: italic;
}
.graph-title {
  font-size: 14px;
  color: $g13-mist;
  font-weight: 600;
  @include no-user-select();
  transition:
    color 0.25s ease;
}
.graph .table-container,
.graph-container {
  top: $graph-gutter;
  background-color: $g3-castle;
  border-radius: 0 0 $radius $radius;
  height: calc(100% - #{($graph-heading-height + ($graph-gutter * 2))});
}
.graph .table-container {
  padding: 8px 16px;

  & > div > div:last-child {
    position: absolute;
    top: 30px;
    height: calc(100% - 30px) !important;
    width: 100%;
  }
  .fixedDataTableLayout_main {
    height: 100% !important;
  }
}
.graph-container {
  @include no-user-select();

  & > .dygraph {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  & > .dygraph > .dygraph-child {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
  }
  & > .dygraph > .dygraph-child > .dygraph-child-container {
    height: 100% !important;
  }
}

.graph-empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  @include no-user-select();

  > p {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    text-align: left;
    color: $g8-storm;
    white-space: pre-wrap;
  }
}
.graph-fetching {
  width: 100%;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.graph-spinner {
  width: 121px !important;
  height: 121px !important;
  background-image: url(assets/images/laser-spinner.png);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  animation: graph-panel-spinner 1s infinite linear;
}

@keyframes graph-panel-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
