/*
  Variables
  ---------------------------------------------
*/
$graph-heading-height: 44px;


/*
  Graph Styles
  ---------------------------------------------
*/
.graph {
  position: absolute;
  top: 0;
  width: calc(100% - #{($page-wrapper-padding * 2)});
  left: $page-wrapper-padding;
}
.graph-heading {
  position: relative;
  top: 16px;
  background-color: $g3-castle;
  border-radius: $radius $radius 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $graph-heading-height;
  padding: 0 16px;
  transition:
    background-color 0.25s ease;

  .toggle {
    margin: 0;
    text-transform: capitalize;
  }
}
.graph-title {
  font-size: 14px;
  color: $g13-mist;
  font-weight: 600;
  margin-right: 16px;
  @include no-user-select();
  transition:
    color 0.25s ease;
}
.graph-actions {
  display: flex;
  align-items: center;
}
.graph .table-container {
  background-color: $g3-castle;
  border-radius: 0 0 $radius $radius;
  padding: 8px 16px;
  position: relative;
  top: 16px;
  height: calc(100% - #{($graph-heading-height - 32px)});

  & > div > div:last-child {
    position: absolute;
    top: 30px;
    height: calc(100% - 30px) !important;
    width: 100%;
  }
  .fixedDataTableLayout_main {
    height: 100% !important;
  }
  .generic-empty-state {
    background-color: transparent;
    padding: 50px 0;
    height: 100%;
    font-size: 22px;
    @include no-user-select();
  }
}
.graph-container {
  @include no-user-select();
  background-color: $g3-castle;
  border-radius: 0 0 $radius $radius;
  padding: 8px 16px;
  position: relative;
  height: 316px;
  transition:
    background-color 0.25s ease;
}
.data-explorer .graph-container {
  top: 16px;
  height: calc(100% - #{$graph-heading-height - 32px});
  padding: 0;

  & > div:not(.graph-panel__refreshing) {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  & > div:not(.graph-panel__refreshing) > div:not(.graph-panel__refreshing) {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
  }
  & > div:not(.graph-panel__refreshing) > div:not(.graph-panel__refreshing) > div:first-child {
    height: 100% !important;
  }
}

.graph-empty {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  > p {
    font-size: 28px;
    font-weight: 300;
    margin: 0;
    text-align: center;
    color: $g8-storm;
  }
}
.graph-fetching {
  width: 100%;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.graph-spinner {
  width: 121px;
  height: 121px;
  background-image: url(assets/images/laser-spinner.png);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  animation: graph-panel-spinner 1s infinite linear;
}
.graph-spinner--small {
  width: 58px;
  height: 58px;
  background-image: url(assets/images/laser-spinner.png);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  animation: graph-panel-spinner 1s infinite linear;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto;
}

@keyframes graph-panel-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}