  .group-by-time-dropdown .dropdown-toggle {
  width: 70px;
}
.group-by-time {
  display: flex;
  align-items: center;

  p {
    padding: 0 6px;
    margin: 0;
    height: 30px;
    line-height: 26px;
    font-size: 13px;
    color: $g11-sidewalk;
    font-weight: 500;
    border-radius: 3px 0 0 3px;
    border-style: solid;
    border-color: $g5-pepper;
    border-width: 2px;
    background-color: $g3-castle;
  }
  .dropdown-toggle {
    border-radius: 0px 3px 3px 0;
  }
}