@keyframes blur-in {
  from {
    filter: blur(0);
  }

  to {
    filter: blur(2px);
  }
}

@keyframes blur-out {
  from {
    filter: blur(2px);
  }

  to {
    filter: blur(0);
  }
}

.histogram-chart {
  user-select: none;

  &:not(.loading) {
    animation-duration: 0.1s;
    animation-name: blur-out;
  }

  &.loading {
    animation-duration: 0.3s;
    animation-name: blur-in;
    animation-fill-mode: forwards;
  }
}

.histogram-chart-bars--bar {
  shape-rendering: crispEdges;
  fill: $c-amethyst;
  opacity: 1;
  cursor: pointer;
  shape-rendering: crispEdges;
}

.histogram-chart--axes, .histogram-chart-skeleton {
  .x-label, .y-label {
    fill: $g11-sidewalk;
    font-size: 11px;
    font-weight: 600;
  }

  .x-label {
    text-anchor: middle;
    alignment-baseline: hanging;
  }

  .y-label {
    text-anchor: end;
    alignment-baseline: middle;
  }

  .y-tick {
    stroke-width: 1;
    stroke: $g5-pepper;
    shape-rendering: crispEdges;
  }
}


.histogram-chart-skeleton, .histogram-chart:not(.loading) .x-brush--area {
  cursor: crosshair;
}

.histogram-chart .x-brush--area {
  visibility: hidden;
  pointer-events: all;
}

.histogram-chart .x-brush--selection {
  fill: gray;
  opacity: 0.5;
}

.histogram-chart-tooltip {
  padding: 8px;
  background-color: $g0-obsidian;
  border-radius: $radius-small;
  @extend %drop-shadow;
  font-size: 12px;
  font-weight: 600;
  color: $g13-mist;
  display: flex;
  align-items: space-between;
  transform: translate(0, -50%);
  pointer-events: none;

  .histogram-chart-tooltip--value {
    margin-right: 10px;
  }
}
