@keyframes blur-in {
  from {
    filter: blur(0);
  }

  to {
    filter: blur(2px);
  }
}

@keyframes blur-out {
  from {
    filter: blur(2px);
  }

  to {
    filter: blur(0);
  }
}

.histogram-chart {
  user-select: none;

  &:not(.loading) {
    animation-duration: 0.1s;
    animation-name: blur-out;
  }

  &.loading {
    animation-duration: 0.3s;
    animation-name: blur-in;
    animation-fill-mode: forwards;
  }
}

.histogram-chart-bars--bar {
  shape-rendering: crispEdges;
  opacity: 1;
  pointer: cursor;
}

.histogram-chart--axes, .histogram-chart-skeleton {
  .x-label, .y-label {
    fill: $g13-mist;
    font-size: 12px;
    font-weight: bold;
  }

  .x-label {
    text-anchor: middle;
    dominant-baseline: hanging;
  }

  .y-label {
    text-anchor: end;
    dominant-baseline: middle;
  }

  .y-tick {
    stroke-width: 1;
    stroke: $g5-pepper;
    shape-rendering: crispEdges;
  }
}


.histogram-chart-skeleton, .histogram-chart:not(.loading) .x-brush--area {
  cursor: crosshair;
}

.histogram-chart .x-brush--area {
  visibility: hidden;
  pointer-events: all;
}

.histogram-chart .x-brush--selection {
  fill: gray;
  opacity: 0.5;
}

.histogram-chart-tooltip {
  padding: 8px;
  background-color: $g0-obsidian;
  border-radius: 3px;
  @extend %drop-shadow;
  font-size: 12px;
  font-weight: 600;
  color: $g13-mist;
  transform: translate(0, -50%);
  pointer-events: none;
  display: flex;
  justify-content: space-between;
}

.histogram-chart-tooltip--column:first-child {
  margin-right: 12px;
}
