/*
    Styles for Kapacitor Logs Table
    ----------------------------------------------------------------------------
*/

$logs-table-header-height: 60px;
$logs-table-padding: 60px;
$logs-row-indent: 6px;
$logs-level-dot: 8px;
$logs-margin: 4px;

.logs-table--container {
  width: 50%;
  position: relative;
  height: 100%;
  @include gradient-v($g3-castle,$g1-raven);
}
.logs-table--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: $logs-table-header-height;
  padding: 0 $logs-table-padding 0 ($logs-table-padding / 2);
  background-color: $g4-onyx;
}
.logs-table--panel {
  position: absolute !important;
  top: $logs-table-header-height;
  left: 0;
  width: 100%;
  height: calc(100% - #{$logs-table-header-height}) !important;
}

.logs-table {
  height: 100%;
}
.logs-table--row {
  position: relative;
  overflow: hidden;
  height: 87px; // Fixed height, required for Infinite Scroll, allows for 2 tags / fields per line
  padding: 8px ($logs-table-padding - 16px) 8px ($logs-table-padding / 2);
  border-bottom: 2px solid $g3-castle;
  transition: background-color 0.25s ease;

  &:first-child {
    border-bottom: none;
  }
}
.logs-table--divider {
  display: flex;
  align-items: center;
}
.logs-table--level {
  width: $logs-level-dot;
  height: $logs-level-dot;
  border-radius: 50%;
  position: relative;
  margin-right: $logs-row-indent;

  &.debug {background-color: $c-comet;}
  &.info {background-color: $g6-smoke;}
  &.warn {background-color: $c-pineapple;}
  &.ok {background-color: $c-rainforest;}
  &.error {background-color: $c-dreamsicle;}
}
.logs-table--timestamp {
  font-family: $code-font;
  font-weight: 500;
  font-size: 11px;
  color: $g9-mountain;
  flex: 1 0 0;
}
.logs-table--details {
  display: flex;
  align-items: flex-start;
  font-size: 13px;
  color: $g13-mist;
  font-weight: 600;
  padding-left: ($logs-level-dot + $logs-row-indent);

  .error {color: $c-dreamsicle;}
  .debug {color: $c-comet;}
}

/* Logs Table Item Types */
.logs-table--session {
  text-transform: capitalize;
  font-style: italic;
}
.logs-table--service {
  width: 140px;
}
.logs-table--blah {
  display: flex;
  flex: 1 0 0;
}
.logs-table--key-values {
  color: $g11-sidewalk;
  flex: 1 0 50%;
}
.logs-table--key-values h1 {
  font-size: 13px;
  font-weight: 700;
  margin: 0;
  letter-spacing: normal;
  line-height: 1.42857143em;
}
.logs-table--key-value {
}
.logs-table--key-value span {
  color: $c-pool;
}

.logs-table--many-keys {
    color: $c-pool;
    width: 100%;
    display: inline-block;
    font-style: italic;
}

.logs-table--row-expander {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  color: $g20-white;
  padding: 4px 0;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  transition: transform 0.25s ease;
  transform: translateY(100%);
}
.logs-table--row:hover .logs-table--row-expander {
  transform: translateY(0);
}

// Styles for Expandable Log Items
.logs-table--row.logs-table--row__expandable {
  &:hover {
    background-color: $g4-onyx;
    cursor: zoom-in;
  }
  &.expanded {
    height: 240px;
    &:hover {
      cursor: zoom-out;
    }
  }
}
