/*
  Persistent Legend
  ------------------------------------------------------------------------------
  Seen in a dashboard cell, below the graph
  NOTE: Styles for the parent are stored in Javascript, in PersistentLegend.js
*/

.persistent-legend {
  display: flex;
  align-items: flex-end;
}

.persistent-legend--item {
  height: 22px;
  line-height: 22px;
  background-color: $g4-onyx;
  border-radius: 3px;
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
  color: $g13-mist;
  font-size: 12px;
  font-weight: 600;
  padding: 0 7px;
  margin-right: 2px;

  &:hover {
    cursor: pointer;
    color: $g20-white;
    background-color: $g6-smoke;
  }
  &.disabled {
    background-color: $g1-raven;
    color: $g9-mountain;
    font-style: italic;

    &:hover {
      background-color: $g2-kevlar;
      color: $g13-mist;
    }
  }
}
