/*
  Persistent Legend
  ------------------------------------------------------------------------------
  Seen in a dashboard cell, below the graph
  NOTE: Styles for the parent are stored in Javascript, in PersistentLegend.js
*/

.persistent-legend {
  display: flex;
  align-items: flex-end;
}
.persistent-legend--dot {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $g20-white;
}
.persistent-legend--item {
  height: 22px;
  line-height: 22px;
  background-color: $g4-onyx;
  border-radius: 3px;
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
  color: $g20-white;
  font-size: 12px;
  font-weight: 600;
  padding: 0 7px;
  margin-right: 2px;

  span,
  .persistent-legend--dot {
    opacity: 0.8;
    transition: opacity 0.25s ease;
  }

  &:hover {
    cursor: pointer;
    background-color: $g6-smoke;

    span,
    .persistent-legend--dot {opacity: 1;}
  }
  &.disabled {
    background-color: $g1-raven;
    font-style: italic;

    span,
    .persistent-legend--dot {
      opacity: 0.35;
    }

    &:hover {
      background-color: $g2-kevlar;

      span,
      .persistent-legend--dot {
        opacity: 0.65;
      }
    }
  }
}
