/*
    Custom Tooltips
    ----------------------------------------------

    Using npm/react-tooltip
    http://wwayne.com/react-tooltip/
*/

$tooltip-padding: 8px;
$tooltip-radius: 5px;
$tooltip-font: 13px;

$tooltip-bg: $g5-pepper;
$tooltip-text: $g19-ghost;
$tooltip-accent: $c-pool;

$tooltip-code-bg: $g2-kevlar;
$tooltip-code-color: $c-potassium;

.influx-tooltip {
  width: min-content;
  background-color: $tooltip-bg !important;
  color: $tooltip-text !important;
  font-size: $tooltip-font !important;
  font-weight: 500 !important;
  line-height: 1.3em !important;
  padding: $tooltip-padding !important;
  white-space: pre-wrap !important;
  word-break: keep-all !important;
  border: 2px solid $tooltip-accent !important;
  border-radius: $tooltip-radius !important;
  text-transform: none !important;
  cursor: default;

  h1 {
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 6px 0;
    line-height: 1.125em;
    letter-spacing: 0;
    font-family: $default-font;
  }

  p {
    margin: 0;
    width: 100%;
    display: inline-block;
    padding: 0;
    white-space: nowrap;
  }

  code {
    background-color: $tooltip-code-bg !important;
    border: 0 !important;
    padding: 2px ($tooltip-padding / 2) !important;
    font-size: ($tooltip-font - 2px) !important;
    border-radius: 3px !important;
    margin: 1px 2px 1px 0 !important;
    color: $tooltip-code-color !important;
    white-space: nowrap !important;
    display: inline-block !important;
  }

  // Top placement by default
  &:after {
    margin: 0 !important;
    transform: translateX(-50%) !important;
    top: initial !important;
    left: 50% !important;
    bottom: -16px !important;
    border-style: solid !important;
    border-width: $tooltip-padding !important;
    border-color: $tooltip-accent transparent transparent transparent !important;
  }
  // Bottom placement
  &.place-bottom:after {
    top: -16px !important;
    bottom: initial !important;
    border-color: transparent transparent $tooltip-accent transparent !important;
  }


  /* Kapacitor Style Tooltip */
  &.kapacitor-tooltip {
    border-color: $c-rainforest !important;

    code {
      color: $c-pool !important;
    }
    &:after {
      border-color: $c-rainforest transparent transparent transparent !important;
    }
    // Bottom placement
    &.place-bottom:after {
      border-color: transparent transparent $c-rainforest transparent !important;
    }
  }
}

.influx-tooltip__hover {
  @extend .influx-tooltip;
  pointer-events: auto!important;
  &:hover {
    visibility: visible!important;
    opacity: 1!important;
  }
}


/*
    Question Mark Tooltip
    ----------------------------------------------
*/
$qmark-tooltip-size: 15px;

.question-mark-tooltip {
  display: inline-block;
}
.question-mark-tooltip--icon {
  position: relative;
  top: -1px;
  vertical-align: middle;
  display: inline-block;
  width: $qmark-tooltip-size;
  height: $qmark-tooltip-size;
  border-radius: 50%;
  text-align: center;
  line-height: ($qmark-tooltip-size + 1px);
  font-weight: 900;
  background-color: $g10-wolf;
  color: $g0-obsidian;
  margin: 0 5px;
  transition:
    background-color 0.25s ease;
}
.question-mark-tooltip:hover {
  cursor: default;
  .question-mark-tooltip--icon {
    background-color: $c-pool;
  }
}
