/*
  Resizable Container
  ------------------------------------------------------------------------------
*/

$resizer-division-z: 1;
$resizer-clickable-z: 2;
$resizer-line-z: 3;
$resizer-handle-z: 4;

$resizer-line-width: 2px;
$resizer-handle-width: 10px;
$resizer-click-area: 28px;
$resizer-glow: 14px;
$resizer-dots: $g3-castle;
$resizer-color: $g5-pepper;
$resizer-color-hover: $g8-storm;
$resizer-color-active: $c-pool;
$resizer-color-kapacitor: $c-rainforest;

.resize--container {
  overflow: hidden !important;
  // display: flex;
  // align-items: stretch;

  &.vertical {
    width: 100%;
    // flex-direction: row;
  }

  &.horizontal {
    height: 100%;
    // flex-direction: column;
  }

  &.resize--dragging * {
    @include no-user-select();
  }
}

.resizer--division {
  z-index: $resizer-division-z;
  border: 1px solid #f00;
  position: relative;
  float: left;

  &.resizer__horizontal {
    width: 100%;
  }

  &.resizer__vertical {
    height: 100%;
  }

  .resizer--division:nth-child(1) {
    border-color: #0f0;
  }
  .resizer--division:nth-child(2) {
    border-color: #0ff;
  }
  .resizer--division:nth-child(3) {
    border-color: #00f;
  }
  .resizer--division:nth-child(4) {
    border-color: #f0f;
  }
}

.resizer--full-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
  Resizable Container Handle
  ------------------------------------------------------------------------------
*/
.resizer--handle {
  z-index: $resizer-clickable-z;
  user-select: none;
  -webkit-user-select: none;
  position: absolute;

  // Psuedo element for handle
  &:before {
    z-index: $resizer-handle-z;
    color: $resizer-dots;
    letter-spacing: 1.3px;
    font-size: 7px;
    content: '●●●●●●●●●●●●●●●●●●●●●●';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 160px;
    height: $resizer-handle-width;
    line-height: $resizer-handle-width;
    background-color: $resizer-color;
    border-radius: 3px;
    white-space: nowrap;
    text-align: center;
    transition:
      background-color 0.25s ease;
  }
  // Psuedo element for line
  &:after {
    z-index: $resizer-line-z;
    content: '';
    display: block;
    position: absolute;
    background-color: $resizer-color;
    box-shadow: 0 0 0 transparent;
    transition:
      background-color 0.19s ease;
  }
  &:hover {
    &:before {
      background-color: $resizer-color-hover;
    }
    &:after {
      background-color: $resizer-color-hover;
    }
  }
  &.dragging {
    &:before,
    &:after {
      transition:
        box-shadow 0.3s ease,
        background-color 0.3s ease;
      background-color: $resizer-color-active;
      box-shadow: 0 0 $resizer-glow $resizer-color-active;
    }
  }
}

/*
  Horizontal Handle
  ------------------------------------------------------------------------------
*/
.resizer--handle.horizontal {
  top: 0;
  height: $resizer-click-area;
  margin-top: -$resizer-click-area/2;
  margin-bottom: -$resizer-click-area/2;
  width: 100%;

  &:hover {
    cursor: ns-resize;
  }

  // Psuedo element for handle
  &:before {
    transform: translate(-50%,-50%);
  }
  // Psuedo element for line
  &:after {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: $resizer-line-width;
  }
}

/*
  Vertical Handle
  ------------------------------------------------------------------------------
*/
.resizer--handle.vertical {
  left: 0;
  width: $resizer-click-area;
  margin-left: -$resizer-click-area/2;
  margin-right: -$resizer-click-area/2;
  height: 100%;

  &:hover {
    cursor: ew-resize;
  }

  // Psuedo element for handle
  &:before {
    transform: translate(-50%,-50%) rotate(90deg);
  }
  // Psuedo element for line
  &:after {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: $resizer-line-width;
  }
}

/*
  Resizable Container Draggable Title
  ------------------------------------------------------------------------------
*/

.resizer--title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: $g3-castle;
  padding: 0 11px;
  z-index: $resizer-clickable-z;
  font-size: 13px;
  font-weight: 600;
  color: $g13-mist;
  @include no-user-select();

  &:hover {
    background-color: $g4-onyx;
  }

  &.dragging {
    cursor: ns-resize;
    color: $c-laser;
    background-color: $g5-pepper;
  }
}

.resizer--title.horizontal {
  &:hover {
    cursor: ns-resize;
  }
}

.resizer--title.vertical {
  &:hover {
    cursor: ew-resize;
  }
}

.resizer--contents {
  width: 100%;
  height: 100%;
}

.resizer--title + .resizer--contents {
  width: 100%;
  height: calc(100% - 30px);
  position: absolute;
  top: 30px; 
  overflow: hidden;
}

