/*
    Source Selector component styles
    ----------------------------------------------------------------
*/

.source-selector {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex: 1 0 0;
}
