/*
  Template Control Bar
  ------------------------------------------------------
  Used within a dashboard to control values for
  template variables
*/

$template-control--margin: 4px;

.template-control-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: $template-control--margin;
}
.template-control--heading {
  font-size: 16px;
  font-weight: 500;
  color: $g13-mist;
  margin: 0 8px 0 0;
  @include no-user-select();
  white-space: nowrap;
}
.template-control--manage {
  margin: $template-control--margin;
}
.template-control--dropdown {
  flex: 0 1 auto;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: $template-control--margin;

  .dropdown {
    order: 2;
    margin: 0;
    flex: 1 0 0;
  }

  .dropdown-toggle {
    border-radius: 0 0 $radius-small $radius-small;
    width: 100%;
    font-size: 12px;
    font-family: $code-font;
  }
  .dropdown-menu {
    @include gradient-h($c-star,$c-pool);
    @include custom-scrollbar-round($c-pool,$c-laser);

    > li > a {
      &, &:active {background-color: transparent !important;}
      font-size: 12px;
      font-family: $code-font;
    }
    > li {
      &:hover {@include gradient-h($c-comet,$c-pool);}
    }
  }
} 
.template-control--label {
  @include no-user-select();
  order: 1;
  height: 18px;
  padding: 0 8px;
  margin: 0;
  font-size: 11px;
  font-family: $code-font;
  color: $c-potassium;
  line-height: 18px;
  border-radius: $radius-small $radius-small 0 0;
  background-color: $g4-onyx;
}