/*
  Resizable Container with 3 divisions
  ------------------------------------------------------------------------------
*/

$threesizer-handle: 30px;

.threesizer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;

  &.dragging .threesizer--division {
    @include no-user-select();
    pointer-events: none;
  }

  &.vertical {
    flex-direction: row;
  }

  &.horizontal {
    flex-direction: column;
  }
}

.threesizer--division {
  overflow: hidden;
  display: flex;
  align-items: stretch;

  transition: height 0.25s ease-in-out, width 0.25s ease-in-out;

  &.dragging {
    transition: none;
  }

  .vertical & {
    flex-direction: column;
  }

  .horizontal & {
    flex-direction: row;
  }
}

/* Draggable Handle With Title */
.threesizer--handle {
  @include no-user-select();
  background-color: $g4-onyx;
  transition: background-color 0.25s ease, color 0.25s ease;

  &.vertical {
    width: $threesizer-handle;
    padding: 12px 0;
  }

  &.horizontal {
    height: $threesizer-handle;
    padding: 0 12px;
  }

  &:hover {
    cursor: row-resize;
    color: $g16-pearl;
    background-color: $g5-pepper;
  }

  &.dragging {
    cursor: row-resize;
    color: $c-laser;
    background-color: $g5-pepper;
  }
}

.threesizer--title {
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  color: $g11-sidewalk;

  .vertical & {
    transform: rotate(90deg) translateX(8px);
  }
}

/* Division Contents */
.threesizer--contents {
  &.horizontal {
    height: calc(100% - #{$threesizer-handle}) !important;
  }
  &.vertical {
    width: calc(100% - #{$threesizer-handle}) !important;
  }
}
