/*
  Resizable Container with 3 divisions
  ------------------------------------------------------------------------------
*/

$threesizer-handle: 30px;
$threesizer-handle-z: 2;
$threesizer-contents-z: 1;

.threesizer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &.dragging .threesizer--division {
    @include no-user-select();
    pointer-events: none;
  }
}

.threesizer--division {
  position: relative;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  &.dragging {
    transition: none;
  }
}

/* Draggable Handle With Title */
.threesizer--handle {
  position: relative;
  z-index: $threesizer-handle-z;
  @include no-user-select();
  height: $threesizer-handle;
  background-color: $g4-onyx;
  padding: 0 12px;
  line-height: $threesizer-handle;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $g11-sidewalk;
  transition: background-color 0.25s ease, color 0.25s ease;

  &:hover {
    cursor: row-resize;
    color: $g16-pearl;
    background-color: $g5-pepper;
  }

  &.dragging {
    cursor: row-resize;
    color: $c-laser;
    background-color: $g5-pepper;
  }
}

/* Division Contents */
.threesizer--contents {
  position: absolute !important;
  top: $threesizer-handle;
  z-index: $threesizer-contents-z;
  width: 100%;
  height: calc(100% - #{$threesizer-handle}) !important;
}
