/*
  Styles for the Write Data overlay
  ------------------------------------------------------
  Accessed via Data Explorer
*/

$write-data--max-width: 960px;
$write-data--gutter: 30px;
$write-data--margin: 18px;
$write-data--input-height: calc(90vh - 48px - 60px - 36px); // Heights of everything but input height
$write-data--transition: opacity 0.4s ease;

.write-data-form {
  max-width: $write-data--max-width;
  margin: 0 auto;
}
.write-data-form--header {
  height: $chronograf-page-header-height;
  background: $g0-obsidian;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $write-data--gutter;

  .page-header__dismiss {
    margin-left: 10px;
    margin-right: -10px;
  }
  .dropdown {
    margin-left: 8px;
    & > .dropdown-toggle {
      width: 180px;
    }
  }
}
.write-data-form--body {
  padding: $write-data--margin $write-data--gutter;
  border-radius: 0 0 $radius $radius;
  @include gradient-v($g2-kevlar,$g0-obsidian);
}
textarea.form-control.write-data-form--input {
  height: $write-data--input-height;
  padding: $write-data--margin;
  max-width: 100%;
  min-width: 100%;
  font-family: $code-font;
  resize: none;
}
.write-data-form--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: $write-data--margin;
}
.write-data-form--helper {
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
  color: $g9-mountain;
  padding-left: $write-data--margin + 2px;
}
.write-data-form--submit {
  width: 140px;
}
.write-data-form--file {
  height: $write-data--input-height;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: $g2-kevlar;
  border: 2px solid $g4-onyx;
  border-radius: 3px;

  > h3, > p {
    color: $g12-forge;
    @include no-user-select();
  }
  > h3 {
    margin: 0 0 20px 0;
  }
  > p {
    font-weight: 600;
    margin: 20px 0;
  }
}
input[type="file"].write-data-form--upload {
  display: none;
}
.write-data-form--filepath_selected,
.write-data-form--filepath_empty {
  @include no-user-select();
  font-size: 13px;
  font-weight: 600;
  margin-top: 15px;
}
.write-data-form--filepath_empty {
  color: $g13-mist;
  font-style: italic;
}
.write-data-form--filepath_selected {
  color: $c-rainforest;
  .icon {margin-right: 4px;}
}

/* Drag File to Upload Styles */
.write-data-form--drag-container,
.write-data-form--drag-here {
  position: absolute;
}
.write-data-form--drag-container {
  transition-property: all;
  visibility: hidden;
  width: calc(100% - 60px);
  max-width: $write-data--max-width;
  height: 90vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 3;
}
.write-data-form--drag-here {
  position: absolute;
  top: 60px;
  width: 100%;
  height: calc(100% - 60px);
  @include gradient-v($g2-kevlar,$g0-obsidian);
  transition: $write-data--transition;
  border-radius: 0 0 4px 4px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  // Dashed box
  &:after {
    content: '';
    position: absolute;
    top: 18px;
    left: 30px;
    right: 30px;
    bottom: 66px;
    border: 2px dashed $g5-pepper;
    border-radius: 4px;
  }
}
.write-data-form--drag-here h3 {
  text-align: center;
  color: $g12-forge;
  margin: 0;
  @include no-user-select();
}
.overlay-technology.drag-over {
  .write-data-form--drag-container {visibility: visible;}
  .write-data-form--drag-here {
    opacity: 1;
    transition: $write-data--transition;
  }
}
.write-data-form--drag-graphic {
  background-image: url(assets/images/drag-drop-icon.svg);
  background-size: 100% 100%;
  background-position: center center;
  width: 90px;
  height: 90px;
}
