/*
    Styles for Profile Page
    ----------------------------------------------------------------------------
*/

.profile {
  display: flex;
  align-items: stretch;
  background-color: rgba($g3-castle, 0.5);
  border-radius: $radius;
}

.profile-nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 0 1 0;
  padding-left: $ix-marg-d;
  padding-bottom: $ix-marg-d;
}

.profile-nav--header {
  @include no-user-select();
  margin: $ix-marg-d;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}

.profile-nav--name {
  font-size: 19px;
  line-height: 22px;
  color: $g15-platinum;
  margin: 0;
  margin-top: 16px;
}

.profile-nav--description {
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  margin: 0;
  margin-top: $ix-marg-a + $ix-marg-b;
  color: $g11-sidewalk;
}

.profile-nav--tabs {
  @include no-user-select();
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.profile-nav--tab {
  border-radius: $radius 0 0 $radius;
  font-size: 17px;
  height: $nav-size;
  line-height: $nav-size;
  padding: 0 17px;
  color: $g11-sidewalk;
  transition: background-color 0.25s ease, color 0.25s ease;

  &:hover {
    background-color: rgba($g3-castle, 0.5);
    color: $g16-pearl;
    cursor: pointer;
  }

  &.active {
    background-color: $g3-castle;
    color: $g18-cloud;
  }
}
.profile-content {
  flex: 1 0 0;
  background-color: $g3-castle;
  border-radius: $radius;
  min-height: 500px;
  padding: $ix-marg-d;
}

.profile-section--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $ix-marg-d;
}

