/*
  Data Loading Overlay Styles
*/

.data-loading--overlay {
  height: calc(90vh - 140px);
  display: flex;
  flex-direction: column;

  .data-loading--form {
    flex-grow: 1;
    display: inline-flex;
    flex-direction: column;

    .data-loading--scroll-content {
      flex-grow: 1;
      text-align: center;
      display: inline-flex;
      flex-direction: column;

      .data-loading--columns {
        display: flex;
        // align-items: stretch;
        flex-direction: row;
        flex-grow: 1;
      }
    }

    .data-loading--button-container {
      position: relative;
      display: inline-flex;
      align-content: center;
      justify-content: center;
      padding: 15px;
    }
  }
}

.data-loading--column-panel {
  background-color: $g3-castle;
  border-radius: 0 $radius $radius 0;
  flex: 1 0 auto;
  padding: $ix-marg-d;
}

/*
  Telegraf Instructions Overlay
  ------------------------------------------------------------------------------
*/

.telegraf-instructions {
  p, h6 {
    font-size: 14px;
  }

  p {
    margin-bottom: 2em;
  }
}

/*
  Line Protocol Wizard
  ------------------------------------------------------------------------------
*/

$line-protocol--content-height: 300px;

.line-protocol--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $ix-marg-b;
  z-index: 5050;
  position: relative;
}

.line-protocol--content {
  height: $line-protocol--content-height;
}

.line-protocol--status {
  font-size: 13px;
  font-weight: 600;
  user-select: none;

  &.done {
    color: $c-rainforest;
  }
  &.error {
    color: $c-dreamsicle;
  }
}

.line-protocol--spinner {
  height: $line-protocol--content-height + $ix-marg-b + $form-sm-height;
  border: $ix-border solid $g3-castle;
  border-radius: $ix-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
