/*
  CloudNav
  ------------------------------------------------------------------------------
*/

.cloud-nav {
  height: 48px;
}

.cloud-nav--logo {
  display: inline-block;
  height: 26px;
  margin: 2px;
}

.cloud-nav--logo-link {
  display: inline-block;
}

.cloud-nav--account {
  width: 100%;
  padding: 6px 16px 8px 16px;
  font-size: 12px;
  font-weight: 500;
  color: $c-neutrino;
  margin: 0;
  display: block;
  user-select: none;
  position: relative;

  strong {
    font-weight: 900;
    color: $g20-white;
  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: $ix-border;
    @include gradient-h($c-ocean, $c-amethyst);
  }
}
