.org-switcher--list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.org-switcher--prompt {
  text-align: center;
  margin-top: 0;
  margin-bottom: $cf-marg-a;
  color: $g9-mountain;
}

.org-switcher--item {
  display: flex;
  align-items: center;
  color: $g11-sidewalk;
  background-color: $g2-kevlar;
  padding: $cf-marg-c;
  margin-bottom: $cf-marg-a;
  border-radius: $cf-radius;
  transition: background-color 0.25s ease, color 0.25s ease;

  &:hover {
    cursor: pointer;
    color: $g15-platinum;
    background-color: $g4-onyx;
  }
}

.org-switcher--item-label {
  user-select: none;
  font-size: 1.125em;
  font-weight: $cf-font-weight--medium;

  em {
    font-weight: $cf-font-weight--regular;
    font-size: 0.8em;
    font-style: normal;
    opacity: 0.3;
    display: inline-block;
    margin-left: $cf-marg-b;
  }
}

.org-switcher--item-circle {
  width: $cf-marg-d;
  height: $cf-marg-d;
  border-radius: 50%;
  background-color: $g1-raven;
  margin-right: $cf-marg-c;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: background-color 0.25s ease, color 0.25s ease, text-shadow 0.25s ease;
  color: $g1-raven;

  .org-switcher--item:hover & {
    text-shadow: 0 0 4px $c-ocean;
    background-color: $g2-kevlar;
    color: $c-pool;
  }
}

.org-switcher--item__selected,
.org-switcher--item__selected:hover {
  cursor: default;
  background-color: $g5-pepper;
  color: $g20-white;
  
  .org-switcher--item-circle {
    text-shadow: 0 0 4px $c-viridian;
    color: $c-honeydew;
    background-color: $g3-castle;
  }
}
