.tabbed-page--header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: $cf-marg-d;
}

.tabbed-page--header-left,
.tabbed-page--header-right {
  display: flex;
  align-items: center;
  justify-content: center;

  & > * {
    margin-right: $cf-marg-a;

    &:last-child {
      margin-right: 0;
    }
  }
}

.tabbed-page--header-right {
  order: 1;
  margin-bottom: $cf-marg-b;

  &:only-child {
    margin-bottom: 0;
  }
}

.tabbed-page--header-left {
  order: 2;
}

@media screen and (min-width: $cf-grid--breakpoint-sm) {
  .tabbed-page--header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .tabbed-page--header-left {
    flex: 1 0 0;
    order: 1;
    justify-content: flex-start;
  }

  .tabbed-page--header-right {
    flex: 1 0 0;
    order: 2;
    justify-content: flex-end;
    margin-bottom: 0;
  }
}
