.import-template-overlay,
.import-template-overlay--empty {
  height: 500px;
  display: flex;
}

.import-template-overlay {
  align-items: stretch;
}

.import-template-overlay--details {
  flex: 3 0 0;
  margin-left: $ix-marg-c;
}

.import-template-overlay--columns {
  display: flex;
  justify-content: space-between;
}

.import-template-overlay--variables-column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.import-template-overlay--cells-column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.import-template-overlay--empty {
  background-color: $g3-castle;
  border-radius: $ix-radius;
  align-content: center;
  align-items: center;
  justify-content: center;
}
