/*
  Label Selector Styles
  ------------------------------------------------------------------------------
*/

@import 'src/style/modules';

.label-selector--input {
  position: relative;
}

.label-selector--menu-container {
  overflow: hidden;
  z-index: 999;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  @include gradient-h($g2-kevlar, $g4-onyx);
  border-radius: $radius;
  box-shadow: 0 2px 5px 0.6px fade-out($g0-obsidian, 0.7);
}

.label-selector--menu-container .fancy-scroll--track-h {
  display: none;
}

.label-selector--menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: $ix-marg-b - ($ix-border / 2);
}

.label-selector--menu-item {
  display: inline-flex;
  align-items: flex-start;
  margin: $ix-border / 2;
}

.label-selector--empty {
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $g9-mountain;
  font-style: italic;
  min-height: 30px;
  line-height: 30px;
  
  &:first-child {
    margin-bottom: $ix-marg-b - ($ix-border / 2);
  }
}

.label-selector--selection {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: $ix-marg-c;
}

.label-selector--remove-all {
  margin-top: $ix-marg-b;
  margin-left: $ix-marg-b;
}

.label-selector--selected,
.label-selector--none-selected {
  flex: 1 0 0;
  margin-top: $ix-marg-b;
}

.label-selector--none-selected {
  font-size: 13px;
  color: $g10-wolf;
  font-weight: 500;
  font-style: italic;
  user-select: none;
}
