/*
  Data Explorer Styles
  ------------------------------------------------------------------------------
*/

@import 'src/style/modules';

.data-explorer {
  width: 100%;
  height: 100%;
  padding-bottom: $ix-marg-c;
  display: flex;
  align-items: stretch;  
}
