/*
   Radio Buttons
   -----------------------------------------------------------------------------
*/

.radio-buttons {
  @include no-user-select();
  display: inline-flex;
  align-items: stretch;
  border: $ix-border solid $g5-pepper;
  background-color: $g5-pepper;
  border-radius: 4px;
  overflow: hidden;
}

.radio-button {
  font-weight: 600;
  margin-right: 2px;
  transition: background-color 0.25s ease, color 0.25s ease;
  background-color: $g2-kevlar;
  color: $g11-sidewalk;
  text-transform: capitalize;
  outline: none;
  border: 0;

  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background-color: $g4-onyx;
    color: $g15-platinum;
    cursor: pointer;
  }
  &.active {
    background-color: $g5-pepper;
  }
}

/*  Size Modifiers */
.radio-buttons {
  &.radio-buttons-xs {
    height: $form-xs-height;

    .radio-button {
      line-height: $form-xs-height - 4px;
      padding: 0 $form-xs-padding;
      font-size: $form-xs-font;
    }
  }

  &.radio-buttons-sm {
    height: $form-sm-height;

    .radio-button {
      line-height: $form-sm-height - 4px;
      padding: 0 $form-sm-padding;
      font-size: $form-sm-font;
    }
  }

  &.radio-buttons-md {
    height: $form-md-height;

    .radio-button {
      line-height: $form-sm-height - 4px;
      padding: 0 $form-md-padding;
      font-size: $form-md-font;
    }
  }

  &.radio-buttons-lg {
    height: $form-lg-height;

    .radio-button {
      line-height: $form-lg-height - 4px;
      padding: 0 $form-lg-padding;
      font-size: $form-lg-font;
    }
  }
}

/* Color Modifiers */
.radio-buttons {
  &.radio-buttons-default {
    .radio-button.active {
      color: $g18-cloud;
    }
  }
  &.radio-buttons-primary {
    .radio-button.active {
      color: $c-pool;
    }
  }
  &.radio-buttons-success {
    .radio-button.active {
      color: $c-rainforest;
    }
  }
  &.radio-buttons-warning {
    .radio-button.active {
      color: $c-comet;
    }
  }
  &.radio-buttons-danger {
    .radio-button.active {
      color: $c-dreamsicle;
    }
  }
  &.radio-buttons-alert {
    .radio-button.active {
      color: $c-pineapple;
    }
  }
}

/* Shape Modifiers */
.radio-buttons.radio-buttons-square {
  &.radio-buttons-xs .radio-button {
    width: $form-xs-height - 4px;
  }
  
  &.radio-buttons-sm .radio-button {
    width: $form-sm-height - 4px;
  }
  
  &.radio-buttons-md .radio-button {
    width: $form-md-height - 4px;
  }

  &.radio-buttons-lg .radio-button {
    width: $form-lg-height - 4px;
  }

  .radio-button {
    padding: 0;
    text-align: center;
  }
}

.radio-buttons.radio-buttons-stretch {
  width: 100%;

  .radio-button {
    flex: 1 0 0;
    text-align: center;
  }
}

/* Disabled State */
.radio-buttons.disabled {
  .radio-button,
  .radio-button:hover {
    background-color: $g2-kevlar;
    font-style: italic;
    color: $g7-graphite;
  }
  .radio-button.active {
    background-color: $g5-pepper;
    color: $g10-wolf;
  }
}


/*
   Todo: Replace all instances of these styles with new pattern then
   delete these styles
   -----------------------------------------------------------------------------
*/
.nav-tablist {
  display: inline-flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
  width: auto;
  border: $ix-border solid $g5-pepper;
  background-color: $g5-pepper;
  height: $form-md-height;
  border-radius: 4px;
  overflow: hidden;

  > li {
    @extend %no-user-select;
    display: flex;
    align-items: center;
    padding: 0 $form-md-padding;
    font-size: $form-md-font;
    font-weight: 600;
    margin: 0 2px 0 0;
    background-color: $g2-kevlar;
    color: $g11-sidewalk;
    transition:
      background-color 0.25s ease,
      color 0.25s ease;

    &:hover {
      background-color: $g4-onyx;
      color: $g15-platinum;
      cursor: pointer;
    }
    &.active {
      background-color: $g5-pepper;
      color: $g18-cloud;
    }
    &.disabled,
    &[disabled="true"] {
      &, &:hover {
        background-color: $g2-kevlar;
        font-style: italic;
        color: $g7-graphite;
        cursor: not-allowed;
      }
    }
    &.disabled.active,
    &[disabled="true"].active {
      background-color: $g5-pepper;
      color: $g10-wolf;
    }

    &:last-child {margin-right: 0;}
  }
}

//  Size Modifiers
//  ----------------------------------------------------------------------------
.nav-tablist.nav-tablist-lg {
  height: $form-lg-height;
  > li {
    padding: 0 $form-lg-padding;
    font-size: $form-lg-font;
  }
}
.nav-tablist.nav-tablist-md {
  height: $form-md-height;
  > li {
    padding: 0 $form-md-padding;
    font-size: $form-md-font;
  }
}
.nav-tablist.nav-tablist-sm {
  height: $form-sm-height;
  > li {
    padding: 0 $form-sm-padding;
    font-size: $form-sm-font;
  }
}
.nav-tablist.nav-tablist-xs {
  height: $form-xs-height;
  > li {
    padding: 0 $form-xs-padding;
    font-size: $form-xs-font;
  }
}

//  Theme Modifiers
//  ----------------------------------------------------------------------------
.nav-tablist.nav-tablist-malachite {
  > li {
    background-color: $g3-castle;

    &:hover {background-color: $g4-onyx;}
    &.active {
      background-color: $g5-pepper;
      color: $c-rainforest;
    }
    &.disabled,
    &[disabled="true"] {
      &, &:hover {
        background-color: $g3-castle;
        color: $g7-graphite;
      }
    }
    &.disabled.active,
    &[disabled="true"].active {
      background-color: $g5-pepper;
      color: $g10-wolf;
    }
  }
}

//  Stretch to Fit
//  ----------------------------------------------------------------------------
.nav-tablist.stretch {
  width: 100%;

  > li {
    flex: 1 0 0;
    justify-content: center;
  }
}
