.dashboard--rate-alert {
    padding: 0 $cf-marg-d $cf-marg-c;
}

.load-data--rate-alert {
    padding-bottom: $cf-marg-c;
}

.load-data--asset-alert {
    padding-bottom: 16px;
}

// Might need to remove this eventually
.cf-page-header--fixed {
    justify-content: space-between;
}
