.load-data--asset-alert {
  margin-bottom: $cf-marg-d;
}

.cf-page-control-bar {
  + .rate-alert {
    margin: 0 $cf-marg-c $cf-marg-c;
  }
}

.rate-alert--content {
  display: inline-flex;
  flex-direction: column;
  font-weight: 500;

  .rate-alert--button {
    margin-top: $cf-marg-b;
  }
}

.cf-page--title {
  flex-shrink: 0;
}

.asset-alert {
  height: 100%;
  background-position: bottom -20px left -20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('~assets/images/dashboard-empty--dark.svg');
}

.dashboards--asset-alert {
  .asset-alert--contents {
    position: absolute;
    bottom: 0;
  }
}

a.upgrade-payg--button {
  @include gradient-diag-up($c-pool, $c-rainforest);
}

.asset-limit-overlay--contents {
  background-color: $g1-raven;
  border-radius: $cf-radius;
  p {
    text-align: center;
  }
  .cf-overlay--title {
    word-break: break-word;
  }
}

.asset-limit-overlay--graphic-container {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.asset-limit-overlay--graphic {
  display: inline-flex;
  position: relative;
  width: 100%;
  max-width: 720px;
}

.asset-limit-overlay--graphic:after {
  content: '';
  display: inline-block;
  padding-bottom: 57.3170731707317%;
}

.asset-limit-overlay--graphic-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('~assets/images/dashboard-empty--dark.svg');
}

@media screen and (min-width: $cf-nav-menu--breakpoint) {
  .rate-alert {
    margin-left: $cf-marg-d;
  }

  .rate-alert--content {
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;

    .rate-alert--button {
      margin-top: 0;
      margin-left: $cf-marg-c;
    }
  }

  .cf-page-control-bar {
    + .rate-alert {
      margin: 0 $cf-marg-d $cf-marg-c;
    }
  }

  .asset-limit-overlay--graphic {
    width: 60%;
  }

  .asset-limit-overlay--contents {
    .cf-overlay--header__wrap {
      align-items: center;
    }
  }
}
