/*
  Dashboards
  ------------------------------------------------------
*/

.view-loading-spinner {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.view-loading-spinner--timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 13px;
  transition: opacity 0.5s ease;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba($g2-kevlar, 0.75);
  line-height: 50px;
  text-align: center;
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}
