@import "src/style/modules";

.flux-function-docs {
  width: 420px;
  height: 330px;
}

.flux-function-docs--heading {
  font-weight: $cf-font-weight--bold;
  margin-top: $cf-marg-b;
  margin-bottom: $cf-marg-b;
  display: inline-block;
  width: 100%;

  article:first-child & {
    margin-top: 0;
  }
}

.flux-function-docs--snippet {
  background-color: $g1-raven;
  border-radius: $cf-radius;
  margin: $cf-marg-a 0;
  padding: $cf-marg-b;
  font-family: $cf-code-font;
}

.flux-function-docs--arguments {
  span:first-child {
    font-weight: $cf-font-weight--bold;
    color: $c-pool;
    margin-right: $cf-marg-a;
  }

  span:nth-child(2) {
    color: $c-rainforest;
    font-style: italic;
    margin-right: $cf-border;
  }

  div {
    margin: $cf-marg-a 0 $cf-marg-c 0;
  }
}
