.alert-history-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alert-history-controls--right {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  > * {
    margin-left: $ix-marg-a;
  }

  .status-search-bar {
    flex-basis: 300px;
  }
}

.alert-history-controls--left {
  flex-grow: 0;
  flex-shrink: 0;
}

.alert-history-controls--switcher {
  margin-left: $ix-marg-c;
}
