/*
  Getting Started Widget
  ------------------------------------------------------------------------------
*/

.getting-started {
  margin: $ix-marg-b 0;
  display: grid;
  grid-template-rows: 270px 270px 270px;
  grid-template-columns: 1fr;
  grid-row-gap: $ix-marg-b;
  grid-column-gap: $ix-marg-b;
}

.getting-started--card-digit {
  position: absolute;
  top: $ix-marg-b;
  left: $ix-marg-b;
  width: $ix-marg-c + $ix-marg-b;
  height: $ix-marg-c + $ix-marg-b;
  background-color: $g2-kevlar;
  color: $c-honeydew;
  border-radius: 50%;
  font-size: 12px;
  line-height: $ix-marg-c + $ix-marg-b;
  font-weight: 700;
  text-align: center;
  user-select: none;
}

.getting-started--card {
  width: 100%;
  height: 100%;
  border: $ix-border solid $g4-onyx;

  .cf-panel--body,
  .cf-panel--footer {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .cf-panel--body {
    top: 0;
    left: 0;
    height: calc(100% - 80px);
  }

  .cf-panel--footer {
    top: calc(100% - 80px);
    left: 0;
    height: 80px;
  }

  &.highlighted {
    border-color: $c-sapphire;

    .getting-started--card-digit {
      background-color: rgba($g0-obsidian, 0.5);
    }
  }
}

.getting-started--image {
  width: 100%;
  height: 100%;
  background-size: cover;

  > svg {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: $cf-grid--breakpoint-sm) {
  .getting-started {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 260px 260px;
  }
}

@media screen and (min-width: $cf-grid--breakpoint-md) {
  .getting-started {
    grid-row-gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 320px;
  }
}
