/*
   Radio Buttons
   -----------------------------------------------------------------------------
*/

@import "src/style/modules";

$radio-buttons--padding: 4px;

.radio-buttons {
  display: inline-flex;
  align-items: stretch;
  padding: $radio-buttons--padding;
  border-radius: $radius;
  background-color: $g5-pepper;
}

.radio-button {
  @include no-user-select();
  border: 0;
  font-family: $ix-text-font;
  font-weight: 600;
  background-color: transparent;
  transition: background-color 0.25s ease, color 0.25s ease;
  color: $g11-sidewalk;
  text-transform: capitalize;
  border-radius: $radius - 1px;
  outline: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    color: $g15-platinum;
    cursor: pointer;
  }

  &.active {
    color: $g20-white;
  }

  &.disabled,
  &.disabled:hover {
    font-style: italic;
    color: $g7-graphite;
  }
}

/*  Size Modifiers */
@mixin radioButtonSizeModifier($fontSize, $padding, $height) {
  height: $height;

  .radio-button {
    height: $height - ($radio-buttons--padding * 2);
    line-height: $height - ($radio-buttons--padding * 2);
    padding: 0 $padding;
    font-size: $fontSize;
  }
}

.radio-buttons--xs {
  @include radioButtonSizeModifier($form-xs-font, $form-xs-padding, $form-xs-height);
}
.radio-buttons--sm {
  @include radioButtonSizeModifier($form-sm-font, $form-sm-padding, $form-sm-height);
}
.radio-buttons--md {
  @include radioButtonSizeModifier($form-md-font, $form-md-padding, $form-md-height);
}
.radio-buttons--lg {
  @include radioButtonSizeModifier($form-lg-font, $form-lg-padding, $form-lg-height);
}


/* Color Modifiers */
.radio-buttons--default {
  .radio-button.active {
    background-color: $g7-graphite;
  }
}
.radio-buttons--primary {
  .radio-button.active {
    background-color: $c-pool;
  }
}
.radio-buttons--secondary {
  .radio-button.active {
    background-color: $c-star;
  }
}
.radio-buttons--success {
  .radio-button.active {
    background-color: $c-rainforest;
  }
}
.radio-buttons--danger {
  .radio-button.active {
    background-color: $c-curacao;
  }
}
.radio-buttons--alert {
  .radio-button.active {
    background-color: $c-pineapple;
  }
}

/* Shape Modifiers */
.radio-buttons.radio-buttons--square {
  &.radio-buttons--xs .radio-button {
    width: $form-xs-height;
  }
  
  &.radio-buttons--sm .radio-button {
    width: $form-sm-height;
  }
  
  &.radio-buttons--md .radio-button {
    width: $form-md-height;
  }

  &.radio-buttons--lg .radio-button {
    width: $form-lg-height;
  }

  .radio-button {
    padding: 0;
  }
}

.radio-buttons.radio-buttons--stretch {
  width: 100%;

  .radio-button {
    flex: 1 0 0;
  }
}
