/*
  Right Click Menu Styles
  ------------------------------------------------------------------------------
*/

@import 'src/style/modules';

.right-click--layer {
  position: relative;
  z-index: $z--right-click-layer;
}

.right-click--menu {
  border-radius: $radius;
  @include gradient-h($g0-obsidian, $g2-kevlar);
}

.right-click--menu .fancy-scroll--track-h {
  display: none;
}

.right-click--list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.right-click--menu-item {
  margin: 0;
  user-select: none;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 13px;
  line-height: 13px;
  font-weight: 600;
  transition: color 0.25s ease, background-color 0.25s ease;
  color: $g13-mist;
  padding: 5px 11px;

  &:hover {
    color: $g18-cloud;
    background-color: $g5-pepper;
    cursor: pointer;
  }

  &.disabled,
  &.disabled:hover {
    background-color: transparent;
    cursor: default !important;
    color: $g9-mountain;
    font-style: italic;
  }
  
  &:first-child {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }

  &:last-child {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}
