.multiple-input-index{
    align-content: center;
    padding: 10px;
    background-color: $g4-onyx;
    width: 600px;
    height: 300px;
    margin-left: 100px auto;
}
.input-row--remove{
    align-content: left
}