/*
  Create/Edit Label Overlay Styles
  ------------------------------------------------------------------------------
*/

.label-overlay--preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;

  > .label {
    margin: $ix-marg-a 0;
  }
}
