/*
  RandomLabelColor Styles
  ------------------------------------------------------------------------------
*/

.random-color--button {
    display: flex;
    align-items: center;
    justify-content: center;

    .label-colors--swatch {
        margin-right: $ix-marg-b;
    }

    > span.button-icon {
      margin-right: 0;
    }
}