.delete-data-filters--filters,
.delete-data-filters--no-filters {
  margin: $ix-marg-c 0;
}

.delete-data-filters--no-filters {
  text-align: center;
  padding: $ix-marg-d $ix-marg-b;
}

.delete-data-filter {
  display: flex;
  justify-content: stretch;
}

.delete-data-filter--equals {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $g5-pepper;
  border-radius: $radius;
  height: $form-sm-height;
  padding: $form-sm-padding;
  margin: 0 $ix-marg-a;
  user-select: none;
}

.delete-data-filter--remove,
.delete-data-filter--equals {
  margin-top: 18px;
}

.delete-data-filter--remove {
  flex: 0 0 auto;
}

.delete-data-form--danger-zone {
  border: 1px solid $c-curacao;
}

.delete-data-form--confirm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $ix-marg-b;
  height: $form-sm-height;
}

.delete-data-button {
  font-weight: bold;
  font-size: $ix-text-base;

  .icon {
    padding-right: $ix-marg-a;
  }

  &.delete-data-button--success {
    color: $c-viridian;
  }

  &.delete-data-button--error {
    color: $c-fire;
  }
}

.dwp-filter-dropdown {
  max-width: 95%;
}

.delete-data-preview {
  margin-bottom: 10px;
}

.preview-data-margins {
  margin: 0;
}
