/*
    Styles for Hosts List & Host View
    ----------------------------------------------
*/
.graph-panel__graph-container.hosts-graph {
  padding: 8px 16px;

  .single-stat {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
.hosts-graph-heading {
  display: block;
  width: 100%;
  margin: 0;
  background-color: $g3-castle;
  padding: 14px 16px 2px 16px;
  font-weight: 600;
  font-size: 13px;
  color: $g14-chromium;
  border-radius: 4px 4px 0 0;
}
.host-list--active-source {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  color: $g17-whisper;

  span {
    font-weight: 900;
  }
}

.sortable-header {
  transition:
    color 0.25s ease,
    background-color 0.25s ease;
  position: relative;

  &:after {
    content: '\e910';
    display: block;
    position: absolute;
    top: 50%;
    right: 8px;
    color: #fff;
    font-family: 'icomoon';
    opacity: 0;
    transform: translateY(-50%);
    transition:
      opacity 0.25s ease,
      color 0.25s ease,
      transform 0.35s ease;
  }

  &:hover {
    cursor: pointer;
    color: $g19-ghost;
    background-color: $g5-pepper;

    &:after {
      opacity: 1;
    }
  }
  &.sorting-down,
  &.sorting-up {
    background-color: $g5-pepper;
    color: $g19-ghost;

    &:after {
      opacity: 1;
    }
  }
  &.sorting-down {

    &:after {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}
.host-table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Hacky way to ensure that legends cannot be obscured by neighboring graphs */
.react-grid-item {
  &:hover {
    z-index: 9999;
  }
}
