/*
    Hosts Dashboard
    ----------------------------------------------
*/
.kapacitor-rules-page,
.hosts-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  @include gradient-v($g2-kevlar,$g0-obsidian);
  color: $g17-whisper;

  .enterprise-header {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    background-color: $g0-obsidian;
  }
  .hosts-page-scroll-container {
    position: absolute;
    top: $enterprise-page-header-height;
    left: 0;
    width: 100%;
    height: calc(100% - #{$enterprise-page-header-height});
    overflow: auto;
    @include custom-scrollbar($g2-kevlar,$c-pool);

    .container-fluid {
      padding-bottom: $enterprise-page-header-height;
    }
  }

  .panel-minimal {
    border: 0;

    .panel-title {
      color: $g17-whisper !important;
    }
    .panel-body {
      padding: 30px;
      background-color: $g3-castle;
      border: 0;
      color: $g17-whisper;

      > *:first-child {
        margin-top: 0;
      }
      > *:last-child {
        margin-bottom: 0;
      }

      table {
        th,td {
          border-color: $g5-pepper;
        }
        th {
          color: $g17-whisper;
        }
        td {
          color: $g14-chromium;
        }
        tbody tr:last-child td {
          border-bottom: 2px solid $g5-pepper;
        }
      }
    }
  }

  .users__search-widget {
    position: relative;

    input.form-control {
      position: relative;
      width: 100%;
      z-index: 1;
      background-color: $g2-kevlar;
      border-color: $g5-pepper;
      color: $g17-whisper;
      border-radius: 4px;
      padding-left: 34px;

      &:focus {
        border-color: $c-pool !important;
        color: $c-pool;

        &::-webkit-input-placeholder {
        color: $c-pool;
        }
        &::-moz-placeholder {
          color: $c-pool;
        }
        &:-ms-input-placeholder {
          color: $c-pool;
        }
        &:-moz-placeholder {
          color: $c-pool;
        }

        & + .input-group-addon {
          color: $c-pool;
        }
      }
      &::-webkit-input-placeholder {
        color: $g11-sidewalk;
      }
      &::-moz-placeholder {
        color: $g11-sidewalk;
      }
      &:-ms-input-placeholder {
        color: $g11-sidewalk;
      }
      &:-moz-placeholder {
        color: $g11-sidewalk;
      }
    }
    .input-group-addon {
      padding: 0;
      text-align: center;
      line-height: 38px;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 2;
      border: 0;
      width: 40px;
      background-color: transparent;
      transition:
        color 0.25s ease;
    }
  }
}
.hosts-dashboard {
  max-width: 100%;
}
.graph-panel__graph-container.hosts-graph {
  margin-bottom: 15px;
  padding: 9.5px 16px;
}
.hosts-graph-heading {
  display: block;
  width: 100%;
  margin: 15px 0 0 0;
  background-color: $g5-pepper;
  padding: 9.5px 16px;
  font-weight: 500;
  font-size: 16px;
  color: $g14-chromium;
  border-radius: 4px 4px 0 0;
}
.hosts-dashboard-header {
  .enterprise-header__container {
    max-width: 100%;
  }
  .enterprise-header__left {
    flex-direction: row;
    align-items: center;

    > * {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .enterprise-header__right {
    font-size: inherit;
  }
}

.host-list--active-source {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  color: $g17-whisper;

  span {
    font-weight: 900;
  }
}

.sortable-header {
  transition:
    color 0.25s ease,
    background-color 0.25s ease;
  position: relative;

  &:after {
    content: '\e910';
    display: block;
    position: absolute;
    top: 50%;
    right: 8px;
    color: #fff;
    font-family: 'icomoon';
    opacity: 0;
    transform: translateY(-50%);
    transition:
      opacity 0.25s ease,
      color 0.25s ease,
      transform 0.35s ease;
  }

  &:hover {
    cursor: pointer;
    color: $g19-ghost;
    background-color: $g5-pepper;

    &:after {
      opacity: 1;
    }
  }
  &.sorting-down,
  &.sorting-up {
    background-color: $g5-pepper;
    color: $g19-ghost;

    &:after {
      opacity: 1;
    }
  }
  &.sorting-down {

    &:after {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.host-table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
