/*
    Kapacitor Rule Builder
    ----------------------------------------------
*/
$kapacitor-page-padding: ($chronograf-page-header-height / 2);
$kapacitor-page-gutter: 46px;
$kapacitor-dot-size: 18px;
$kapacitor-line-width: 3px;
$metric-selector-height: 156px;
$kap-padding-sm: 8px;
$kap-padding-md: 13px;
$kap-padding-lg: 24px;
$kap-radius-lg: 5px;
$kap-input-height: 30px;

$kapacitor-graphic-color: $g3-castle;
$kapacitor-divider-color: $g2-kevlar;
$kapacitor-accent: $c-rainforest;
$kap-line-color: $g5-pepper;
$kap-dot-color: $c-rainforest;

$kapacitor-font-sm: 13px;

.rule-builder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.rule-builder--graph {
  margin-left: $kapacitor-page-gutter;
  width: calc(100% - #{$kapacitor-page-gutter});
  background-color: $kapacitor-graphic-color;
  border-radius: 0 0 $kap-radius-lg $kap-radius-lg;
  padding: 0 $kap-padding-sm;
  height: (300px + ($kap-padding-sm * 2));
  position: relative;

  > div {
    padding: 8px 16px;
    position: relative;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    transform: translateX(-50%);
    width: $kapacitor-line-width;
    height: 100%;
    background-color: $kap-line-color;
    top: 0;
    left: (($kapacitor-dot-size / 2) - $kapacitor-page-gutter);
  }
  .container--dygraph-legend {
    background-color: $g5-pepper;

    > span:first-child {
      border-top-color: $g7-graphite;
    }
  }
}
.rule-preview--graph-empty {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: $g12-forge;

    strong {
      color: $g18-cloud;
      font-weight: 900;
    }
  }
}

.rule-section-heading {
  margin: 0;
  padding: $kapacitor-page-padding 0 $kap-padding-md $kapacitor-page-gutter;
  font-weight: 400;
  color: $g13-mist;
  position: relative;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    transform: translateX(-50%);
  }
  // Vertical Line
  &:before {
    width: $kapacitor-line-width;
    height: 100%;
    background-color: $kap-line-color;
    top: 0;
    left: ($kapacitor-dot-size/2);
  }
  // Dot
  &:after {
    width: $kapacitor-dot-size;
    height: $kapacitor-dot-size;
    background-color: $kap-dot-color;
    border: 6px solid $kap-line-color;
    border-radius: 50%;
    top: ($kapacitor-page-padding + 3px);
    left: ($kapacitor-dot-size / 2);
  }
}
.rule-section-body {
  padding: 0 0 0 $kapacitor-page-gutter;
  margin: 0;
  position: relative;

  // Vertical Line
  &:before {
    content: '';
    display: block;
    position: absolute;
    transform: translateX(-50%);
    width: $kapacitor-line-width;
    height: 100%;
    background-color: $kap-line-color;
    top: 0;
    left: ($kapacitor-dot-size / 2);
  }
}
.kapacitor-rule-section {
  // Override appearance of lines and dots for first child
  &:first-of-type {
    .rule-section-heading:before {
      top: ($kapacitor-page-padding + 5px);
      height: calc(100% - #{$kapacitor-page-padding} - 5px);
    }
  }
  // Override appearance of lines and dots for last child
  &:last-of-type {
    .rule-section-heading:before {
      top: 0;
      height: ($kapacitor-page-padding + 3px + 3px);
    }
    .rule-section-body:before {
      display: none;
    }
  }
}



div.query-editor.kapacitor-metric-selector {
  border-radius: 0;
  background-color: transparent;
  padding: 0;

  // Query sample
  .query-editor__code pre {
    font-size: $kapacitor-font-sm;
    white-space: pre-wrap;
    background-color: $kapacitor-graphic-color;
    color: $kapacitor-accent;
    border-radius: $kap-radius-lg $kap-radius-lg 0 0;
    border: 0;
    padding: $kap-padding-md $kap-padding-lg;

    code {
      line-height: 1.5em;
    }
  }

  // Tabs
  .query-editor__tabs {
    background-color: $kapacitor-graphic-color;
    padding: $kap-padding-sm $kap-padding-lg 0 $kap-padding-lg;
    border-top: 2px solid $kapacitor-divider-color;
  }
  .query-editor__tab {
    font-size: $kapacitor-font-sm;
    background-color: $g3-castle;
    font-weight: 700;
    padding: 0 $kap-padding-md;
    height: $kap-input-height;
    line-height: ($kap-input-height - 4px);
    margin: 0;
    border-radius: 0;
    border-style: solid;
    border-color: $g5-pepper;
    border-width: 2px 0 2px 2px;
    color: $g11-sidewalk;

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-right-width: 2px;
    }
    &:hover {
      background-color: $g4-onyx;
      color: $g20-white;
    }

    &.active {
      background-color: $g5-pepper;
      color: $kapacitor-accent;
    }
  }

  // Editor List
  .kapacitor-tab-list {
    background-color: $kapacitor-graphic-color;
    border-radius: 0 0 $kap-radius-lg $kap-radius-lg;
  }
  .query-editor__list {
    padding-top: $kap-padding-sm;
    background-color: transparent;
    min-height: $metric-selector-height;
    max-height: $metric-selector-height;
    height: $metric-selector-height;
    border-radius: 0 0 $kap-radius-lg $kap-radius-lg;
    @include custom-scrollbar($kapacitor-graphic-color,$kapacitor-accent);
  }
  .query-editor__list-header {
    background-color: transparent;
    padding: $kap-padding-sm $kap-padding-lg 0 $kap-padding-lg;
  }
  .query-editor__filter,
  .tag-value-list__filter {
    border-radius: 4px;
    padding-left: ($kap-input-height + ($kap-padding-sm / 2));
    font-family: 'Roboto', Helvetica, Arial, Tahoma, Verdana, sans-serif;

    &::-webkit-input-placeholder { color: $g11-sidewalk; font-weight: 600; }
    &::-moz-placeholder { color: $g11-sidewalk; font-weight: 600; }
    &:-ms-input-placeholder { color: $g11-sidewalk; font-weight: 600; }
    &:-moz-placeholder { color: $g11-sidewalk; font-weight: 600; }

    & + .icon {
      left: ((($kap-input-height + ($kap-padding-sm / 2)) / 2) + $kap-padding-lg + 3px);
      top: calc(50% + #{($kap-padding-sm / 2)});
      font-size: ($kapacitor-font-sm + 1px);
      transform: translate(-50%,-50%);
      color: $g11-sidewalk;
    }
    &:focus + .icon {
      color: $kapacitor-accent;
    }
  }
  .tag-value-list__filter-container {
    padding: $kap-padding-sm $kap-padding-lg;

    .tag-value-list__filter + .icon {
      top: 50%;
    }
  }
  .query-editor__list-item {
    font-size: $kapacitor-font-sm;
    font-weight: 600;
    padding-left: $kap-padding-lg;
    padding-right: $kap-padding-lg;
    color: $g11-sidewalk;

    &:hover {
      background-color: $g3-castle;
      color: $g20-white;
    }
    &.active {
      font-weight: 600;
      background-color: $g5-pepper;
      color: $kapacitor-accent;
    }
  }
  .query-editor__hidden-dropdown {
    .btn.dropdown-toggle {
      width: 260px;
    }
  }
  .query-editor__list-checkbox__checkbox {
    &:before {
      background-color: $kapacitor-accent;
    }
  }
  .group-by-time-dropdown-label {
    font-weight: 600;
    font-size: $kapacitor-font-sm;
  }
  .tag-list__title .badge {
    color: $kapacitor-accent;
  }
  .tag-value-list__checkbox:after {
    background-color: $kapacitor-accent;
  }
  .tag-value-list__item.query-editor__list-item.active {
    background-color: transparent;
  }
  .btn.tag-list__group-by.active {
    background-color: $kapacitor-accent;
    border-color: $kapacitor-accent;

    &:hover {
      background-color: $c-honeydew;
      border-color: $c-honeydew;
    }
  }
  .tag-list__toggle {
    width: auto;

    .tag-list__toggle-btn {
      border-color: $g5-pepper;
      background-color: $kapacitor-graphic-color;
      color: $g11-sidewalk;
      font-size: $kapacitor-font-sm;
      font-weight: 700;
      width: auto;
      padding: 0 $kap-padding-md;

      &:hover {
        background-color: $g4-onyx;
        color: $g20-white;
      }
      &.active {
        background-color: $g5-pepper;
        border-color: $g5-pepper;
        color: $kapacitor-accent;
      }
    }
  }

  // Empty State
  .query-editor__empty {
    background-color: $kapacitor-graphic-color;
    height: $metric-selector-height;
    min-height: $metric-selector-height;
    max-height: $metric-selector-height;
  }
}

.alert-message {
  border: 2px solid $g3-castle;
  border-radius: $kap-radius-lg $kap-radius-lg 0 0;
  background-color: $kapacitor-graphic-color;
  margin: 0;
  padding: $kap-padding-sm $kap-padding-lg;
  color: $kapacitor-accent;
  width: 100%;
  height: 100px;
  min-width: 100%;
  max-width: 100%;
  display: block;
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  font-weight: 600;
  font-size: $kapacitor-font-sm;
  line-height: 17px;
  transition:
    color 0.25s ease,
    border-color 0.25s ease;

  @include custom-scrollbar($kapacitor-graphic-color,$kapacitor-accent);

  &:hover {
    border-color: $g4-onyx;
  }
  &:focus {
    outline: none;
    color: $g20-white;
    border-color: $kapacitor-accent;
  }
  &::-webkit-input-placeholder { color: $g9-mountain; }
  &::-moz-placeholder { color: $g9-mountain; }
  &:-ms-input-placeholder { color: $g9-mountain; }
  &:-moz-placeholder { color: $g9-mountain; }
}

.alert-message--endpoint {
  display: flex;
  align-items: center;
  width: auto;
  border-top: 2px solid $kapacitor-divider-color;

  > p {
    margin-right: $kap-padding-sm !important;
  } 
}
.alert-message--formatting {
  padding: ($kap-padding-sm - 2px) $kap-padding-lg;
  background-color: $kapacitor-graphic-color;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-top: 2px solid $kapacitor-divider-color;

  > p {
    margin: 0 ($kap-padding-sm - 2px) 0 0;
    font-weight: 600;
    display: inline-block;
    color: $g15-platinum;
  }
  > code {
    background-color: $g2-kevlar;
    height: $kap-input-height;
    line-height: $kap-input-height;
    padding: 0 ($kap-padding-sm - 2px);
    border: 0;
    border-radius: 3px;
    display: inline-block;
    margin: 2px;
    color: $c-pool;
    font-size: ($kapacitor-font-sm - 2px);
    font-weight: 600;
    transition: color 0.25s ease;

    &:hover {
      color: $c-rainforest;
      cursor: pointer;
    }
  }
}

.rule-section--item {
  background-color: $kapacitor-graphic-color;
  padding: $kap-padding-sm $kap-padding-lg;
  overflow: visible;

  p {
    margin: 0;
    font-weight: 600;
    display: inline-block;
    color: $g15-platinum;
  }

  &.top {
    border-top-left-radius: $kap-radius-lg;
    border-top-right-radius: $kap-radius-lg;
  }
  &.bottom {
    border-bottom-left-radius: $kap-radius-lg;
    border-bottom-right-radius: $kap-radius-lg;
  }
}

.kapacitor-values-tabs,
.value-selector {
  background-color: $kapacitor-graphic-color;
  padding: ($kap-padding-sm - 2px) $kap-padding-lg;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  > * {
    display: inline-block;
    margin: 2px;

    &:first-child {
      margin-left: 0;
    }
  }

  > p {
    white-space: nowrap;
    font-weight: 600;
    color: $g15-platinum;
    margin-left: ($kap-padding-sm / 2);
    margin-right: ($kap-padding-sm / 2);
  }
  > span {
    color: $kapacitor-accent;
    height: $kap-input-height;
    line-height: $kap-input-height;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    background-color: $g5-pepper;
    margin: 2px;
    padding: 0 $kap-padding-sm;
    font-weight: 700;
    font-size: $kapacitor-font-sm;

    &:hover {
      cursor: default;
    }
  }
}

.kapacitor-values-tabs {
  border-radius: $kap-radius-lg $kap-radius-lg 0 0;
  border-bottom: 2px solid $kapacitor-divider-color;

  .tab-group {
    > .btn.tab {
      padding: 0 $kap-padding-md;
      height: $kap-input-height;
      line-height: ($kap-input-height - 4px);
      font-size: $kapacitor-font-sm;
      font-weight: 700;
      background-color: $kapacitor-graphic-color;
      border-color: $g5-pepper;
      color: $g11-sidewalk;

      &:hover {
        background-color: $g4-onyx;
        color: $g20-white;
      }
      &.active {
        background-color: $g5-pepper;
        color: $kapacitor-accent;
      }
    }
  }
}

// Overriding form styles in the builder
.rule-builder {
  input[type="text"] {
    background-color: $kapacitor-graphic-color;
    color: $kapacitor-accent !important;
    font-weight: 600;
    font-size: $kapacitor-font-sm;
    font-family: Consolas, "Lucida Console", Monaco, monospace;
    height: $kap-input-height;

    &:focus {
      border-color: $kapacitor-accent;
      outline: none;
      box-shadow: none;
      color: $g20-white !important;
    }
  }
  .dropdown-toggle,
  input[type="text"] {
    padding-left: $kap-padding-sm;
    padding-right: $kap-padding-sm;
    height: $kap-input-height;
  }
  .dropdown-toggle,
  .dropdown.group-by-time-dropdown .btn.dropdown-toggle,
  .query-editor__list-checkbox .dropdown .btn.dropdown-toggle {
    width: 100%;
    text-align: left;
    position: relative;
    color: $kapacitor-accent !important;
    text-transform: capitalize;
    font-size: $kapacitor-font-sm;

    .caret {
      position: absolute;
      top: 50%;
      right: $kap-padding-sm;
      transform: translate(0,-50%);
    }

    &:hover {
      color: $c-honeydew !important;
    }
  }
  .size-256 {
    width: 256px;
  }
  .size-176 {
    width: 176px;
  }
  .size-166 {
    width: 166px;
  }
  .size-136 {
    width: 136px;
  }
  .size-106 {
    width: 106px;
  }
  .size-66 {
    width: 66px;
  }
  .size-49 {
    width: 49px;
  }
}

.chronograf-header__editable {
  transition: color 0.25s ease;

  &:hover {
    color: $g13-mist;
    cursor: text !important;
  }
  .icon {
    cursor: inherit;
    margin-left: 5px;
    position: relative;
    top: -1.5px;
  }
}
.chronograf-header__editing {
  border: 0;
  outline: none;
  background-color: $g0-obsidian;
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  width: 466px;

  &:focus {
    color: $kapacitor-accent;
  }
  &::-webkit-input-placeholder { color: $g9-mountain; }
  &::-moz-placeholder { color: $g9-mountain; }
  &:-ms-input-placeholder { color: $g9-mountain; }
  &:-moz-placeholder { color: $g9-mountain; }
}
