.retention-policies {
  .panel {
    margin-bottom: 16px;
  }
  
  .panel-heading {
    padding: 10px 30px;

    & + .panel-collapse > .panel-body {
      border-top: 2px solid $g19-ghost;
    }

    .panel-title a[data-toggle="collapse"] {
      font-weight: 400;
    }

    p {
      margin-bottom: 0px;
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
    }

    .rp-disk-usage {
      margin-left: 40px;
    }
  }
}

.modal#rpModal {
  .modal-body {
    display: inline-block;
    width: 100%;
  }
}
