#role-edit-page {
  .user-actions.btn-group {
    display: none;
  }
}
#addRoleModal {
  .well {
    max-height: 400px;
    overflow: auto;
    border: 2px solid $g17-whisper;
  }
}
$permission-list-item: 60px;
.permission-list {
  border: 0;
  background-color: transparent !important;
  padding: 0 6px;
  margin-top: 8px;

  ul {
    padding: 0;
    margin: 0;
    border: 2px solid $g17-whisper;
    overflow: auto;
    max-height: 400px;
    border-radius: 4px;
  }
  li {
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;

    &:last-child label {
      border-bottom: none;
    }

    input {
      display: block;
      position: relative;
      left: -9999px;
      margin:0;
      width: 0;
      height: 0;

      &:checked + label {
        color: #68707C;
        background-color: #fff;

        &:after {
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transform: translateY(-50%) scale(1,1);
        }
      }
    }

    label {
      padding: 13px 0 13px 70px;
      width: 100%;
      position: relative;
      margin: 0;
      display: inline-block;
      transition: color 0.25s ease, background-color 0.25s ease;
      font-size: 18px;
      line-height: 15px;
      font-weight: 500;
      border-bottom: 2px solid #eef0f2;
      background-color: #FAFBFC;
      color: #8F97A1;

      &:before {
        position: absolute;
        top: 50%;
        left: 20px;
        content: '';
        display: block;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        background-color: #fff;
        border: 2px solid #EEF0F2;
        transform: translateY(-50%);
        z-index: 1;
      }
      &:after {
        position: absolute;
        top: 50%;
        left: 25px;
        content: '';
        display: block;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        transition: transform 0.25s ease;
        background-color: #22ADF6;
        transform: translateY(-50%) scale(0,0);
        z-index: 2;
      }

      &:hover {
        cursor: pointer;
        color: #8F97A1;
      }
    }

    .permission-description {
      display: inline-block;
      font-size: 12px;
      font-weight: 400;
    }
  }
}

/*
    Permissions Pills Table
    ----------------------------------------------
*/

.permissions-table {
  margin-bottom: 0;

  tbody tr {
    &:first-child td {
      border-top: none;
    }
    td {
      vertical-align: middle;
    }

    .remove-permission {
      text-align: right;
    }
  }
}
$pill-height: 26px;
$pill-gap: 6px;
.pill {
  display: inline-block;
  height: $pill-height;
  border-radius: $pill-height/2;
  background-color: $g17-whisper;
  line-height: $pill-height;
  margin: 2px 0;
  padding: 0 9px;
  white-space: nowrap;
  transition:
    background-color 0.25s ease,
    color 0.25s ease;

  &.editable {
    // TODO: uncomment once the 'x' button is implemented for pills
    // padding-right: $pill-gap/2;

    &:hover {

    }
  }

  &-remove {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    padding: 0;
    border: none;
    background-color: $g17-whisper;
    color: $g15-platinum;
    font-size: 10px;
    width: $pill-height - $pill-gap;
    height: $pill-height - $pill-gap;
    margin-left: 4px;
    transition:
      color 0.25s ease,
      background-color 0.25s ease;

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-46%,-50%);
    }

    &:hover {
      cursor: pointer;
      background-color: $g18-cloud;
      color: $g8-storm;
    }
  }
}

.pill-add {
  display: inline-block;
  height: $pill-height;
  width: $pill-height;
  border-radius: 50%;
  background-color: $c-pool;
  border: 2px solid $c-pool;
  color: $g20-white;
  line-height: $pill-height -2px;
  margin: 2px 0;
  text-align: center;
  transition:
    background-color 0.25s ease,
    border-color 0.25s ease;

  &:hover {
    cursor: pointer;
    background-color: $c-laser;
    border-color: $c-laser;
  }
  &:active:hover,
  &:active:focus {
    background-color: $c-hydrogen;
  }
}

.add-cluster-account-row {
  display: flex;
  align-items: center;
  text-align: center;

  & > * {
    flex: 1;
  }
}
