.panel-group.sub-page {

  .panel {
    margin-bottom: 16px;
  }
  .panel-collapse > .panel-body {
    border-top: 2px solid $g19-ghost;
  }
  .panel-heading {
    padding: 10px 30px;

    .panel-title a[data-toggle="collapse"] {
      font-weight: 400;
    }

    p {
      margin: 0 20px 0 0;
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

