#infoModal {
  pre {
    max-height: 500px;
    white-space: pre;
    word-wrap:normal;

    code {
      white-space: pre;
    }
  }
  .alert {
    text-align: center;
  }
}

.table.task-table {
  margin-bottom: 0;

  .status-dot {
    height: 10px;
    width: 10px;
    margin-right: 9px;
  }

  tbody {

    &.sub-task-group {
      display: none;

      &.show-task-group {
        display: table-row-group;
      }
    }

    tr {

      &.task {
        border-top: 2px solid $g18-cloud;
      }
      &.sub-task {
        border-top: 2px solid $g17-whisper;
        background-color: $g19-ghost;
        
        &:first-child {
          border-top-color: $g18-cloud;
        }

        td {
          &:nth-child(2) {
            padding-left: 30px;
          }
        }
      }
      td {
        border: none;

        &:nth-child(1) {
          padding-left: 4px;
          padding-right: 0px;
          width: 22px;
          vertical-align: middle;
          text-align: center;
        }
        &:nth-child(2) {
          width: 35%;
        }
        &:nth-child(3) {
          width: 25%;
        }
      }
    }
  }
}


.task-info {
  display: inline-block;
  cursor: pointer;
  font-size: 1.125em;
  margin-left: 0.3em;
  color: $c-tungsten;
  transition: all 0.25s ease;

  &:hover {
    color: $c-dreamsicle;
    transform: scale(1.2,1.2);
  }
}

.expander {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: inline-block;
  transform: rotate(0deg);

  span {
    transition: color 0.25s ease;
  }

  &:hover {
    cursor: pointer;
    span {
      color: $g10-wolf;
    }
  }
  &.down {
    transform: rotate(90deg);
  }
}

.dot-container {
  display: flex;
}

.dot-legend {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 5px 10px;
  margin: 0 0 0px auto;
  border-radius: 4px;
  background-color: $g20-white;
  border-bottom: 2px solid $g17-whisper;
  li {
    padding: 10px;
    vertical-align: middle;
  }
}

.status-dot {
  margin-right: 6px;
  position: relative;
  top: -1px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;

  &__finished {
    background-color: $c-rainforest;
  }
  &__running {
    background-color: $g13-mist;
  }
  &__planned {
    background-color: $c-pool;
  }
  &__failed {
    background-color: $c-curacao;
  }
}

