/*
    Dark Theme Styles
    ----------------------------------------------
    This stylesheet has overrides for the theme, so you are
    going to see al ot of !important =(

    This is design debt. One day the theme will not have to be overrided
*/


/*
    Dark Panel Styles
    ----------------------------------------------
*/
.row:only-child .panel,
.row:last-child .panel {
  margin-bottom: 0;
}
.panel hr {
  background-color: $g5-pepper;
}
.panel-minimal {
  border: 0;

  .panel-title {
    color: $g10-wolf !important;
  }

  .panel-body {
    padding: 30px;
    background-color: $g3-castle;
    border: 0;
    color: $g13-mist;

    > *:first-child {
      margin-top: 0;
    }
    > *:last-child {
      margin-bottom: 0;
    }

    table {
      th,td {
        border-color: $g5-pepper;
      }
      th {
        color: $g17-whisper;
      }
      td {
        color: $g14-chromium;
      }
      tbody tr:last-child td {
        border-bottom: 2px solid $g5-pepper;
      }
    }
  }
}



/*
    Dark Buttons
    ----------------------------------------------
*/
.btn {
  border: 0;
  transition:
    background-color 0.25s ease,
    color 0.25s ease,
    box-shadow 0.25s ease;
}
.btn.btn-sm {
  font-size: 13px;
  line-height: 30px !important;
  height: 30px !important;
  padding: 0 9px !important;

  .icon {
    font-size: 16px;
    margin: 0 4px 0 0 ;
  }
}
.btn.btn-xs .icon {
  position: relative;
  top: -1px;
}

/*
    Dark Inputs
    ----------------------------------------------
*/
.form-group {
  margin-bottom: 9px;
}
.form-group label {
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  margin-bottom: 4px;
  padding: 0 13px;
}
.form-control {
  padding: 0 13px;
  background-color: $g2-kevlar !important;
  border-color: $g5-pepper !important;
  color: $g15-platinum !important;

  &::-webkit-input-placeholder { color: $g10-wolf; }
  &::-moz-placeholder { color: $g10-wolf; }
  &:-ms-input-placeholder { color: $g10-wolf; }
  &:-moz-placeholder { color: $g10-wolf; }

  &:hover {
    border-color: $g6-smoke !important;
  }

  &:focus {
    border-color: $c-pool !important;
    box-shadow: 0 0 6px 0px $c-pool !important;
    color: $g20-white !important;
  }

  &--green:focus {
    border-color: $c-rainforest !important;
    box-shadow: 0 0 6px 0px $c-rainforest !important;
  }
}
.form-helper {
  margin: 4px 0 !important;
  font-weight: 400 !important;
  font-style: italic;
  line-height: 16px !important;
}
.form-group-submit {
  margin-top: 30px;
}





/*
    Dark Dropdowns
    ----------------------------------------------
*/
.dropdown-toggle {
  position: relative;
  text-align: left;

  .caret {
    position: absolute;
    top: calc(50% + 1px);
    right: 8px;
    transform: translateY(-50%);
  }
  > .icon {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    position: relative;
    top: -1px;
  }
}
.dropdown-menu {
  float: none !important;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  min-height: 70px;
  max-height: 290px;
  overflow: auto;
  @include custom-scrollbar($c-pool,$c-laser);
  @include gradient-h($c-ocean,$c-pool);
  box-shadow: 0 2px 5px 0.6px fade-out($g0-obsidian, 0.8);

  > li {
    width: 100%;
    font-size: 0px;

    &:hover {
      @include gradient-h($c-laser,$c-pool);
    }
  }
  > li > a {
    width: 100%;
    border-radius: 0 !important;
    display: inline-block;
    padding: 7px 9px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    color: $c-yeti !important;
    background-color: transparent;
    transition:
      color 0.25s ease;

    &:hover {
      cursor: pointer;
      background-color: transparent;
      color: $g20-white !important;
    }
  }
  > li:last-child a {
    border-radius: 0 0 3px 3px;
  }
  > li:first-child a {
    border-radius: 3px 3px 0 0;
  }
}
.dropdown.dropdown-kapacitor .dropdown-menu {
  @include custom-scrollbar($c-rainforest,$c-honeydew);
  @include gradient-h($c-pool,$c-rainforest);

  > li:hover {
    @include gradient-h($c-laser,$c-rainforest);
  }
  > li > a {
    color: $c-mint !important;
    &:hover {
      color: $g20-white !important;
    }
  }
}
.dropdown.dropdown-chronograf .dropdown-menu {
  @include custom-scrollbar($c-comet,$c-potassium);
  @include gradient-h($c-ocean,$c-comet);

  > li:hover {
    @include gradient-h($c-laser,$c-comet);
  }
  > li > a {
    color: $c-cremedeviolette !important;
    &:hover {
      color: $g20-white !important;
    }
  }
}

/* Dropdown Actions */
.dropdown-item {
  position: relative;

  > a {
    position: relative;
    z-index: 1;
  }
}
.dropdown-item__actions {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 3px;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.dropdown-item__action {
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background-color: transparent;
  border: none !important;
  font-size: 13px;
  transition:
    text-shadow 0.25s ease,
    color 0.25s ease;
  color: $c-sapphire;

  &[data-target="#deleteExplorerModal"] .icon {
    position: relative;
    right: -1px;
  }

  &:hover {
    color: $g20-white;
    text-shadow:
      0 0 2px $c-hydrogen,
      0 0 3px $c-laser,
      0 0 6px $c-ocean;
    background-color: transparent;
  }
}

/*
    Dark Code Samples
    ----------------------------------------------
*/

code {
  display: inline-block;
  background-color: $g2-kevlar;
  color: $c-comet;
  border: 0 !important;
  border-radius: 2px;
  padding: 2.5px 5px 2.5px 4px;
  margin: 0 1px 0 2px;
  line-height: 11px;
}


/*
    Dark Modals
    ----------------------------------------------
*/

.modal-backdrop {
  background: $c-pool;
  background: -moz-linear-gradient(-45deg,  $c-pool 0%, $c-comet 100%);
  background: -webkit-linear-gradient(-45deg,  $c-pool 0%,$c-comet 100%);
  background: linear-gradient(135deg,  $c-pool 0%,$c-comet 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$c-pool', endColorstr='$c-comet',GradientType=1 );
}

.modal-content {
  background-color: $g3-castle;
}
.modal-header,
.modal-body,
.modal-footer {
  background-color: transparent;
  color: $g13-mist;
  padding-left: ($sidebar-width / 2);
  padding-right: ($sidebar-width / 2);
}
.modal-body {
  padding-top: 0;
  padding-bottom: 0;
}
.modal-title {
  color: $g18-cloud !important;
}
.modal-header .close {
  transition: none;
  outline: none;

  &:before,
  &:after {
    display: block;
    content: '';
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background-color: $g7-graphite;
    transition: background-color 0.25s ease;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  &:before { transform: translate(-50%,-50%) rotate(45deg); }
  &:after { transform: translate(-50%,-50%) rotate(-45deg); }

  &:hover {
    cursor: pointer;

    &:before,
    &:after {
      background-color: $g13-mist;
    }
  }
  span {
    display: none;
  }
}