#user-edit-page,
#user-index-page {
  #select-all {
    cursor: pointer;
  }

  #addRoleModal {
    .add-role-to-user {
      text-align: center;
    }
  }
}

/*
    Users Search Widget
    ----------------------------------------------
*/
.users__search-widget {
  width: 300px;
  margin-bottom: 0px;

  & > .input-group-addon {
    padding: 9px 11px;
  }
}

/*
    Users Table
    ----------------------------------------------
*/
$users-checkbox-size: 18px;

.generic-empty-state {
  .icon {
    font-size: 38px;
  }
}

.users-table {
  margin-bottom: 12px;
  border-left: 2px solid $g18-cloud;
  border-right: 2px solid $g18-cloud;
  border-bottom: 2px solid $g18-cloud;
  border-radius: 0 0 4px 4px;

  tr {
    td {
      &:first-child {
        width: 28px;
      }

      &:last-child {
        text-align: right;
      }
    }
  }

  .admin-column {
    padding-left: 24px;
    font-weight: bold;
  }

  &__checkbox {
    display: inline-block;
    vertical-align: middle;
    width: $users-checkbox-size;
    height: $users-checkbox-size;
    overflow: hidden;
    position: relative;

    &-input {
      display: block;
      position: relative;
      left: -9999px;

      &:checked + label {
        &:after {
          opacity: 1;
        }
      }
    }

    &-label {
      position: absolute;
      width: $users-checkbox-size;
      height: $users-checkbox-size;
      top: 0;
      left: 0;
      border-radius: 4px;
      background-color: $g19-ghost;
      border: 2px solid $g17-whisper;
      margin: 0;

      &:hover {
        cursor: pointer;
      }

      &:after {
        font-size: 12px;
        font-family: 'icomoon';
        content: "\e918";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: $users-checkbox-size;
        height: $users-checkbox-size;
        line-height: $users-checkbox-size;
        border-radius: 4px;
        background-color: $c-pool;
        color: $g20-white;
        text-align: center;
        opacity: 0;
        z-index: 2;
        transition: opacity 0.2s ease;
      }
    }
  }
}

.users-header {
  display: flex;
  background-color: $g19-ghost;
  height: 50px;
  padding: 0 8px 0 0;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  border-style: solid;
  border-color: $g18-cloud;
  border-width: 2px 2px 0px 2px;

  .dropdown-menu {
    cursor: pointer;
  }

  &__invites {
    font-style: italic;
  }

  &__select-all {
    position: relative;

    input[type="checkbox"] {
      position: absolute;
      left: -9999px;

      &:checked + label:after {
        opacity: 1;
      }
    }

    label {
      position: relative;
      margin: 0;
      padding-left: 43px;
      user-select: none;
      ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;

      &:hover {
        cursor: pointer;
      }

      &:before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 8px;
        content: '';
        width: $users-checkbox-size;
        height: $users-checkbox-size;
        border-radius: 4px;
        background-color: $g18-cloud;
        border: 2px solid $g17-whisper;
        z-index: 1;
      }

      &:after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 8px;
        font-size: 12px;
        font-family: 'icomoon';
        content: "\e918";
        color: $g20-white;
        width: $users-checkbox-size;
        height: $users-checkbox-size;
        line-height: $users-checkbox-size;
        text-align: center;
        border-radius: 4px;
        background-color: $c-pool;
        z-index: 2;
        transition: opacity 0.2s ease;
        opacity: 0;
      }
    }
  }

  &__batch-actions {
    display: inline-block;

    > .dropdown {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 5px;
      }
    }

    > .btn {
      display: inline-block;
    }
  }
}

.delete-account h4 {
  margin-top: 0;
}
