$dashboard-item-heading: 30px;

.dashboard-view {
  .react-grid-item {
    background-color: $g3-castle;
    border-radius: $radius;
    border: 2px solid $g3-castle;
    transition: all 0.2s ease !important;

    &.resizing {
      border-color: $c-pool;
      z-index: 3;

      & > .react-resizable-handle {
        &:before, &:after {
          background-color: $c-pool;
        }
      }
    }
    &.react-draggable-dragging {
      border-color: $c-pool;
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
      &:hover {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
      }

      & > .hosts-graph-heading,
      & > .hosts-graph-heading:hover {
        background-color: $g4-onyx;
        color: $g18-cloud;
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
      }
    }
  }
  .react-grid-placeholder {
    background-color: $c-pool;
    border: 0;
    opacity: 0.3;
    z-index: 2;
  }
  .graph-empty {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .hosts-graph {
    position: absolute;
    width: 100%;
    height: calc(100% - #{$dashboard-item-heading});
    top: $dashboard-item-heading;
    left: 0;
    padding: 0;

    & > div:not(.graph-empty) {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      & > div:not(.graph-panel__refreshing) {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 8px 16px;
      }
    }
    .graph-panel__refreshing {
      top: (-$dashboard-item-heading + 5px) !important;
    }

  }
  .hosts-graph-heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $dashboard-item-heading;
    padding: 0 16px;
    display: flex;
    align-items: center;
    border-radius: $radius;
    transition:
      color 0.25s ease,
      background-color 0.25s ease;

    &:hover {
      background-color: $g4-onyx;
      color: $g18-cloud;
      cursor: move; /* fallback if grab cursor is unsupported */
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
    }
  }
}

.react-grid-item > .react-resizable-handle {
  background-image: none;
  cursor: nwse-resize;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    background-color: $g6-smoke;
    transition: background-color 0.25s ease;
    top: 50%;
    left: 50%;
  }
  &:before {
    width: 20px;
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  &:after {
    width: 12px;
    transform: translate(-3px,2px) rotate(-45deg);
  }
  &:hover {
    &:before, &:after {
      background-color: $c-pool;
    }
  }
}