/*
    Styles for Hosts List & Host View
    ----------------------------------------------
*/

.graph-container.hosts-graph {
  padding: 8px 16px;
}

.host-list--active-source {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  color: $g17-whisper;

  span {
    font-weight: 900;
  }
}
.host-table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}