/*
    Styles for Hosts List & Host View
    ----------------------------------------------
*/

@keyframes refreshingSpinnerA {
  0% { transform: translate(-50%,-50%) scale(1.75); background-color: $g7-graphite; }
  33% { transform: translate(-50%,-50%) scale(1,1); }
  66% { transform: translate(-50%,-50%) scale(1,1); }
  100% { transform: translate(-50%,-50%) scale(1,1); }
}
@keyframes refreshingSpinnerB {
  0% { transform: translate(-50%,-50%) scale(1,1); }
  33% { transform: translate(-50%,-50%) scale(1.75); background-color: $g7-graphite; }
  66% { transform: translate(-50%,-50%) scale(1,1); }
  100% { transform: translate(-50%,-50%) scale(1,1); }
}
@keyframes refreshingSpinnerC {
  0% { transform: translate(-50%,-50%) scale(1,1); }
  33% { transform: translate(-50%,-50%) scale(1,1); }
  66% { transform: translate(-50%,-50%) scale(1.75); background-color: $g7-graphite; }
  100% { transform: translate(-50%,-50%) scale(1,1); }
}
.graph-container.hosts-graph {
  padding: 8px 16px;

  .single-stat {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &.graph-single-stat {
      position: absolute;
      width: 100%;
      top: 0;
    }
  }

  .graph-panel__refreshing {
    position: absolute;
    top: -18px !important;
    transform: translate(0,0);
    right: 16px !important;
    width: 16px;
    height: 18px;

    > div {
      width: 4px;
      height: 4px;
      background-color: $g6-smoke;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%,-50%);
    }

    div:nth-child(1) {left: 0; animation: refreshingSpinnerA 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite; }
    div:nth-child(2) {left: 50%; animation: refreshingSpinnerB 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite; }
    div:nth-child(3) {left: 100%; animation: refreshingSpinnerC 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;}
  }
}
.hosts-graph-heading {
  display: block;
  width: 100%;
  margin: 0;
  background-color: $g3-castle;
  padding: 14px 16px 2px 16px;
  font-weight: 600;
  font-size: 13px;
  color: $g14-chromium;
  border-radius: 4px 4px 0 0;
}
.host-list--active-source {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  color: $g17-whisper;

  span {
    font-weight: 900;
  }
}
.host-table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Hacky way to ensure that legends cannot be obscured by neighboring graphs */
.react-grid-item {
  &:hover {
    z-index: 9999;
  }
}
