/*
  Styles for Overlay Technology (aka Cell Edit Mode)
  ------------------------------------------------------
*/

$overlay-controls-height: 50px;
$overlay-controls-bg: $g2-kevlar;
$overlay-z: 100;

.overlay-technology {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: $overlay-z;
  padding: 0 30px;

  /*
    Semi-transparent gradient in background
    Makes it possible to leave opacity alone
  */
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include gradient-diag-down($c-pool,$c-comet);
    opacity: 0.7;
    z-index: -1;
  }

  .overlay-controls {
    padding: 0 16px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 $overlay-controls-height;
    width: calc(100% - #{($page-wrapper-padding * 2)});
    left: $page-wrapper-padding;
    border: 0;
    background-color: $g2-kevlar;
    border-radius: $radius $radius 0 0;
  }
  .overlay-controls--right {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    .toggle {
      margin: 0 0 0 5px;
    }
    p {
      font-weight: 600;
      color: $g13-mist;
      margin: 0 6px 0 0;
      @include no-user-select;
      white-space: nowrap;
    }
  }
  .overlay--graph-name {
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    @include no-user-select;
  }
}
.overlay-technology--editor {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  padding: 16px 0;
}
.overlay-controls .confirm-buttons {
  margin-left: 32px;
}

/* Graph editing in Dashboards is a little smaller so the dash can be seen in the background */
.overlay-technology .graph {
  margin: 0 15%;
}
.overlay-technology .query-maker {
  flex: 1 0 0%;
  padding: 0 8px;
  border-radius: 0 0 $radius $radius;
  background-color: $g2-kevlar;
}
.overlay-technology .query-maker--tabs {
  margin-top: 0;
}
.overlay-technology .query-maker--tab-contents {
  margin-bottom: 8px;
}
