/*
    Styles for TICKscript Editor
    ----------------------------------------------
*/

$logs-table-header-height: 60px;
$logs-table-padding: 60px;

.resize--container .tickscript {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.resize--container .logs-table--container {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1300px;
  padding: 0 $logs-table-padding;
}
.logs-table--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: $logs-table-header-height;
}
.logs-table--panel {
  padding: 30px;
  position: absolute;
  top: $logs-table-header-height;
  left: $logs-table-padding;
  width: calc(100% - #{$logs-table-padding * 2});
  height: calc(100% - #{$logs-table-header-height + 30px});
  background-color: $g3-castle;
  border-radius: 4px;
  overflow: auto;
}

.logs-table--empty-cell {
  color: $g6-smoke;
}
table.logs-table {
  margin: 0;
}
table.logs-table tbody tr td {
  font-weight: 600;
}
table.logs-table tbody tr td .logs-table--key-value {
  padding-left: 10px;
}
table.logs-table tbody tr td .logs-table--key-value span {
  color: $g10-wolf;
  font-weight: 400;
}
