/*
  Onboarding Styles
  ------------------------------------------------------------------------------
*/

.wizard-step--container {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: $ix-marg-d;
  margin-top: $ix-marg-a;
  flex-grow: 1;
  width: 80%;
  max-width: 1000px;
  background-color: $g3-castle;
  border-radius: $radius;
}

.wizard-button-bar {
  display: inline-flex;
  flex-shrink: 0;
  margin: 32px auto;
  position: relative;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-wrap: nowrap;

  .button {
    position: relative;
    white-space: nowrap;
    margin: 0 $ix-marg-a;
  }
}

.splash-logo {
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 812px;
  height: 170px;
}

.splash-logo.primary {
  background-image: url('../../assets/images/cubo_doodle.svg');
}
.splash-logo.secondary {
  background-image: url('../../assets/images/cubo_doodle_green.svg');
}

.wizard-step--title {
  font-size: 32px;
  font-weight: 300;
  color: $g15-platinum;
  margin-top: 32px;
  margin-bottom: $ix-marg-b;
  @include no-user-select();
}

.wizard-step--sub-title {
  margin-top: $ix-marg-b;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  color: $g11-sidewalk;
  @include no-user-select();
}
