@import '@influxdata/clockface/dist/variables.scss';

$notebook-header-height: 46px;

$notebook-panel--gutter: $cf-marg-d;
$notebook-panel--bg: mix($g1-raven, $g2-kevlar, 50%);

$notebook-divider-height: ($cf-marg-a * 2) + $cf-border;
$notebook-divider-color: $g2-kevlar;

$notebook-minimap--expanded: 270px;
