@import '@influxdata/clockface/dist/variables.scss';

.add-cell-menu {
  display: flex;
  align-items: stretch;
}

.add-cell-menu--column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 0 142px;
  width: 142px;
  background-color: $g1-raven;
  border-radius: $cf-radius;
  padding: 0 $cf-marg-c;
  margin-right: $cf-marg-a;

  &:last-child {
    margin-right: 0;
  }
}

.add-cell-menu--column .cf-button {
  margin-bottom: $cf-marg-b;
}

.add-cell-menu--column-title {
  white-space: nowrap;
  margin: $cf-marg-b 0;
  text-align: center;
  padding: 0 $cf-marg-b;
  user-select: none;
}
