/*
    Styles for Tabs
    ----------------------------------------------------------------------------
*/

@import 'src/style/modules';

.tabs {
  display: flex;
  align-items: stretch;
  background-color: rgba($g3-castle, 0.25);
  border-radius: $radius;
}

.tabs--nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 0 1 0;
  padding: $ix-marg-d;
  padding-right: 0;
}

.tabs--nav-tabs {
  @include no-user-select();
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.tabs--tab {
  border-radius: $radius 0 0 $radius;
  font-size: $form-lg-font;
  height: $nav-size;
  line-height: $nav-size;
  padding: 0 $form-lg-font;
  color: $g11-sidewalk;
  white-space: nowrap;
  transition: background-color 0.25s ease, color 0.25s ease;

  &:hover {
    background-color: rgba($g3-castle, 0.5);
    color: $g16-pearl;
    cursor: pointer;
  }

  &.active {
    background-color: $g3-castle;
    color: $g18-cloud;
  }
}

.page{
  a:link.tabs--tab,
  a:visited.tabs--tab {
    border-radius: $radius 0 0 $radius;
    font-size: $form-lg-font;
    font-weight: 400;
    height: $nav-size;
    line-height: $nav-size;
    padding: 0 $form-lg-font;
    color: $g11-sidewalk;
    white-space: nowrap;
    transition: background-color 0.25s ease, color 0.25s ease;

    &:hover {
      background-color: rgba($g3-castle, 0.5);
      color: $g16-pearl;
      cursor: pointer;
    }

    &.active {
      background-color: $g3-castle;
      color: $g18-cloud;
    }
  }
}

.tabs--contents {
  flex: 1 0 0;
  background-color: $g3-castle;
  border-radius: $radius;
  min-height: 500px;
  padding: $ix-marg-d;
}

.tabs--contents-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $ix-marg-d;
}

