@import './modules/_colors.css';

$default-border-radius: 4px;

.dygraph-axis-label {
  color: $graph-axis-label;
}

.dygraph-title {
  font-weight: 300;
  font-size: 0.75em;
}

.line-graph--dygraph {
  background-color: $graph-bg-color;
  position: absolute;
  top: 1em;
  left: 0.75em;
  bottom: 1em;
  right: 1em;
  /* cursor: url('~img/mouse.ico'), default; */
  width: auto;
  height: auto;

  user-select: none;
}

.line-graph {
  user-select: none;
  background-color: $graph-bg-color;
  border-radius: $default-border-radius;
  padding: 1em;
  position: relative;
  display: inline-block;
  font-size: 1em;
  width: 100%;
  height: 28px;
}

.dygraph-axis-label-y {
  padding-right: 0.75em;
}

.line-graph__legend {
  background-color: $graph-legend-bg-color;
  display: block;
  position: fixed;
  padding: 0.75em;
  z-index: 500;
  font-size: 1em;
  color: $graph-legend-text-color;
  border-radius: $default-border-radius;

  &.hidden {
    display: none;
  }

  /*
   * Only animate position that's controlled during rendering.
   * See http://stackoverflow.com/a/17117992
   */
  transition: all 0.2s ease;
  transition-property: top, right, bottom, left;

  > span {
    display: block;
    opacity: 0.5;
    padding-top: 0.4em;

    > b {
      font-weight: 900;
    }
  }

  .highlight {
    font-weight: 900;
    opacity: 1;

    > b {
     font-weight: 900;
    }
  }
}

.line-graph__vertical-marker {
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: $graph-marker-color;
  position: absolute;
  pointer-events: none;
  display: none;
}

