body {
  background-color: #1C1C22;
  color: #EDEDF2;
  padding-top: 70px; /* accounts for navbar */
}

.page-container {
  padding: 1em;
}

.navbar-custom {
  height: 2em;
}

.time-controls {
  float: right;
}
