/*
    Unsorted
    ----------------------------------------------
*/
.text-right .btn {
  margin: 0 0 0 4px;
}
.text-center .btn {
  margin: 0 2px;
}
.default-source-label {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  font-weight: 500;
  background-color: $g2-kevlar;
  color: $c-pool;
  border-radius: 3px;
  padding: 2px 6px;
  margin-left: 4px;
}
.progress-label {
  margin-bottom: 4px;
  color: $g11-sidewalk;
  width: 100%;

  strong {
    font-weight: 500;
    color: $g8-storm;
  }
}
.btn-block.dropdown-toggle {
  text-align: left;
  position: relative;

  .caret {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
  }

  & + .dropdown-menu {
    width: 100%;
  }
}
.modal {
  form {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }
  .form-grid {
    width: 100%;
    display: inline-block;

    &.padding-top {
      padding-top: 15px;
    }
  }
}
.form-group label,
.form-group label:hover {
  cursor: default;
}

/*
    Generic Empty State
    ----------------------------------------------
*/
.generic-empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $g12-forge;
  padding: 20px 0;

  .icon {
    margin-bottom: 11px;
  }
}

/*
    Loading Dots
    ----------------------------------------------
*/

.loading-dots {
  position: absolute;
  transform: translate(0,0);
  transform: translateX(50%);
  width: 16px;
  height: 18px;

  div {
    width: 4px;
    height: 4px;
    background-color: $g6-smoke;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  div:nth-child(1) {left: 0; animation: refreshingSpinnerA 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;}
  div:nth-child(2) {left: 50%; animation: refreshingSpinnerB 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;}
  div:nth-child(3) {left: 100%; animation: refreshingSpinnerC 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;}
}

