/*
  Auto Refresh Dropdown
  ------------------------------------------------------------------------------
*/

.autorefresh-dropdown {
  display: flex;
  flex-wrap: nowrap;

  &.paused .cf-dropdown--selected {
    opacity: 0;
  }
}

.autorefresh-dropdown--pause {
  margin-left: $ix-marg-a;
}
