/*
   Task Editor Page Styles
   -----------------------------------------------------------------------------
*/

@import 'src/style/modules';

.task-form {
  height: calc(100% - #{$ix-marg-d});
  display: flex;
  align-items: stretch; 
  background-color: $g3-castle;
  border-radius: $radius;
}

.task-form--options {
  flex: 1 0 140px;
  padding: $ix-marg-d;
}

.task-form--editor {
  position: relative;
  flex: 6 0 0;
  border-radius: 0 $radius $radius 0;
  margin: $ix-marg-b;
}

.task-form--form-label {
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  font-weight: 600;
  color: $g11-sidewalk;
  flex: 1 0 60px;
  padding-left: 11px;
}
