/*
   Tasks Page Styles
   -----------------------------------------------------------------------------
*/

@import 'src/style/modules';

.tasks-status-toggle {
    font-size: 13px;
    font-weight: 500;
    margin: 0 $ix-marg-b 0 0;
    color: $g11-sidewalk;
}