/*
   Task Editor Page Styles
   -----------------------------------------------------------------------------
*/

.task-page {
    height: 100%;
    display: flex;
   align-items: stretch; 
}

.task-page--options {
    flex: 1 0 0;
    background-color: $g3-castle;
    padding: $ix-marg-d;
    border-radius: $radius 0 0 $radius;
}

.task-page--editor {
    flex: 6 0 0;
    background-color: $g2-kevlar;
    border-radius: 0 $radius $radius 0;
}

.task-page--form-label {
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    font-weight: 600;
    color: $g11-sidewalk;
    flex: 1 0 60px;
    padding-left: 11px;
}
