.copy-task-id {
  transition: color 0.25s ease;

  &:hover {
    cursor: pointer;
    color: $c-pool;
  }
}

.copy-task-id--helper {
  color: $g13-mist;
  transition: opacity 0.25s ease;
  opacity: 0;
  display: inline-block;
  margin-left: $cf-marg-b;
}

.copy-task-id:hover .copy-task-id--helper {
  opacity: 1;
}
