.bucket-add-data {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: $ix-marg-b + $ix-marg-a;
}

.bucket-add-data--option {
  border-radius: $ix-radius;
  background-color: $g3-castle;
  margin-bottom: $ix-border;
  padding: $ix-marg-b + $ix-marg-a;
  transition: background-color 0.25s ease;

  &:last-child {
    margin-bottom: $ix-border;
  }
}

.bucket-add-data--option-header,
.bucket-add-data--option-desc {
  transition: color 0.25s ease;
  user-select: none;
}

.bucket-add-data--option-header {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: $ix-marg-a + $ix-border;
  color: $g14-chromium;
}

.bucket-add-data--option-desc {
  font-size: 13px;
  font-weight: 500;
  color: $g11-sidewalk;
}

/*
  Hover State
*/
.bucket-add-data--option:hover {
  cursor: pointer;
  background-color: $g5-pepper;

  .bucket-add-data--option-header {
    color: $g18-cloud;
  }
  .bucket-add-data--option-desc {
    color: $g13-mist;
  }
}

.system-bucket {
  color: mix($c-honeydew, $g13-mist);
}

.buckets-buttons-wrap {
  display: flex;
  box-sizing: border-box;
  text-align: right;
  @media screen and (max-width: 680px) {
    margin: 8px auto 0;
  }
}
