.demodata-dropdown--item-contents {
  display: inline-flex;
  align-items: center;
}

.demodata-dropdown--item-icon {
  margin-right: $cf-marg-b;
  opacity: 0;
}

.demodata-dropdown--item__added,
.demodata-dropdown--item__added:hover {
  .demodata-dropdown--item-icon {
    opacity: 1;
  }

  cursor: default;
  background: none !important;
  color: $c-honeydew !important;
}
