/*
  Responsive Grid Sizer
  ------------------------------------------------------------------------------
*/

.responsive-grid-sizer {
  width: 100%;
  position: relative;
}

.responsive-grid-sizer--cells {
  display: flex;
  justify-content: flex-start;
  position: relative;
  flex-wrap: wrap;
}

.responsive-grid-sizer--cell {
  position: relative;
}

.responsive-grid-sizer--content {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
