/*
    Styles for tabbed-page Page
    ----------------------------------------------------------------------------
*/

@import 'src/style/modules';

.tabbed-page {
  display: flex;
  align-items: stretch;
  background-color: rgba($g3-castle, 0.25);
  border-radius: $radius;
}

.tabbed-page-nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 0 1 0;
  padding: $ix-marg-d;
  padding-right: 0;
}

.tabbed-page-nav--header {
  @include no-user-select();
  margin: $ix-marg-d;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}

.tabbed-page-nav--avatar {
  background-color: $g3-castle;
}

.tabbed-page-nav--description {
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  margin: 0;
  margin-top: $ix-marg-a + $ix-marg-b;
  color: $g11-sidewalk;
}

.tabbed-page-nav--tabs {
  @include no-user-select();
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.tabbed-page-nav--tab {
  border-radius: $radius 0 0 $radius;
  font-size: $form-lg-font;
  height: $nav-size;
  line-height: $nav-size;
  padding: 0 $form-lg-font;
  color: $g11-sidewalk;
  white-space: nowrap;
  transition: background-color 0.25s ease, color 0.25s ease;

  &:hover {
    background-color: rgba($g3-castle, 0.5);
    color: $g16-pearl;
    cursor: pointer;
  }

  &.active {
    background-color: $g3-castle;
    color: $g18-cloud;
  }
}
.tabbed-page-content {
  flex: 1 0 0;
  background-color: $g3-castle;
  border-radius: $radius;
  min-height: 500px;
  padding: $ix-marg-d;
}

.tabbed-page-section--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $ix-marg-d;
}

