/*
  Markdown Cell Styles
  ------------------------------------------------------------------------------
*/

.markdown-cell .cf-dapper-scrollbars--track-y {
  background-color: $g2-kevlar !important;
}

.markdown-cell--contents {
  padding: $cf-marg-b + $cf-marg-a 26px;
  font-size: 1.2em;
}

/*
  General Markdown Formatting
  ------------------------------------------------------------------------------
  Despite being in this stylesheet, these styles are intended for use anytime
  the react-markdown component is used
*/

.markdown-format {
  color: $g13-mist;

  p {
    font-size: 1em;
    line-height: 1.25em;
    font-weight: $cf-font-weight--medium;
  }

  h3:not(.cf-heading),
  h4:not(.cf-heading) {
    border-bottom: $cf-border solid $g4-onyx;
    padding-bottom: 0.25em;
  }

  strong {
    font-weight: $cf-font-weight--black;
    color: $g16-pearl;
  }

  table:not(.cf-table) {
    border-collapse: collapse;
  }

  td:not(.cf-table--cell),
  th:not(.cf-table--header-cell) {
    padding: $cf-marg-a $cf-marg-b;
    border: $cf-border solid $g5-pepper;
  }

  th:not(.cf-table--header-cell) {
    background-color: $g5-pepper;
  }

  code {
    border-radius: $cf-radius-sm;
    margin: 0;
    padding: 2px 6px;
    color: $c-potassium;
    letter-spacing: 0;
    font-weight: $cf-font-weight--bold;
    background-color: $g1-raven;
  }

  pre {
    border-radius: $cf-radius-sm;
    padding: 6px;
    background-color: $g1-raven;

    code {
      padding: 0;
    }
  }

  img {
    border-radius: $cf-radius;
    max-width: 100%;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
