$variables-control-bar--height: $page-header-size -
  (($page-header-size - $form-sm-height) / 2);

$variables-control-bar--gutter: $ix-marg-a;

.variables-control-bar {
  min-height: $variables-control-bar--height;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 ($page-gutter - ($variables-control-bar--gutter / 2));
  padding-bottom: (($page-header-size - $form-sm-height) / 2);

  /* Adjust height of Page Contents when control bar is present */
  & + .page-contents {
    height: calc(
      100% - #{$variables-control-bar--height + $page-header-size}
    ) !important;
  }
  
  .variable-dropdown--container {
    margin-right: $variables-control-bar--gutter;
    padding-bottom: 5px;
  }

  .variables-spinner-container {
    height: $variables-control-bar--height;
  }
}

.variables-control-bar--empty {
  background-color: $g3-castle;
  border-radius: $radius;
  height: 100%;
  justify-content: center;
}

.variables-control-bar > .techno-spinner {
  margin-left: 10px;
}

.variables-control-bar.presentation-mode {
  padding: 8px 0px 0px 8px;
  min-height: 0px;
}

.variable-dropdown--container {
  position: relative;
}
