$variables-control-bar--height: $page-header-size -
  (($page-header-size - $form-sm-height) / 2);
$variables-control-bar--gutter: $ix-marg-a;


.variables-control-bar {
  min-height: $variables-control-bar--height;
  display: flex;
  align-items: center;
  padding: 0 12px;
  width: 100%;
  
  .variable-dropdown--container {
    margin-right: $variables-control-bar--gutter;
  }

  .variables-spinner-container {
    height: $variables-control-bar--height;
  }
}

@media only screen and (min-width: 750px) {
  .variables-control-bar {
    padding: 0 32px;
  }
}

.variables-control-bar--empty,
.variables-control-bar--full {
  display: flex;
  background-color: $g0-obsidian;
  border-radius: $radius;
  width: 100%;
  margin-bottom: (($page-header-size - $form-sm-height) / 2);
}

.variables-control-bar--full {
  padding: $variables-control-bar--gutter;
  flex-wrap: wrap;
}

.variables-control-bar--empty {
  height: $form-sm-height + ($variables-control-bar--gutter * 2);
  justify-content: center;
}

.variables-control-bar > .techno-spinner {
  margin-left: 10px;
}

.variables-control-bar.presentation-mode {
  padding: 12px;
  min-height: 0px;

  .variables-control-bar--empty,
  .variables-control-bar--full {
    margin-bottom: 0;
  }
}

.variable-dropdown--container {
  position: relative;
}
