@import 'src/style/modules';

.variable-dropdown {
  display: flex;
  flex-direction: row;
  height: $form-sm-height;
  position: relative;
  border-radius: $radius;
}

.variable-dropdown--dropdown {
  .button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.variable-dropdown--label {
  user-select: none;
  line-height: $form-sm-height;
  font-size: $form-sm-font;
  font-weight: 600;
  color: $c-comet;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 $form-sm-padding 0 0;
  border-radius: $radius 0 0 $radius;
  background-color: $g3-castle;
  background-attachment: fixed;
  display: flex;
  cursor: grab;

  > span {
    @include gradient-h($c-comet, $c-laser);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.variable-dropdown--placeholder {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: $radius;
  @include gradient-h($c-comet, $c-pool);
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: opacity 0.25s ease;

  .variable-dropdown__dragging & {
    opacity: 1;
  }
}
