@import 'src/style/modules';

/*
  RandomLabelColor Styles
  ------------------------------------------------------------------------------
*/

.random-color--button {
    display: flex;
    align-items: center;

    .label-colors--swatch {
        margin-right: 12px;
    }
}