.community-templates-upload {
  display: grid;
  grid-column-gap: $ix-marg-b;
  grid-row-gap: $ix-marg-b;
  grid-template-columns: 1fr;
  margin: $ix-marg-b 0;
}

/* The two styles below are a bandaid fix until the clockface dependency can be safely updated */
.cf-panel.community-templates-panel
  .cf-panel--symbol-header.cf-panel--symbol-header__sm {
  padding-left: 46px;
  padding-right: 46px;
}

@media screen and (min-width: $cf-grid--breakpoint-sm) {
  .cf-panel.community-templates-panel
    .cf-panel--symbol-header.cf-panel--symbol-header__sm {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.community-templates-template-url {
  display: inline-block;
  margin-right: 15px;
}

.community-templates-installer {
  margin-top: $ix-marg-c;
}

.community-templates--template-image {
  width: 54px;
  height: 54px;
}

.community-templates--template-name {
  color: $g20-white;
}

.community-templates--template-description {
  user-select: none;
  color: $c-neutrino;
  font-weight: $cf-font-weight--medium;
  margin: 0;
  margin-top: $cf-marg-b;
  line-height: 1.125em;

  strong {
    color: $g20-white;
    font-weight: $cf-font-weight--bold;
  }
}

.community-templates--item-description {
  color: $g13-mist;
  margin: $cf-marg-a 0;
  line-height: 1.125em;

  &:last-child {
    margin-bottom: 0;
  }
}

.community-templates--item-description__blank {
  color: $g8-storm;
  font-style: italic;
}

.community-templates--list-header {
  display: flex;
  align-items: center;
  padding: $cf-marg-a 0;
  transition: color 0.25s ease;
  color: $g11-sidewalk;

  &:hover,
  .community-templates--list-group__expanded & {
    cursor: pointer;
    color: $g18-cloud;
  }
}

.community-templates--list-counter {
  margin-left: $cf-marg-b;
  opacity: 0.6;
}

.community-templates--list-group-items {
  padding-left: $cf-marg-d;
}

.community-templates--list-toggle {
  width: $cf-marg-d;
  height: $cf-marg-d;
  position: relative;

  > .cf-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 0.25s ease;
    transform: translate(-50%, -50%) rotate(0deg);
  }

  .community-templates--list-group__expanded & > .cf-icon {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.community-templates--resources-table {
  & > tbody > tr > td {
    padding-right: $cf-marg-b;
    font-size: 13px;
  }
}

.community-templates--resources-table-toggle {
  display: flex;
  align-items: center;

  h6 {
    margin: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.community-templates--resources-table-caret {
  margin-right: $cf-marg-b;
  transition: transform 0.25s ease;
}

.community-templates--resources-table-caret__expanded {
  transform: rotate(90deg);
}

.community-templates--resources-table-toggle h6,
.community-templates--resources-table-item {
  height: $cf-form-sm-height;
  line-height: $cf-form-sm-height;
}
