.community-templates-upload {
  display: grid;
  grid-column-gap: $ix-marg-b;
  grid-row-gap: $ix-marg-b;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 150px;
  margin: $ix-marg-b 0;
}

.community-templates-template-url {
  display: inline-block;
  margin-right: 15px;
}

.community-templates-installer {
  grid-row-gap: $ix-marg-a;
  grid-column-gap: $ix-marg-a;
  margin: $ix-marg-b 0
}
