# This is an example .env file showing *SOME* of the environment
# variables that can be configured within IOx. To use this template,
# copy this file to the top level directory with the name `.env`, and
# remove any `#` at the beginning of the lines of variables you'd like
# to set values for.
#
# The full list of available configuration values can be found by in
# the command line help (e.g. `env: INFLUXDB_IOX_DB_DIR=`):
#
# ./influxdb_iox run --help
#
#
# The identifier for the server. Used for writing to object storage and as
# an identifier that is added to replicated writes, Write Buffer segments
# and Chunks. Must be unique in a group of connected or semi-connected IOx
# servers. Must be a number that can be represented by a 32-bit unsigned
# integer.
# INFLUXDB_IOX_ID=1
#
# Which object store implementation to use (defaults to Memory if unset)
# INFLUXDB_IOX_OBJECT_STORE=File
#
# Where to store files on disk:
# INFLUXDB_IOX_DB_DIR=$HOME/.influxdb_iox
# TEST_INFLUXDB_IOX_DB_DIR=$HOME/.influxdb_iox
#
# Addresses for the server processes:
# INFLUXDB_IOX_BIND_ADDR=127.0.0.1:8080
# INFLUXDB_IOX_GRPC_BIND_ADDR=127.0.0.1:8082
#
# If using Amazon S3 as an object store:
# AWS_ACCESS_KEY_ID=access_key_value
# AWS_SECRET_ACCESS_KEY=secret_access_key_value
# AWS_DEFAULT_REGION=us-east-2
# INFLUXDB_IOX_BUCKET=bucket-name
#
# If using an s3 compatible storage
# AWS_ENDPOINT = http://localhost:9000
#
# If using Google Cloud Storage as an object store:
# INFLUXDB_IOX_BUCKET=bucket_name
# Set one of SERVICE_ACCOUNT or GOOGLE_APPLICATION_CREDENTIALS, either to a path of a filename
# containing Google credential JSON or to the JSON directly.
# SERVICE_ACCOUNT=/path/to/auth/info.json
# GOOGLE_APPLICATION_CREDENTIALS={"project_id": ...}
#
# If using Microsoft Azure as an object store:
# The name you see when going to All Services > Storage accounts > [name]
# AZURE_STORAGE_ACCOUNT=
# The name of a container you've created in the storage account, under Blob Service > Containers
# INFLUXDB_IOX_BUCKET=
# In the Storage account's Settings > Access keys, one of the Key values
# AZURE_STORAGE_ACCESS_KEY=
#
# To enable Jaeger tracing:
# OTEL_SERVICE_NAME="iox" # defaults to iox
# OTEL_EXPORTER_JAEGER_AGENT_HOST="jaeger.influxdata.net"
# OTEL_EXPORTER_JAEGER_AGENT_PORT="6831"