.signin-page {
  .cf-funnel-page--content {
    display: flex;
    height: 100%;
    justify-content: center;
  }

  .cf-dapper-scrollbars--content {
    align-items: center;
    display: flex !important;
  }
}

.cf-panel.signin-page--panel {
  width: 300px;

  .cf-panel--body {
    padding: $ix-marg-d;
    text-align: center;
  }
}

.signin-page--logo {
  height: auto;
  margin-bottom: 3em;
  margin-top: 1em;
  width: 70%;
}

.login-page--logo {
  height: auto;
  width: 20%;
}

.signin-page--cubo {
  background-image: url('../../assets/images/auth-logo.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  height: 100px;
  width: 100px;
}
