.signin-page {
  .cf-funnel-page--content {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .cf-dapper-scrollbars--content {
    display: flex !important;
    align-items: center;
  }
}

.cf-panel.signin-page--panel {
  width: 300px;

  .cf-panel--body {
    padding: $ix-marg-d;
    text-align: center;
  }
}

.signin-page--logo {
  width: 70%;
  height: auto;
  margin-top: 1em;
  margin-bottom: 3em;
}

.signin-page--cubo {
  background-image: url('../../assets/images/auth-logo.svg');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  display: inline-block;
}
