/*
    Styles for Flux Builder aka TIME MACHINE aka DELOREAN
    ----------------------------------------------------------------------------
*/

// Flux Page Empty state
.flux-empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    > p {
        color: $g11-sidewalk;
        font-size: 16px;
        @include no-user-select();
    }
}