@import '@influxdata/clockface/dist/variables.scss';

.data-source--controls {
  display: flex;
  align-items: center;
  margin-bottom: $cf-marg-b;
}

.data-source--filters {
  flex: 1 0 0;
  margin-right: $cf-marg-a;
  display: flex;
  align-items: center;
}

.data-source--filters-label {
  height: $cf-form-sm-height;
  line-height: $cf-form-sm-height;
  font-weight: $cf-font-weight--medium;
  margin: 0 $cf-marg-b;
}

.data-source--filter {
  margin: $cf-marg-a;
}

.data-source--filters-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 0;
}

.data-source--block {
  display: block;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.data-source--block-results {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.data-source--block-title {
  font-size: 14px;
  user-select: none;
  font-weight: $cf-font-weight--medium;
  padding-bottom: $cf-marg-b;
  margin-bottom: $cf-marg-b;
  color: $g13-mist;
  border-bottom: $cf-border solid $g3-castle;
  text-transform: capitalize;
}

.data-source--list__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: $g8-storm;
}

.data-source--list-item {
  user-select: none;
  font-size: 13px;
  padding: $cf-marg-a $cf-marg-b;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: $cf-font-weight--medium;
  transition: color 0.25s ease, background-color 0.25s ease;
  color: $g9-mountain;
  margin: $cf-border;
  border-radius: $cf-radius-sm;

  &:hover {
    cursor: pointer;
    color: $g15-platinum;
    background-color: $g3-castle;
  }
}

.data-source--list-item__selected,
.data-source--list-item__selected:hover {
  background-color: $c-pool;
  color: $g20-white;
}

/*
  Selectors
*/

.selectors--item-value {
  font-family: $cf-code-font;
}

.selectors--item-name {
  margin: 0 $cf-marg-b;
}

.selectors--item-type {
  font-size: 0.75em;
  text-transform: uppercase;
  opacity: 0.666;
}

.selectors--item__measurement {
  color: hotpink;
}

.selectors--item__field {
  color: lightskyblue;
}

.selectors--item__tag {
  color: limegreen;
}
