/*
  Rename Dashboard Component Styles
  ------------------------------------------------------------------------------
*/

$rename-dash-title-padding: 8px;

.rename-dashboard {
  height: $form-sm-height;
  min-width: 0;
  width: 100%;
}

.rename-dashboard--title,
.rename-dashboard--input {
  position: relative;
  width: calc(100% + #{$rename-dash-title-padding});
  left: -$rename-dash-title-padding;
  height: $form-sm-height;
  border: $ix-border solid transparent;
  padding: 0 $form-sm-height 0 $rename-dash-title-padding;
  border-radius: $radius;
  font-size: $page-title-size;
  font-weight: $page-title-weight;
  font-family: $ix-text-font;
}

.rename-dashboard--title {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include no-user-select();
  color: $g17-whisper;
  transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  line-height: $form-sm-height - ($ix-border * 2);
  
  .icon {
    position: absolute;
    font-size: 15px;
    top: 50%;
    right: $rename-dash-title-padding;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.25s ease;
    color: $g11-sidewalk;
  }

  &:hover {
    cursor: text;
    color: $g20-white;
    background-color: $g3-castle;
    border-color: $g3-castle;
  }

  &:hover .icon {
    opacity: 1;
  }
}

.rename-dashboard--input {
  color: $g20-white;
  background-color: $g2-kevlar;

  &:focus {
    border-color: $c-pool;
  }
}
