/*
  Form Styles
  ------------------------------------------------------------------------------
*/

.form--wrapper {
  width: 100%;
}

/*
  Form Elements
  ------------------------------------------------------------------------------
*/
.form--element {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: $ix-marg-b;
}

/*
  Form Group Addons
  ------------------------------------------------------------------------------
*/
.form--label,
.form--help-text,
.form--element-error {
  text-align: left;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  padding: 0 ($form-sm-padding + $ix-border);
  @extend %no-user-select;
}

.form--label {
  width: 100%;
  color: $g11-sidewalk;
  margin: 0 0 $ix-marg-a 0;
}

.form--help-text {
  font-style: italic;
  line-height: 16px;
  color: $g11-sidewalk;
  margin: $ix-marg-a 0 0 0;
}

.form--element-error {
  line-height: 16px;
  color: $c-dreamsicle;
  margin: $ix-marg-a 0 0 0;
}

.form--label-required {
  color: $c-curacao;
}

/*
  Form Divider
  ------------------------------------------------------------------------------
*/
.form--divider {
  width: 100%;
  height: $form-sm-height - $ix-marg-b;
}

/*
  Form Submit
  ------------------------------------------------------------------------------
*/
.form--submit {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: $form-sm-height - $ix-marg-b;
  margin-bottom: 0;

  > .button {
    margin: 0 $ix-marg-a;
  }
}

/*
  Form Box
  ------------------------------------------------------------------------------
*/
.form--box {
  width: 100%;
  border-radius: $radius;
  background-color: $g4-onyx;
  padding: $ix-marg-b 11px;
  min-height: $form-sm-height;
}
