/*
  View Options Styles
  ------------------------------------------------------------------------------
*/

.view-options {
  flex: 0 0 (420px - $ix-marg-b);
  height: 100%;
  background-color: $g3-castle;
  margin-left: $ix-marg-b;
  border-radius: $radius;
}

.view-options--container {
  padding: $ix-marg-d;
}

.view-options--header {
  @include no-user-select();
  font-weight: 500;
  color: $g11-sidewalk;
}

h4.view-options--header {
  font-size: 16px;
  padding-top: $ix-marg-c;
  border-top: $ix-border solid $g5-pepper;
  margin-top: $ix-marg-b;
  margin-bottom: $ix-marg-c;

  *:first-child > & {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
  }
}

h5.view-options--header {
  font-size: 14px;
  border-bottom: $ix-border solid $g5-pepper;
  margin-top: $ix-marg-d;
  margin-bottom: $ix-marg-c;
  padding-bottom: $ix-marg-a;
}

.view-options--checkbox {
  margin-bottom: $ix-marg-c;
}
