/*
  Alert Builder Styles
  ------------------------------------------------------------------------------
*/

.alert-builder {
  height: 100%;
  padding-top: $cf-marg-b;
  display: flex;
}

.alert-builder--card {
  margin-right: $ix-marg-b;

  &:last-child {
    margin-right: 0;
  }

  .builder-card--contents {
    min-height: 100%;
    padding: 16px;
  }
  .builder-card--header {
    justify-content: center;
  }

  &.alert-builder--meta-card {
    flex: 1 0 140px !important;
  }
  &.alert-builder--message-card {
    flex: 3 0 140px !important;
  }
  &.alert-builder--conditions-card {
    flex: 2 0 200px !important;
  }
  @media screen and (min-width: $cf-grid--breakpoint-md) {
    &.alert-builder--meta-card {
      flex: 1 0 280px !important;
    }
    &.alert-builder--message-card {
      flex: 3 0 320px !important;
    }
    &.alert-builder--conditions-card {
      flex: 2 0 320px !important;
    }
  }
}

.cf-empty-state.alert-builder--card__empty {
  padding: 32px;
  height: 100%;
  justify-content: center;
}

.alert-builder--message-template {
  textarea {
    height: 120px;
  }
}

.alert-builder--message-template.cf-text-area--container.cf-input-md {
  height: auto;

  textarea {
    height: 120px;
    font-family: $cf-code-font;
  }
}

.alert-builder--message-help {
  padding: 0 $ix-marg-c;

  p {
    font-size: 13px;
    font-weight: 500;
  }

  code {
    background-color: $g2-kevlar;
    color: $c-potassium;
    padding: 2px 4px;
    border-radius: 3px;
    user-select: text;
  }
}

.alert-builder--check-type-selector {
  margin-bottom: $ix-marg-c;
}

.alert-builder--tag-row {
  margin-bottom: $ix-marg-b;
}
