/*
  Alert Builder Styles
  ------------------------------------------------------------------------------
*/

.alert-builder--card {
  .builder-card--contents {
    padding: 16px;
  }
  .builder-card--header {
    justify-content: center;
  }
}
.alert-builder--message-template {
  .cf-text-area--container.cf-input-md {
    height: auto;
  }
  textarea {
    height: 180px;
  }
}
