/*
  Alert Builder Styles
  ------------------------------------------------------------------------------
*/

.alert-builder--card {
  .builder-card--contents {
    min-height: 100%;
    padding: 16px;
  }
  .builder-card--header {
    justify-content: center;
  }
}

.cf-empty-state.alert-builder--card__empty {
  padding: 32px;
  height: 100%;
  justify-content: center;
}

.alert-builder--message-template {
  .cf-text-area--container.cf-input-md {
    height: auto;
  }
  textarea {
    height: 90px;
  }
}


.alert-builder--check-type-selector {
  margin: $ix-marg-c;
}

.alert-builder--tag-row {
  margin-bottom: $ix-marg-b;
}
