/*
  Progress Bar Styles
  ------------------------------------------------------------------------------
*/

.wizard--progress-header {
  position: relative;
  background-color: $g3-castle;
  min-width: 100%;
  padding: $ix-marg-b $ix-marg-c;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: $radius;
}

.wizard--progress-bar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
}

.wizard--progress-skip {
  position: absolute;
  right: $ix-marg-c;
}