/*
  Wizard Progress Header Styles
  ------------------------------------------------------------------------------
*/

.wizard--progress-header {
  position: relative;
  background-color: $g0-obsidian;
  width: 80%;
  max-width: 1000px;
  height: 50px;
  padding: 0 $ix-marg-c;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: $radius;
}

.wizard--progress-skip {
  position: absolute;
  right: $ix-marg-c;
}

.wizard--progress-header.hidden {
  visibility: hidden;
}
