/*
  Wizard Step Styles
  ------------------------------------------------------------------------------
*/

.wizard-step--container {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: $ix-marg-d 0;
  flex-grow: 1;
  width: 100%;
  background-color: $g3-castle;
  border-radius: $radius;
}

.wizard-step--child {
  padding: 0 $ix-marg-d $ix-marg-d $ix-marg-d;
  overflow-y: scroll;
  min-height: 100%;
  position: relative;
  z-index: 10;
}

.wizard-step--mask{
  position: absolute;
  height: $ix-marg-c;
  min-width: 100%;
  @include gradient-v(rgba(28, 28, 33, 0), $g1-raven);
  bottom: 0;
  z-index: 20;
}