/*
  Full Screen Wizard Styles
  ------------------------------------------------------------------------------
*/

.wizard--full-screen {
  min-width: 100%;
  min-height: 100%;
  padding: $ix-marg-d $ix-marg-e;
  z-index: 50;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.welcome-logo {
  background-image: url('../../assets/images/cubo_doodle.svg');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 812px;
  height: 170px;
}

.completion-logo {
  background-image: url('../../assets/images/cubo_doodle_green.svg');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 812px;
  height: 170px;
}

.wizard--credits {
  display: inline-flex;
  align-items: center;

  span {
    margin: 0 5px;
  }
}