@import "src/style/modules";

.builder-card {
  position: relative;
  overflow: hidden;
  min-height: 150px;
  background: $g4-onyx;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.builder-card-search-bar {
  margin: 10px;
  flex-grow: 0;
  flex-shrink: 0;
}

.builder-card--items {
  flex: 1 1 0;
  overflow: scroll;
}

.builder-card--item {
  font-weight: 500;
  padding: 5px 15px;
  margin-bottom: 1px;
  cursor: pointer;
  color: $g14-chromium;
  font-family: $code-font;

  &.selected {
    background: $c-pool;
    color: $g18-cloud;
  }

  &.selected:hover {
    background: $c-pool;
    opacity: 0.9;
  }

  &:hover {
    background: $g4-onyx;
  }
}

.builder-card--empty {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: $g8-storm;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding: 20px;

  .waiting-text {
    text-align: start;
    width: 85px;
    margin: 0 auto;

  }
}

.builder-card-limit-message {
  padding: 15px;
  color: $g9-mountain;
  text-align: center;
  font-style: italic;
}
