/*
  Code Snippet Widget
  ------------------------------------------------------------------------------
*/

.code-snippet {
  border-radius: $cf-radius;
  overflow: hidden;
  border: $cf-border solid $g2-kevlar;
  background-color: $g2-kevlar;
  margin-bottom: $cf-marg-b;
}

.code-snippet--scroll {
  min-height: 26px !important;
  max-height: 200px;
  border-radius: $cf-radius-sm;
  overflow: hidden;
}

.code-snippet--text {
  font-size: 13px;
  color: $c-potassium;
  font-weight: $cf-font-weight--bold;
  font-family: $cf-code-font;
  border-radius: $cf-radius-sm;
  background-color: $g0-obsidian;

  pre {
    display: inline-block;
    white-space: pre-wrap;
    padding: $cf-marg-b $cf-marg-c;
  }

  pre,
  code {
    word-wrap: break-word;
    word-break: break-all;
  }
}

.new-token--btn {
  margin: $cf-marg-a $cf-marg-c;
}

.code-snippet--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $cf-marg-b $cf-marg-c;
  border-top: $cf-border solid $g2-kevlar;
}

.code-snippet--label {
  font-size: $cf-text-base;
  color: $g11-sidewalk;
  margin: 0;
}
