.color-scheme-dropdown--item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.color-scheme-dropdown--swatches {
  width: 100px;
  height: 10px;
  border-radius: 5px;
  margin-right: 10px;
  
}
