.color-dropdown--item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.color-dropdown--swatch {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}
