.color-scheme-dropdown-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.color-scheme-dropdown-item--swatches {
  width: 90px;
  height: 8px;
  border-radius: 4px;
  margin-right: 10px;
  
}
