.script-snippet {
    background-color: $g4-onyx;
    border-radius: $radius;
    margin: $ix-marg-a 0;
    padding: $ix-marg-b;
    overflow-x: auto;
    font-family: 'RobotoMono', monospace;
  }

 .copy-button{
    float: right;
    margin-left:10px auto;
  }