.empty-graph-error {
  width: 100%;
  height: 100%;
  border-radius: $cf-radius;
  background-color: $g0-obsidian;
  position: relative;
  color: $c-dreamsicle;
  border: $cf-border solid $g2-kevlar;

  pre {
    font-size: 14px;
    padding: $cf-marg-b;
    user-select: text !important;
    cursor: text;
  }
}

.empty-graph-error--icon {
  display: inline-block;
  margin-right: $cf-marg-b;
}

.empty-graph-error--copy {
  margin-top: $cf-marg-a;
  margin-right: $cf-marg-a;
}

.empty-graph-error--scroll {
  margin-top: $cf-marg-c;
}
