$event-marker-tooltip-gutter: 10px;
$event-marker-tooltip-bg: $g1-raven;

.event-marker-tooltip {
  background-color: $event-marker-tooltip-bg;
  padding: $event-marker-tooltip-gutter;
  border: 0;

  .right & + .box-tooltip--caret-container .box-tooltip--caret {
    border-right-color: $event-marker-tooltip-bg;
  }

  .left & + .box-tooltip--caret-container .box-tooltip--caret {
    border-left-color: $event-marker-tooltip-bg;
  }
}

.event-marker-tooltip--table {
  display: flex;
}

.event-marker-tooltip--column {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin-right: $event-marker-tooltip-gutter;

  &:last-child {
    margin-right: 0;
  }
}

.event-marker-tooltip--header,
.event-marker-tooltip--cell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  text-align: left;
  margin-bottom: $ix-marg-a;

  *:last-child {
    margin-bottom: 0;
  }
}

.event-marker-tooltip--cell {
  color: $g15-platinum;
  line-height: 10px;
  font-size: 10px;
  font-family: $cf-code-font;
}

.event-marker-tooltip--header {
  color: $g11-sidewalk;
  font-size: 11px;
  line-height: 11px;
  font-weight: 500;
}
