@import "src/style/modules";

.histogram-tooltip {
  font-size: 12px;
  font-family: $code-font;
  background: $g2-kevlar;
  border-radius: $ix-radius;
  border: 1px solid $g3-castle;
  padding: 10px;
  color: $g14-chromium;
  z-index: $z--dygraph-legend;
}

.histogram-tooltip--table {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.histogram-tooltip--fills {
  margin-right: 15px;
}

.histogram-tooltip--fill {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.histogram-tooltip--fill, .histogram-tooltip--count {
  height: 17px;
}

.histogram-tooltip--counts {
  text-align: right;
  flex: 1 1 0;
}

.histogram-tooltip--column-header {
  color: $g10-wolf;
  margin-bottom: 5px;
}
