
@import 'src/style/modules';

.input-cte{
    padding:10px;
    border: 1px solid;
    border-radius: 3px;
    border-color: $g2-kevlar;
}
.input-cte-span{
    padding:10px;
    margin-right: 150px;
}