@import 'src/style/modules';
/*
  Resource Label Form styling
  ---------------------------------------------
*/

.resource-label--form {
  width: 100%;

  .form--element {
    margin: 0;
  }
  .component-spacer--horizontal {
    align-items: flex-start;
  }
}   
