.searchable-dropdown--input-container {
  width: 100%;
  padding: $ix-marg-b;
  border-bottom: $ix-border solid $g5-pepper;
}

.searchable-dropdown--empty {
  padding: $ix-marg-b;
  text-align: center;
  opacity: 0.75;
  user-select: none;
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
}
