@import 'src/style/modules';

.single-stat {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: $c-laser;
  @include no-user-select();
}

.single-stat--resizer {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.single-stat--text {
  font-family: $ix-text-font;
  font-weight: 300;
  letter-spacing: -2px;
}
