.single-stat {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: $cf-marg-b;
  color: $c-laser;
  @include no-user-select();
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: $cf-radius;
}

.single-stat--resizer {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.dygraph-child .single-stat--resizer {
    height: 100%;
    margin-top: 0;
  }

.single-stat--text {
  font-family: $cf-text-font;
  font-weight: $cf-font-weight--light;
  letter-spacing: -0.05em;
}
