@import "src/style/modules";

.tag-selector {
  min-height: 130px;
  background: $g4-onyx;
  border-radius: $radius;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: $form-sm-font;
  position: relative;
}

.tag-selector--top,
.tag-selector--search {
  margin: $ix-marg-b;
}

.tag-selector--top {
  display: flex;
  justify-content: flex-end;
}

.tag-selector--search {
  margin-top: 0;
  width: initial !important;
}

button.tag-selector--remove,
.tag-selector--count {
  flex: 0 0 $form-sm-height;
  margin-left: $ix-marg-b;
}

.tag-selector--count {
  height: $form-sm-height;
  background-color: $g2-kevlar;
  border-radius: 50%;
  text-align: center;
  line-height: $form-sm-height;
  font-weight: 900;
  user-select: none;
  color: $c-pool;
}

.tag-selector .selector-list {
  flex: 1 1 0;
}


.tag-selector--empty {
  pointer-events: none;
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $g8-storm;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 12px 36px 12px;
}
