/*
   Time Machine Queries Switcher
   -----------------------------------------------------------------------------
*/

@import 'src/style/modules';

.time-machine-queries-switcher--warning {
  font-size: 15px;
  font-weight: 500;
  color: $g13-mist;
  margin: 0;
}
