@import "src/style/modules";

.time-machine-queries-timer {
  white-space: nowrap;
  flex: 1 1 auto;
  font-size: 13px;
  font-weight: 400;
  padding-right: $ix-marg-b;
  color: $g10-wolf;
  transition: 0.3s;
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}
