/*
  Time Machine Styles
  ------------------------------------------------------------------------------
*/

@import 'src/style/modules';

$time-machine--controls-height: 62px;

.time-machine {
  height: 100%;
}

.time-machine--top,
.time-machine--bottom {
  border-radius: $radius;
  width: 100%;
  height: 100%;
  position: absolute;
}

.time-machine--top {
  position: relative;
  background-color: $g3-castle;
}

.time-machine--bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $g2-kevlar;
  background-color: $g3-castle;
}

.time-machine--bottom-tabs {
  padding: $ix-marg-b 0;
  width: 270px;
}

.time-machine--bottom-contents {
  overflow: hidden;
  width: 100%;
  flex: 0 0 calc(100% - #{($ix-marg-b * 2) + $form-sm-height});
}

.time-machine--controls {
  height: $time-machine--controls-height;
  width: 100%;
  display: flex;
  align-items: center;
  padding: $ix-marg-c;
  justify-content: space-between;
}

.time-machine--controls .slide-toggle {
  margin-right: $ix-marg-b;
}

.time-machine--view {
  width: 100%;
  height: calc(100% - #{$time-machine--controls-height});
}