/*
  VersionInfo
  -----------------------------------------------------------------------------
*/

.version-info {
  border-radius: 0 0 $ix-radius $ix-radius;
  color: $g9-mountain;

  p {
    margin: 0;
  }
}