.add-alert-check-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  p {
    font-size: $ix-text-base-2;
    color: $g9-mountain;
    text-align: center;
    margin-bottom: $ix-marg-a;
  }

  button {
    margin-top: $ix-marg-d;
  }
}
