.editor-shortcuts {
  width: 250px;
}

.editor-shortcuts--body {
  dt {
    float: left;
    padding-right: $ix-marg-a;
    font-weight: 700;
    color: $g18-cloud;
  }
  dd {
    white-space: nowrap;
  }
}