.editor-shortcuts {
  width: 250px;

  h5 {
      margin: 8px 0 12px;
  }
}

.editor-shortcuts--body {
    font-size: 14px;
    line-height: 16px;
  dt {
    padding-right: $ix-marg-a;
    font-weight: 700;
    color: $g18-cloud;
    margin-top: 8px;
  }
  dd {
    display: block
  }
}
