/*
   Time Machine Queries Switcher
   -----------------------------------------------------------------------------
*/

.queries-switcher--warning {
  font-size: 15px;
  font-weight: 500;
  color: $g13-mist;
  margin: 0;
}
