.query-builder {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: $ix-marg-b;
  display: flex;
  flex-direction: column;
  @include no-user-select();
}

.query-builder--cards {
  flex: 1 1 0;
  display: flex;
  justify-content: space-between;
}
