/*
  Avatar Styles
  ------------------------------------------------------------------------------
  Used to represent organizations or users
*/

.avatar {
  border-radius: 50%;
  background-position: center center;
  background-size: 100% 100%;
}